[2018-12-18 12:26] taozhi8833998 opened #1 "fix test cases"
some test case could not be passed, fix them

[2018-12-24 09:01] taozhi8833998 commented on #1
fixed by 871675c64947520f8d10ff85cc72a5686d51a4ef

[2018-12-24 09:01] #1 closed

[2018-12-25 08:05] taozhi8833998 opened #2 "support convert delete, update and insert ast back to sql"
- support convert delete, update and insert ast back to sql

[2019-01-03 08:50] taozhi8833998 commented on #2
support in d28eb1c2bba83b1aa32ccad024908c289306281a

[2019-01-03 08:50] #2 closed

[2019-01-21 11:57] taozhi8833998 opened #6 "columnList support"
- support output the columns info that used in sql

[2019-01-21 13:35] #6 closed

[2019-01-27 14:06] taozhi8833998 opened #9 "add typescript definition"
- add typescript definition  support

[2019-01-29 03:07] #9 closed

[2019-03-01 18:39] sm373373 opened #21 "Anyway to disable scalar functions?"
I'm trying to use this parser to parse spark sql.

I've run across a situation where my spark sql select clause contains one of the scalar functions which then throws an error.

Example:

current_date() is a valid spark sql function but it is throwing an error in the parser because the parser thinks current_date is a scalar function and shouldn't have the parenthesis attached to the end.

https://

[2019-03-11 13:37] taozhi8833998 commented on #21
@sm373373 Sorry for later reply. It supports scalar function with optional parentheses in 1.2.0 version now, you could read more in this commit 1f0a3708ac4ee2635ae5f237a123cc91e629e3cd. Thanks for using the parser

[2019-03-11 13:37] #21 closed

[2019-03-11 16:20] sm373373 commented on #21
works good. thanks

[2019-03-14 19:49] sm373373 opened #24 "sql parsing issue with select *"
Found an issue when selecting * and then another field when * doesn't have an alias.

Ex.

The following sql fails but is really valid sql:

`select *, 'a' as col2 from table1`

This only fails when * has no alias/table prefix.

`select table1.*, 'a' as col2 from table1`

works fine.

[2019-03-15 06:12] taozhi8833998 commented on #24
fixed in 1.2.2 version, read more in commit fade9fb52fbc3af83c97e9bbbae417d3ecdc64e7. BTW, `*` could not hava alias as far as I know. If I am wrong, please correct me

[2019-03-15 06:12] #24 closed

[2019-03-15 13:26] sm373373 commented on #24
Yeah, works fine and your test cases look good.

Thanks.

[2019-05-20 13:44] taozhi8833998 opened #33 "support commands like Alter, Rename, Drop, Truncate etc"
- support commands like Alter, Rename, Drop, Truncate etc

[2019-05-21 08:06] taozhi8833998 commented on #33
- support rename, drop and truncate in commit f9ab2c4c7ba875c38c6464d915705b454587abe3

[2019-07-11 18:38] Quinncuatro commented on #33
Thanks for this @taozhi8833998 - I'm going to use your code to try and add CALL as well.

[2019-07-11 18:40] Quinncuatro opened #42 "Support commands like CALL"

[2019-07-11 18:42] Quinncuatro commented on #42
Using a previous issue from @taozhi8833998 to try and add in CALL functionality.

[2019-07-11 20:32] sergiogiogio opened #43 "Support concatenation operator (||)"
Currently an error is reported for statement "SELECT 'a'||'b' FROM t"

{ SyntaxError: Expected "!=", "%", "'", "*", "+", ",", "-", "--", ".", "/", "/*", ";", "<", "<=", "<>", "=", ">", ">=", "AND", "AS", "BETWEEN", "FROM", "GROUP", "HAVING", "IN", "IS", "LIKE", "LIMIT", "NOT", "OR", "ORDER", "UNION", "WHERE", "\"", "`", [ \t\n\r], [A-Za-z_], or end of input but "|" found.
[snip]
name: 'SyntaxError

[2019-07-11 20:38] sergiogiogio opened #44 "Support unary operators (-x, +x)"
Currently an error is reported for statement "SELECT -a FROM t"

{ SyntaxError: Expected [0-9] but "a" found.
[snip]
name: 'SyntaxError' }

[2019-07-11 20:50] Quinncuatro commented on #42
@taozhi8833998 - I created a new pegjs-parser file using https://pegjs.org/online that works for a given CALL command I'm looking to parse.

I changed the beginning and the end of the file to match the one provided in your package (like matching your 'module.exports' object).

However, the changes don't seem to be working when I try to run your example parser script against it.

[code]

Any idea w

[2019-07-11 21:41] Quinncuatro commented on #42
I've tried playing with it myself a few different ways.

How do you go from having a valid and working `sql.pegjs` file to having everything work after `npm run build`? I feel like I'm missing something.

[2019-07-12 14:12] Quinncuatro commented on #43
Noticed you put in a couple issues, too. Have you had any luck modifying this?

[2019-07-12 20:49] sergiogiogio commented on #43
I have not explored modifying the code, i hope @taozhi8833998 vsn help us out :)

[2019-07-15 14:11] taozhi8833998 commented on #42
Sorry for the late reply. I have supported for `call` command in *1.3.1* version, you could read more about that in 99085b7d8accfcd439cbf45359eef52eccbbc543

[2019-07-15 14:11] #42 closed

[2019-07-15 14:13] Quinncuatro commented on #42
@taozhi8833998 - You're the best! Do you have a Venmo or something so I can send you $5 for a coffee?

[2019-07-15 14:17] taozhi8833998 commented on #42
you need build `sql.pegjs` with [pegjs](https://www.npmjs.com/package/pegjs) module by command like `pegjs -o pegjs-parser.js sql.pegjs`.

[2019-07-15 14:21] Quinncuatro commented on #42
I mean that's what I was doing. It just hasn't been working correctly when I run it locally.

Got all of the pegjs working correctly in the online tester, but I was getting a handful of different errors when I tried to build and implement locally.

[2019-07-15 14:23] taozhi8833998 commented on #42
Thanks for your kindness! I am very happy that my project could help you. You could give a star on this project If it's convenient for you.

[2019-07-15 14:24] taozhi8833998 commented on #42
It would be much more clear if you could show me the error msg

[2019-07-15 14:26] taozhi8833998 commented on #33
closed this issue since it has been solved in *1.3.1* version

[2019-07-15 14:26] #33 closed

[2019-07-15 14:28] Quinncuatro commented on #42
Star'd!

Sure thing, just might not be until tomorrow.

[2019-07-15 14:28] Quinncuatro commented on #43
@sergiogiogio - He just added in my request. Might be moving to yours next!

[2019-07-15 14:33] taozhi8833998 commented on #42
it's ok, I'm back from vacations and online for most time

[2019-07-15 14:37] taozhi8833998 commented on #43
working on it now

[2019-07-15 16:03] taozhi8833998 commented on #43
@sergiogiogio It supports `||`(for concatenation in Oracle) and `&&` now, you could read the test cases in 81ff726c24802cdcf4d0b6d38340377a60d2a36a. I will publish new version when another issue unary operators have been developed and tested.

[2019-07-15 16:03] #43 closed

[2019-07-15 16:48] taozhi8833998 commented on #44
It can parse unary operators by  commit ce09422e9eb0eb576c736818945f22ecc8087351, you could using it in **1.3.2** version now. If you have any problems with this issue, please let me know it.

[2019-07-15 16:48] #44 closed

[2019-08-08 17:58] Quinncuatro opened #49 "Add support for the USE command."
We have SQL files that hit different databases. Could you add support for USE, so I can use your tool to help keep track of what's happening where?

[2019-08-08 18:53] Quinncuatro opened #50 "Semi colon breaking DROP and UPDATE queries."
[code]

is outputting

[code]

[2019-08-09 03:16] taozhi8833998 commented on #50
it supported drop and truncate cmd with semicolon suffix in SQL, and the corresponding commit is 56c3f077d25eb4d8f7697ab4cfc49b727847560f. But it looks like semicolon didn't break **UPDATE** queries, you could show me the example. I will publish new version **1.3.3** when another issue been sovled

[2019-08-09 03:16] #50 closed

[2019-08-09 03:47] taozhi8833998 commented on #49
**1.3.3** version has supported `use` command, you could try with it. more info in e591961ab67979ba22f896e28ee3258ac9b6a718

[2019-08-09 03:47] #49 closed

[2019-08-09 13:43] Quinncuatro commented on #50
Sorry, meant TRUNCATE instead of UPDATE.

[2019-08-09 13:44] Quinncuatro commented on #50
[code]

outputs

[code]

[2019-08-09 13:59] taozhi8833998 commented on #50
upgrade `node-sql-parser` to version **1.3.3**

[2019-08-09 14:12] Quinncuatro commented on #50
Word. Will do later this morning and I'll report back with the results!

[2019-08-09 14:15] Quinncuatro commented on #50
Looks like it's good. Thanks for being so on the ball with issues!

Sure I can't send you $5 for coffee or whatever?

[2019-08-10 15:18] Quinncuatro opened #52 "Having an issue with periods in CALL statements."
[code]

is outputting

[code]

[2019-08-10 16:10] Quinncuatro opened #53 "Ast output for parser.astify("DELETE QUERY") shows `tables: null`."
[code]

outputs

[code]

[2019-08-10 16:12] Quinncuatro opened #54 "Output for `parser.astify("${DELETE_QUERY}")` shows `tables: null`"
[code]

outputs

[code]

I feel like I shouldn't have to dig into `ast.from.table` when `ast.tables` works for other types of queries.

[2019-08-10 16:25] Quinncuatro opened #55 "Add support for DROP and TRUNCATE when astify-ing a file."
[code]

when using a `testfile.sql` file that includes lines like `DROP TABLE table` or `TRUNCATE TABLE whatever` outputs:

[code]

[2019-08-11 03:09] taozhi8833998 commented on #52
added in 444cab17ad1ef3845c59d67b59b514209ad152f5. BTW, whethe an right parentheses missed in ur `call` statment??

[code]

[2019-08-11 03:09] #52 closed

[2019-08-11 03:36] taozhi8833998 commented on #53
if you need `tables` column you must specified the tables you deleted by `DELETE whatever FROM whatever WHERE Feels = 'Forever';`. The tables is used in multiple delete, if this doesn't solve your issue, you can reopen it, and I wil add default tables when the tables column is missing by default

[2019-08-11 03:36] #53 closed

[2019-08-11 04:12] taozhi8833998 commented on #54
it looks like the same issue as #53, `ast.tables` is only working in multiple delete or you specified the deleted table. I can't determine which tables you want to delete. I have supported single table delete SQL, But you have to specified table you want to delete when in multiple delete. Read more about that in [delete](https://dev.mysql.com/doc/refman/8.0/en/delete.html), the commit codes c9bf34

[2019-08-11 04:12] #54 closed

[2019-08-11 04:26] taozhi8833998 commented on #55
could you show me some SQLs in `testfile.sql`, so I can reappear what you met

[2019-08-11 04:27] taozhi8833998 commented on #52
I will publish it in `1.3.4` version later

[2019-08-11 04:27] taozhi8833998 commented on #53
I will publish it in `1.3.4` version later

[2019-08-11 04:27] taozhi8833998 commented on #54
I will publish it in `1.3.4` version later

[2019-08-11 05:02] #55 closed

[2019-08-11 05:39] taozhi8833998 commented on #50
add coffee pay in `readme` by PayPal, Alipay, and Wechat. Thanks for your kindness

[2019-08-12 13:12] Quinncuatro commented on #54
The way we're using the `DELETE FROM whatever WHERE Feels = 'Forever';` query, it defaults to the same action as `DELETE * FROM whatever WHERE Feels = 'Forever';`

[2019-08-12 14:29] Quinncuatro opened #56 "Add support for table aliases"
[code]

outputs

[code]

[2019-08-12 14:30] Quinncuatro commented on #52
Seems to work fine now! 👍🏻

[2019-08-12 14:30] Quinncuatro commented on #55
Seems to work fine now! 👍🏻

[2019-08-12 14:38] Quinncuatro opened #57 "Add ALTER support"
[code]

outputs

[code]

[2019-08-13 03:36] taozhi8833998 commented on #56
supported in 0a77068b69d744e53bc13450bdc111d8f0cd8149, But I removed the `tables` in `delete` SQL using `table` instead !!! This is an break change, you need change   when upgrade version to `1.4.0`. Sorry for that. BTW, the SQL
[code]
missed  `SET` clause that you should add

[2019-08-13 03:36] #56 closed

[2019-08-13 06:13] taozhi8833998 commented on #57
developing... coming soon

[2019-08-13 13:24] Quinncuatro commented on #57
You. Are. The. Man.

Check your PayPal later!

[2019-08-13 13:48] Quinncuatro commented on #56
Word!

While we're on `SET`, could you add `SET` as a first class query?

`
SET @oldvalue = 12345;
SET @newvalue = '';
`

outputs

`
/usr/src/app/node_modules/node-sql-parser/build/pegjs-parser.js:13344
    throw peg$buildStructuredError(
    ^
SyntaxError: Expected "$", "(", "--", "/*", ";", "@", "CALL", "DELETE", "DROP", "INSERT", "RENAME", "REPLACE", "SELECT", "TRUNCATE", "UPDATE", "USE", "WITH

[2019-08-13 20:09] Quinncuatro opened #59 "Add support for ignoring comments"
Right now I need to use some regex magic to strip out comments (both one liners and block comments) before I push SQL through your parser.

The parser should be able to just ignore comments.

[2019-08-14 01:39] taozhi8833998 commented on #56
it looks like you are defining some variables, and later you would use @oldvalue instead of 12345. OK, I will support that

[2019-08-14 01:47] Quinncuatro commented on #56
Thank you so much!

[2019-08-14 14:45] taozhi8833998 commented on #56
`set` command has been supported in `1.4.1-beta` version since `alter` has lots of grammar, It will take some time to finish support that all.

[2019-08-14 14:48] Quinncuatro commented on #56
Take your time on it. I'm fleshing out some other parts of this application. I think I have a demo for the company I'm working for on Monday, but I can use some SQL files for the demo that don't include `ALTER`.

[2019-08-14 14:50] taozhi8833998 commented on #57
`1.4.1-beta` version support `alter` to parse add the column, drop the column. Alter has lots of grammar, It will take some time to finish support that all. When I finished that all, I will publish an offical version instead of beta. if you have any emergency alter grammar please let me know!!

[2019-08-14 15:04] taozhi8833998 commented on #59
ok, I will add it later

[2019-08-14 15:05] taozhi8833998 commented on #57
you could try `1.4.1-beta` version for partial supported `alter` grammar now

[2019-08-15 02:12] taozhi8833998 commented on #56
ok，I will keep working on this modular

[2019-08-15 08:59] taozhi8833998 commented on #59
the feature has been supported in 5f770a9c5fc4f64581727efd989d20ff3f4d637b, I will publish new version later.

[2019-08-15 08:59] #59 closed

[2019-08-15 19:08] Quinncuatro opened #62 "Add backtick support for TRUNCATE (and other query types)."
`
TRUNCATE `db_name`.`table_name`;
`

outputs

`
/Users/hquinn/dev/GoBStopper/incremental/arrayChecker/node_modules/node-sql-parser/build/pegjs-parser.js:13376
    throw peg$buildStructuredError(
    ^
SyntaxError: Expected "--", "/*", "TABLE", or [ \t\n\r] but "`" found.
    at peg$buildStructuredError (/Users/hquinn/dev/GoBStopper/incremental/arrayChecker/node_modules/node-sql-parser/build/pegjs

[2019-08-15 19:16] Quinncuatro opened #63 "Add ENGINE / AUTO_INCREMENT / etc... support"
`
CREATE TABLE `db_name`.`table_name` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;
`

outputs

`
/Users/hquinn/dev/GoBStopper/incremental/arrayChecker/node_modules/node-sql-parser/build/pegjs-parser.js:13376
    throw peg$buildStructuredError(
    ^
SyntaxError: Expected "--", ".", "/*", ";", [ \t\n\r], or end of input but "

[2019-08-15 20:55] Quinncuatro opened #64 "Add `SET whatever = "data"` support"
`
UPDATE `tbl_name` SET `Label` = 'LABEL_NAME', `Column_Name` = 'column-data' WHERE `id` = '15';
`

outputs

`
/Users/hquinn/dev/GoBStopper/incremental/arrayChecker/node_modules/node-sql-parser/build/pegjs-parser.js:13376
    throw peg$buildStructuredError(
    ^
SyntaxError: Expected "--", ".", "/*", or [ \t\n\r] but "=" found.
    at peg$buildStructuredError (/Users/hquinn/dev/GoBStopper/increme

[2019-08-16 03:27] taozhi8833998 commented on #64
it supported before, and the SQL that you pasted been parsed successfully!!! If I am wrong, correct me, and reopen this issue

[2019-08-16 03:27] #64 closed

[2019-08-16 04:27] taozhi8833998 commented on #62
you could use `TRUNCATE TABLE db_name.table_name;` currently, The `TABLE`  keyword is required now, I will change it to optional later

[2019-08-16 12:57] Quinncuatro commented on #62
In a perfect world, the folks writing all of the SQL I'm parsing would be following a strict standard. Unfortunately that's not the world I live in, haha. 🙃

[2019-08-16 12:58] taozhi8833998 commented on #62
add in 968fcb7b3a986d33e47bb4d8f5da2b3c15769d6f

[2019-08-16 12:58] #62 closed

[2019-08-16 12:59] Quinncuatro commented on #64
UPDATE `tbl_name` SET `Label` = 'LABEL_NAME', `Column_Name` = 'column-data' WHERE `id` = '15'

[2019-08-16 13:00] Quinncuatro commented on #64
Try this version. The original comment hid my backticks.

[2019-08-16 13:19] Quinncuatro commented on #64
Was not working on 1.4.0

[2019-08-17 06:52] taozhi8833998 commented on #64
Sorry for that, try `1.4.1` version

[2019-08-17 06:53] taozhi8833998 commented on #62
haha, try `1.4.1` version

[2019-08-19 14:21] Quinncuatro opened #65 "Reall unsure what's happening here. Seems like it doesn't like a WHERE on an UPDATE."
[code]

outputs

[code]

[2019-08-19 14:22] Quinncuatro commented on #65
Nevvvvvvvermind. Had my `SET @oldinsert = xxx` and `SET @newinsert = yyy` commented out from an older version of node-sql-parser. Uncommented and everything works perfect!

[2019-08-19 14:22] #65 closed

[2019-08-25 20:04] Quinncuatro commented on #57
Will do!

[2019-08-25 20:04] Quinncuatro commented on #63
Sorry, was working on other parts of this project. I'll start submitting more issues as I find them.

Any update on this, though? ^^

[2019-08-28 21:38] pidgeonman opened #70 "Problem when parsing sql data with tab character"
I'm trying to astify some SQL that contains strings (raw HTML code) with tabs characters, but it's failing with the error:

`'Expected "\'", "\\\\\'", "\\\\/", "\\\\\\"", "\\\\\\\\", "\\\\b", "\\\\f", "\\\\n", "\\\\r", "\\\\t", "\\\\u", or [^\'\\\\\\0-\\x1F\\x7F] but "\\t" found.'`

I can't share the raw SQL I'm using because of privacy, but it's something like:

`INSERT INTO `some_table` (`ID`, `

[2019-08-28 21:53] pidgeonman commented on #70
More info:

Using the latest version.

Some stack trace:

`{ SyntaxError: Expected "'", "\\'", "\\/", "\\\"", "\\\\", "\\b", "\\f", "\\n", "\\r", "\\t", "\\u", or [^'\\\0-\x1F\x7F] but "\t" found.
    at peg$buildStructuredError (/my/path/node_modules/node-sql-parser/build/pegjs-parser.js:1203:12)
    at peg$parse (/my/path/node_modules/node-sql-parser/build/pegjs-parser.js:13185:11)
    at Parser

[2019-08-30 01:15] taozhi8833998 commented on #70
The SQL you pasted has been parsed successfully in `1.4.1` version,  you could show me the real SQL

[code]

[2019-08-30 15:17] Quinncuatro opened #71 "Issue with `then` and `else` in INSERT."
[code]

outputs

[code]

[2019-08-31 09:44] HoldYourWaffle opened #73 "Duplicate type definitions"
Related to #9.

You contributed the type definitions for this package to [DefinitelyTyped yourself](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32555), but they are also included in the package itself. Do you have a specific reason for this? I don't see a reason why a package with included typings needs to have an additional DefinitelyTyped package.

[2019-09-01 08:18] taozhi8833998 commented on #71
ok, I will check it out

[2019-09-01 08:22] taozhi8833998 commented on #73
Sorry for anonying！ I have deleted `index.d.ts` in my project

[2019-09-01 08:22] #73 closed

[2019-09-01 08:30] #70 closed

[2019-09-01 08:31] taozhi8833998 commented on #70
If it stills there, you could show me the real SQL by removing the private data, and reopen the issue.

[2019-09-01 08:32] taozhi8833998 commented on #57
support `alter table` on `index`

[2019-09-01 08:42] HoldYourWaffle commented on #73
Oh it's not annoying or anything, just a little weird. since it makes the DefinitelyTyped package redundant.

Wouldn't it be better to keep the file here and remove the DefinitelyTyped variant? That way you don't have to maintain "2 repositories", can update the typings at any time without going through the approval procedure at DefinitelyTyped and users won't have to install an extra package. I'm

[2019-09-02 13:10] taozhi8833998 commented on #63
working on it, I will publish this feature later

[2019-09-02 14:17] taozhi8833998 commented on #63
already supported `create table syntax`, I will publish new version after all test cases passed

[2019-09-04 11:09] taozhi8833998 commented on #63
@Quinncuatro try version 1.5.0

[2019-09-05 11:38] taozhi8833998 commented on #71
@Quinncuatro please show me the real SQL by removing the secret data. The SQL you pasted is invalid, and it's select not insert.

[2019-09-06 16:22] Quinncuatro commented on #71
You're right that the SQL is invalid, but I can't share the original SQL. Company IP and all that.

[2019-09-08 06:17] taozhi8833998 commented on #71
you could replace the secret data with ? or empty, and the column name could be replaced, but the structure of SQL should be reserved

[2019-09-16 20:45] Quinncuatro opened #81 "Add support for `ADD COLUMN IF NOT EXISTS`"
[code]

outputs

[code]

[2019-09-17 03:24] #63 closed

[2019-09-17 06:36] taozhi8833998 commented on #81
you are using this parser in `MariaDB` ??

[code]

the SQL is invalid in MySQL, you could read more alter [syntax](https://dev.mysql.com/doc/refman/8.0/en/alter-table.html)

[2019-09-17 13:32] Quinncuatro commented on #81
I actually am using MariaDB.

When I was looking for parsers, yours looked the closest to what I needed, and the syntax between MySQL and MariaDB was close enough that I wasn't super worried about it.

How do you want to move forward? Worth setting up a MariaDB branch?

[2019-09-19 13:55] taozhi8833998 commented on #81
ok，I wil add it

[2019-09-24 02:39] taozhi8833998 commented on #81
I will publish new version for that today

[2019-09-24 14:07] taozhi8833998 commented on #81
@Quinncuatro install the `1.6.0` version

[code]

I have separated the MariaDB from MySQL syntax, will add supported more MariaDB syntax if you need

[2019-09-24 14:07] #81 closed

[2019-09-26 11:50] wxhuang opened #89 "Any plan about bigint support?"
[code]
Such big number in parsing an SQL will lose precision.
Maybe we can use the Bigint feature on nodejs version 10.8.0 or above?

[2019-09-27 13:07] taozhi8833998 commented on #89
it supported big number now, try `1.6.1` version. Thanks for your usage.

[2019-09-27 13:07] #89 closed

[2019-10-01 07:56] minhhien1996 opened #94 "Allow option to set quote character?"
In some database such as PostgreSQL, the quote character is not back stick .  Can you allow that in `opts`? Or we can choose the quote character based on the `opts` `database` ?

[2019-10-01 08:56] taozhi8833998 commented on #94
ok, I will add it in options, then you could define it by yourself

[2019-10-01 10:32] taozhi8833998 commented on #94
try `1.6.3` version.

[code]
Does the above codes could get ur mind???
I will close this issue if it not right, reopen it and show me some cases

[2019-10-01 10:32] #94 closed

[2019-10-01 17:21] Quinncuatro opened #96 "Got you up on up-for-grabs.net. Hopefully you get some help in here. :)"
https://up-for-grabs.net/#/filters?names=495

[2019-10-02 01:39] minhhien1996 commented on #94
Thanks. `1.6.3` is exactly what I'm looking for

[2019-10-02 05:04] minhhien1996 commented on #94
I found out that it is not working on the browser, so I have read your commit for the version `1.6.3` and found out the reason is usage of `process.env`. Can we change that?

[2019-10-02 12:05] taozhi8833998 commented on #94
ok, I will change it later

[2019-10-04 02:31] taozhi8833998 commented on #96
ok, I will check it out later, thanks

[2019-10-04 02:50] taozhi8833998 commented on #94
sorry for bad implementation and late reply, I have published `1.6.4` version, and fixed that. You could try the new version.

[2019-10-08 02:49] taozhi8833998 opened #100 "Modular grammar"
I will modular common grammar when pegjs support https://github.com/pegjs/pegjs/issues/523, and the feature has been discussed https://github.com/pegjs/pegjs/issues/38. The grammar source code would be huge currently.

[2019-10-14 20:15] Quinncuatro opened #107 "CALL parsing erroring for MariaDB"
[code]

outputs

[code]

[2019-10-14 20:33] Quinncuatro commented on #107
Seems more to be an issue if there's a blank line before the first parsable line.

I have a script to pull out lines I don't care about (`USE databaseName`) in this case. So there will be an empty line above the `CALL` line. If I manually remove that blank line between `USE` and `CALL` before running it through my sanitizer to pull out lines I don't care about, I get the above error.

[2019-10-21 02:46] taozhi8833998 commented on #107
fixed in `1.6.6` version

[2019-10-21 02:46] #107 closed

[2019-11-15 15:35] JesseCastro opened #118 "Support for INSERT...SELECT statements"
INSERT...SELECT statements are fairly common in MySQL and other SQL dialects.  https://dev.mysql.com/doc/refman/8.0/en/insert-select.html

Currently when you submit an insert statement with a select as the values, the parser will throw an error.  E.g.
[code]
This issue is an enhancement request to include this grammar in the parser.

[2019-11-16 13:25] jingsam opened #119 "Support type cast in postgresql"
@taozhi8833998 thanks for your great work. Recently I am on a project that send sql to the server. Your library helps me to avoid sql injection and enable gran permission control.

Currently I notice the library not support `CAST( expr as typename )` or `expr::typename` syntax. Could you consider to support it?

http://www.postgresqltutorial.com/postgresql-cast/

[2019-11-20 13:26] taozhi8833998 commented on #118
supported in `1.6.7` version, try it

[2019-11-20 13:26] #118 closed

[2019-11-20 14:11] taozhi8833998 commented on #119
working on this feature now...

[2019-11-21 22:03] JesseCastro commented on #118
Works, thanks!

[2019-11-21 22:08] JesseCastro opened #121 "columns that are called 'status' cause parser to error out mysteriously"
I managed to figure this issue out because there is a good error message for when you *alias* something as status, but not when the column is named status.  It seems like keyword status nearly anywhere in the query will cause an error.  Suggest maybe adding in a more descriptive error message for when this happens.
Note - I am using the github version of the module to take advantage of the INSERT.

[2019-11-22 05:41] turtle0617 opened #122 "interface error"
thanks for your great work. but I find a interface error.
hope you can read my issue and fix that.

input:
[code]
output:
[code]
should be `from: Array<From | Dual> | null;`
https://github.com/taozhi8833998/node-sql-parser/blob/054d6042a5a4e689385f73de58074a69fbebb279/index.d.ts#L75

 should be `type: 'update';`
https://github.com/taozhi8833998/node-sql-parser/blob/054d6042a5a4e689385f73de58074a69

[2019-11-22 22:01] JesseCastro commented on #121
I had forgotten...  Status is a reserved word in MySQL...

[2019-11-22 22:01] #121 closed

[2019-11-25 02:09] taozhi8833998 commented on #122
thanks for your review, I have fixed it.

[2019-11-25 02:09] #122 closed

[2019-11-25 05:19] taozhi8833998 commented on #119
published in `1.6.7` version, support simple cast grammer

[code]

[2019-11-25 05:19] #119 closed

[2019-11-25 06:20] jingsam commented on #119
👍

[2019-11-25 06:24] jingsam commented on #119
Note that `expr::typename` is postgresql only syntax, but `CAST( expr as typename )` is ANSI standard. What ever, thank you for your great work!

[2019-11-25 13:16] taozhi8833998 commented on #119
same as I know and what I do, you could use `CAST` in mysql too, but `::` for pg only

[2019-11-26 08:13] turtle0617 opened #131 "CREATE TABLE Parse error"
Hi, I try to parse this sql but got error.
I found https://github.com/taozhi8833998/node-sql-parser/issues/63  look like resolve,
so I downgrade to version 1.5.0 and try that issue, but also got error.

Hope you can fix the issue, and thanks your contribution.
input:
[code]
output:
[code]

[2019-11-27 02:44] taozhi8833998 commented on #131
Sorry for this bug, I have fixed it already, try the new `1.6.8` version. If it stills there, reopen this issue. Thanks for ur usage.

[2019-11-27 02:44] #131 closed

[2019-11-27 04:02] turtle0617 opened #134 "CREATE TABLE Parse error"
Hi ,thank for your fix https://github.com/taozhi8833998/node-sql-parser/issues/131 . but I still can resolve that code and I can't reopen  ,so I open a new one.

I update to `1.6.8` and run that issue , the `lowercase` look like resolve, but I got another error.

input:
[code]

output:
[code]
I try to use your extract packages `flora-sql-parser`, but got the same error.
Hope this info helps for yo

[2019-11-27 13:38] taozhi8833998 commented on #134
ok, you are using `CHARSET`, while `CHARACTER SET` is supported currently. I would add it later.

[2019-11-27 14:44] taozhi8833998 commented on #134
sorry for the missing part and bad experience, try `1.6.9` version. I would't close this issue until you confim it has been fixed already

[2019-11-28 01:19] turtle0617 commented on #134
It can parse success in `1.6.9` now
Thank you so much for fix this issue.

[2019-11-28 01:51] taozhi8833998 commented on #134
ok, I will close this issue. If you have any more questions about this module, open a new one

[2019-11-28 01:51] #134 closed

[2019-12-06 07:45] jingsam opened #139 "whiteListCheck on select query"
Hi, I want to whiteListCheck a sql that only allow `select` query. How can I do?

[2019-12-06 09:05] jingsam opened #140 "Does not fully compatible with postgresql limit, offset syntax"
Postgresql have different limit/offset syntax from mysql
https://www.postgresql.org/docs/12/queries-limit.html

Check this:

[code]

[2019-12-07 11:54] taozhi8833998 commented on #139
[code]

[2019-12-07 11:54] #139 closed

[2019-12-07 13:18] taozhi8833998 commented on #140
try `1.6.10` version

[2019-12-07 13:18] #140 closed

[2019-12-08 10:08] jingsam opened #145 "Chinese column name"
I notice some inconsistent  with Chinese column names:

[code]

I get error:

[code]

Try this:
[code]

I get:

[code]

I expected all columns should be quoted with `"中文"`

[2019-12-09 02:50] taozhi8833998 commented on #145
I won't treat it as an issue currently, you'd better not use Chinese as a column name.

[2019-12-11 01:54] pidgeonman opened #149 "Error parsing sql with misformated html contents"
Using node-sql-parser version 1.6.10.

I'm trying to parse SQL with some badly formatted HTML. The actual content was much larger, but I tracked it down to this sequence:

INSERT INTO `mytablehere` (`ID`, `post_author`, `post_date`, `post_date_gmt`, `post_content`, `post_title`, `post_excerpt`, `post_status`, `comment_status`, `ping_status`, `post_password`) VALUES (2564,1,'2018-06-28 21:37:58','2

[2019-12-11 02:01] pidgeonman commented on #149
Here it is raw, because GH's formatter replaces the backticks as code blocks: https://pastebin.com/S71QBiW3

[2019-12-11 06:55] taozhi8833998 commented on #149
supported in `1.6.11` version, try it

[2019-12-11 06:55] #145 closed

[2019-12-11 11:28] Nabufaces opened #151 "Support hive sql parser"
node-sql-parser will support hive sql parser?

[2019-12-11 15:19] pidgeonman commented on #149
It works. Thanks!

[2019-12-11 15:19] #149 closed

[2019-12-11 17:23] fdsis opened #152 "LOCK TABLES / UNLOCK TABLES"
Hi,
thank you very much for your work.
I would like to use your library but currently the `LOCK TABLES 'things' WRITE;` and `UNLOCK TABLES;` statements are not working. So an automated process of reading and writing a data-only-sql-dump is impossible.

The SQL is MariaDB and the error occurred in an file with `LOCK TABLES 'things' WRITE;`, `INSERT INTO things...` and `UNLOCK TABLES;` statements.

[2019-12-12 04:44] taozhi8833998 commented on #152
working on it...

[2019-12-12 04:46] taozhi8833998 commented on #151
if you need it, I will try my best. Show me the hive SQL you want to be parsed

[2019-12-12 04:50] Nabufaces commented on #151
such like `SELECT DISTINCT user_id FROM TABLE` or `INSERT OVERWRITE`

[2019-12-12 04:52] taozhi8833998 commented on #151
It looks like basically same as MySQL, I will add it in next version

[2019-12-12 04:53] Nabufaces commented on #151
yes，select is very similar to mysql, insert is not

[2019-12-12 04:53] Nabufaces commented on #151
Thank you very much

[2019-12-12 12:36] taozhi8833998 commented on #152
fixed in `1.6.12` version, try it

[2019-12-12 12:37] taozhi8833998 commented on #151
working on it now, I will publish new version tommorrow

[2019-12-12 13:02] fdsis commented on #152
Working great. Thanks alot!

[2019-12-12 13:02] #152 closed

[2019-12-16 02:32] Nabufaces commented on #151
Hi, is there any progress on hive parser?

[2019-12-16 02:36] taozhi8833998 commented on #151
yeah, the last check for that, I will push my code in one hour

[2019-12-16 02:38] Nabufaces commented on #151
Looking forward

[2019-12-16 02:59] taozhi8833998 commented on #151
`1.6.13` version has been published, that support simple hive SQL, you can try it. if more hive grammar is required, please let me know.

[code]

[2019-12-16 11:43] Nabufaces commented on #151
It looks like `INSERT INTO TABLE VALUES (1, 'c')` parse error

[2019-12-17 03:26] taozhi8833998 commented on #151
there is no table name ???  is that correct?.  ` INSERT INTO TABLE tableName VALUES (1, 'c')` is valid

[2019-12-17 03:28] Nabufaces commented on #151
`INSERT INTO tableName VALUES (1, 'c')`

[2019-12-17 03:33] taozhi8833998 commented on #151
ok, I got it, wait for a moment

[2019-12-17 03:40] taozhi8833998 commented on #151
fixed in `1.6.14` version

[2019-12-18 03:16] Nabufaces commented on #151
Add `alter` and `PARTITION` support, such like:
1. `ALTER TABLE oldTable RENAME TO newtable`
2. insert overwrite table tmp1 PARTITION (partitionkey='2008-08-15') select * from tmp

[2019-12-18 05:45] adrafiq opened #156 "Support for json query in Postgres"
Does the library support json manipulation syntax for postgresql ?
Specifically this query throws syntax error.
SELECT id,
config,
busy,
'templateId',
active,
domain
FROM instances WHERE  config ->> 'email' = 'email@provider.com'

[2019-12-18 07:06] taozhi8833998 commented on #151
got it, the first feature has been supported, the second one is under developing

[2019-12-18 07:10] taozhi8833998 commented on #156
got it, I will support it as soon as possible

[2019-12-18 08:45] taozhi8833998 commented on #151
try `1.6.15` version

[2019-12-18 09:30] taozhi8833998 commented on #156
try `1.6.16` version

[2019-12-22 00:03] mmiller42 opened #165 "[question] Why is the types module deprecated?"
In the Install section of the readme, the section for installing types is annotated with "deprecated." Is there any explanation as to why this is? Were TypeScript types removed from this library? It would be very helpful to have typings to more formally describe the AST nodes, as for someone trying to parse a SQL query, it is definitely complicated to cover all branches without either doing your b

[2019-12-22 00:07] mmiller42 commented on #165
Sorry, just realized it's because types are built into the project now. :)

[2019-12-22 00:07] #165 closed

[2019-12-23 02:52] taozhi8833998 commented on #156
close for inactive

[2019-12-23 02:52] #156 closed

[2019-12-23 08:30] victorbadila opened #166 "Issue with statement that starts with "with" right after comment"
I have the following statement which I try to astify and I get an error:
[code]
The following error is thrown
[code]

However the "with" statement in itself works well and there is support for comments as well, it only seems to break when the parts are one after the other.

[2019-12-23 08:38] victorbadila opened #167 "Add support for REPLACE function"
It seems the query builder does not like the replace function as shown in the example:
[code]
Not sure if the issue should be opened here given as it might be related to a dependency of this project.

[2019-12-23 08:55] victorbadila opened #168 "Add support for PARTITION"
I have the following query which doesn't seem to get parsed:
[code]
It throws the following error:
[code]
If I remove the paranthesis before andafter "PARTITION BY gender" it seems to have a problem with the "P" from the start of the word "PARTITION", though I'm not sure that is related.

[2019-12-23 10:26] bigbn opened #169 "Add support for RETURNING"
Unable to parse expressions with "returning" operator

    const opt = {
      database: 'postgresql'
    }
    const ast = parser.astify(sql, opt)

Example:

    INSERT INTO "order" (regtime, phone_id, src, dst, rate_id, region_id, service_id, queue_id, city_id) VALUES ('2019-12-23T10:16:23.816Z', 1, 'A', 'B', 1, 1, 1, 1, 1) RETURNING id

Got:

    SyntaxError: Expected "#", ",", "--", "/*", ";",

[2019-12-24 02:40] taozhi8833998 commented on #166
fixed

[2019-12-24 02:51] taozhi8833998 commented on #167
fixed

[2019-12-24 03:03] taozhi8833998 commented on #168
is it ANSI SQL, not MySQL SQL grammar?

[2019-12-24 03:37] taozhi8833998 commented on #169
try `1.6.17` version

[2019-12-24 03:37] taozhi8833998 commented on #167
try `1.6.17` version

[2019-12-24 03:37] taozhi8833998 commented on #166
try `1.6.17` version

[2019-12-24 13:02] bigbn commented on #169
Yep. Now it works.

    returning: { type: 'returning', columns: [ [Object] ] } }

Thank you very much

[2019-12-24 13:02] #169 closed

[2019-12-25 01:54] #167 closed

[2019-12-25 01:54] #166 closed

[2019-12-26 08:10] Val-istar-Guo commented on #122
https://github.com/taozhi8833998/node-sql-parser/blob/792cf2da5a59bef119a255baf2b317e2c290becf/index.d.ts#L68

Insert have the same issue @taozhi8833998

[2019-12-26 09:10] taozhi8833998 commented on #122
fix in `1.6.18`

[2020-01-03 10:25] victorbadila commented on #168
Hi, from what I could gather the scripts that I'm trying to parse are used in Google Cloud Platform's Big Query. Is this something for which support can be added?

[2020-01-05 21:58] mtriff opened #174 "Transact-SQL Support"
This looks like a great library! I would like to use this for parsing Transact-SQL (Microsoft SQL Server). How much work would be involved to add basic support?

Some things that would need to be supported:

- [x] Uses `[` and `]` as quote characters, i.e. `[tableName]`
- [x] Allow for `databaseName.schemaName.tableName` format in queries
- [ ] Support for [`MERGE` queries](https://docs.microsoft.

[2020-01-06 06:50] taozhi8833998 commented on #174
It would be much more clear if you could show me the example SQL for the feature you required

[2020-01-06 13:10] AndyClausen commented on #168
I'm also having this problem. Google have made specs on the language here: https://github.com/google/zetasql/tree/master/docs

[2020-01-07 03:43] taozhi8833998 commented on #168
ok, I would check it out

[2020-01-09 16:47] rz-itac opened #176 "Error parsing valid Postgresql insert"
hi. thanks for your lib. I'm getting this issue though, feel free to ask for more info (if I can get some spare time I can help):

**Node JS version**: 12.4.0
**Version**: 1.6.13
**What happened**: when I try to parse the following sql script using this code in ts I get an exception:
[code]

this.sqlContent =
[code]

**Exception**:
peg$SyntaxError {message: "Expected [A-Za-z0-9_] but ")" found.",

[2020-01-09 16:51] rz-itac commented on #176
Got same results testing with version: 1.6.18

[2020-01-09 19:15] pidgeonman opened #177 "Error parsing sql with character sequence"
I'm getting an error when trying to parse a particular SQL with a character sequence that I tracked down to:

`INSERT INTO `posts` (`content`) VALUES('\'s ');`

The error it returns is:

`SyntaxError: Expected "'", "\\", "\\'", "\\/", "\\\"", "\\\\", "\\b", "\\f", "\\n", "\\r", "\\t", "\\u", or [^'\\\0-\x1F\x7F] but "\x03" found.
    at peg$buildStructuredError (/home/something/node_modules/node-

[2020-01-09 19:16] pidgeonman commented on #177
Raw content here https://pastebin.com/k68GHLhQ

[2020-01-09 22:19] pidgeonman commented on #177
Running version 1.6.11

[2020-01-10 06:26] taozhi8833998 commented on #176
`index` is reversed column name, I have removed it

[2020-01-10 06:44] taozhi8833998 commented on #177
Do you really need to store `ETX `, the char after `\s`,  to the database ???

[2020-01-10 06:45] taozhi8833998 commented on #176
try `1.6.19` version

[2020-01-10 06:51] #151 closed

[2020-01-10 07:48] #168 closed

[2020-01-10 07:49] taozhi8833998 commented on #168
try `1.6.20`

[2020-01-10 07:49] #176 closed

[2020-01-10 15:37] victorbadila commented on #168
Thanks, I checked the example I originally posted and it indeed works. In the production scripts that I intend to parse with this tool I found another place where it breaks, and there might be similar cases which don't come to mind since I'm a not a main SQL person. Here's an example on a test table:
[code]
I have tested this example and the others that I will be posting directly on Google's Big Q

[2020-01-10 16:05] pidgeonman commented on #177
We run a CMS, so we must store whatever comes from the user and make no distinction. If the database and mysqldump don't break when processing it, why should the parser break? We appreciate your help fixing this case.

[2020-01-12 06:39] taozhi8833998 commented on #168
fixed in new version

[2020-01-12 22:54] rz-itac commented on #176
tried 1.6.20, everything is working, thanks!

[2020-01-13 07:51] taozhi8833998 commented on #177
try `1.6.22`

[2020-01-13 12:20] victorbadila commented on #168
Works well, in another script I have to parse I have PARTITION by followed by ORDER statement. I have simplified it in the following example that seems to also throw an error when parsing while working in SQL:
[code]
I really hope that's the last thing I have to say regarding this PARITION issue, and thank you very much for the quick updates!

[2020-01-13 12:25] victorbadila opened #182 "Add support for GROUP BY using column numbers"
Hi, while it seems standard grouping is supported I have stumbled on errors when trying to parse statements that use column numbers for grouping. Consider the following example:
[code]

[2020-01-13 12:31] victorbadila opened #183 "Add support for BigQuery type casting"
This is mainly a syntax coverage extension request, I know BigQuery is not listed among the supported sql syntaxes, but this library is the closest I got to actually parsing complex BigQuery statements properly. Would it be possible to add support for casting to BigQuery types like in the following example?
[code]
The conversion rules use din big query seem are the following: https://cloud.google.

[2020-01-13 12:39] victorbadila opened #184 "Add support for INTERVAL with expressions as values"
While the standard use of INTERVAL is supported in queries such as:
[code]
I get errors when the value for the interval is an expression such as:
[code]
or (closer to where I actually get the error):
[code]
While the scripts that I'm parsing are in BigQuery I have tried the examples in MySQL as well and they get executed well.

[2020-01-14 07:44] taozhi8833998 commented on #168
supported in `1.6.23`. Any more features or issues you could create a new issue to describe. Don't leave a reply to a closed issue again!  Thanks for ur understand

[2020-01-14 07:49] #177 closed

[2020-01-14 08:30] odino opened #193 "Support TINYINT"
https://dev.mysql.com/doc/refman/8.0/en/integer-types.html

[2020-01-14 08:47] #193 closed

[2020-01-15 04:33] taozhi8833998 commented on #182
try `1.7.0` version

[2020-01-15 04:33] taozhi8833998 commented on #183
try `1.7.0` version

[2020-01-15 04:34] taozhi8833998 commented on #184
try `1.7.0` version

[2020-01-15 07:15] victorbadila commented on #184
Does not throw error anymore, thanks!

[2020-01-15 07:15] #184 closed

[2020-01-15 07:16] victorbadila commented on #182
Does not throw error anymore, thanks!

[2020-01-15 07:16] #182 closed

[2020-01-15 07:17] victorbadila commented on #183
Does not throw error anymore, thanks

[2020-01-15 07:17] #183 closed

[2020-01-20 22:12] mtriff commented on #174
Oh, great! Thanks for your work on this.

For the first feature, T-SQL uses those characters instead of \` in MySQL or `"` in Postgres. For example:

[code]

[2020-01-22 03:08] taozhi8833998 commented on #174
got it, thanks for ur explanation

[2020-01-29 12:57] fauzialhari opened #203 "Failed to parse when sql param contains OFFSET in front of LIMIT or contains OFFSET without any LIMIT"
I found issue when trying to do parser.astify this valid sql statement:
`SELECT Name, Region FROM table123 offset 1 limit 20`
`SELECT Name, Region FROM table123 offset 1`
it returns undefined and throws error

but it's working fine when parsing this:
`SELECT Name, Region FROM table123 limit 20 offset 1`

[2020-01-31 03:40] taozhi8833998 commented on #203
Could you specify which database supports the gramma that offset before the limit?  I found it not valid in MySQL. If I am wrong please correct me!

[2020-02-04 03:46] taozhi8833998 commented on #203
@fauzialhari ？？？

[2020-02-04 04:34] fauzialhari commented on #203
Hi, @taozhi8833998 , sorry I 've made mistake I've just found out that we are using MS SQL server instead of MySQL and in MS SQL its a valid statement to use offset in front of limit

[2020-02-04 04:34] #203 closed

[2020-02-12 10:45] giacomoronconiobda opened #210 "Issue with 'type'"
I have an SQL table with a column named type. Something like:

[code]

The parser expect something after type I think because it could be a keyword.

[2020-02-14 00:59] taozhi8833998 commented on #210
Yeah,`type` is a keyword in MySQL. I have removed the keyword check on the column name, you could try new version `1.7.1`

[2020-02-17 09:32] Mobackilayarajaselvaraj opened #213 "Unable to Parse with "TOP" keyword"
`SELECT TOP 3 * FROM Customers`

[code]

[2020-02-19 01:57] taozhi8833998 commented on #213
This is Access database grammar???

[2020-02-19 02:26] taozhi8833998 commented on #213
try using

[code]
in `1.7.2` version

[2020-02-19 06:08] Mobackilayarajaselvaraj commented on #213
@taozhi8833998 Thanks. It worked :)

[2020-02-21 01:06] taozhi8833998 commented on #213
ok, I will close this issue.

[2020-02-21 01:06] #213 closed

[2020-02-23 11:43] ReginaGimazova opened #215 "MySQL: parser.tableList error "node-sql-parser": "^1.6.18""
**Hello! I'm having an error, when I try to use tableList for MySQL query:**

`select user0_.user_id as user_id1_155_, user0_.uid as uid2_155_, user0_.api_token as api_toke3_155_, user0_.app_id as app_id4_155_, user0_.created as created5_155_, user0_.default_lang as default_6_155_, user0_.disabled as disabled7_155_, user0_.email as email8_155_, user0_.fname as fname9_155_, user0_.password as passw

[2020-02-24 03:21] HUxiaoAlinNG opened #216 "use new sqlParser.Parser().tableList(sql) ,but no return ,maybe timeout..."
const sql = `SELECT COUNT(*) FROM \`s_opportunity\` \`opp\` LEFT JOIN \`s_customer\` \`cst\` ON cst.s_customerId=opp.cst_id LEFT JOIN \`s_opp_ext_field\` \`oppext\` ON oppext.opp_id=opp.s_opportunityId WHERE (((((((((((((((((((\`opp\`.\`proj_id\`='39efc060-d7aa-f39d-5e54-fcce4f7a28d5') AND ((\`opp\`.\`is_conflict\`=0) AND (\`opp\`.\`is_repeat\`=0) AND (\`opp\`.\`status\`=1) AND (\`opp\`.\`is_rubbi

[2020-02-24 03:42] HUxiaoAlinNG commented on #216
the original sql is

SELECT COUNT(*) FROM `s_opportunity` `opp` LEFT JOIN `s_customer` `cst` ON cst.s_customerId=opp.cst_id LEFT JOIN `s_opp_ext_field` `oppext` ON oppext.opp_id=opp.s_opportunityId WHERE (((((((((((((((((((`opp`.`proj_id`='39efc060-d7aa-f39d-5e54-fcce4f7a28d5') AND ((`opp`.`is_conflict`=0) AND (`opp`.`is_repeat`=0) AND (`opp`.`status`=1) AND (`opp`.`is_rubbish`=0))) AND (EXISTS (S

[2020-02-24 04:44] taozhi8833998 commented on #215
it has been supported in **1.7.3** version, you can try it later!!

[2020-02-24 04:55] taozhi8833998 commented on #216
Sorry for the bad case,  but the SQL is too ugly to read by a human. I hope you could split it into pieces of simple code for easy reading and understanding, besides, you need to follow instruction to open an issue with detailed and formatted info.

[2020-02-24 05:53] taozhi8833998 commented on #210
I will close this issue since inactive if you still have it, you can reopen it. Thanks for ur usage.

[2020-02-24 05:53] #210 closed

[2020-02-24 06:56] HUxiaoAlinNG commented on #216
Can I speak Chinese？
我知道这sql看起来很不友好，么办法，框架内部处理的代码。我只是很纳闷，解析不了，为啥不报错，而是无限等待...

[2020-02-24 08:42] jingsam commented on #216
我觉得您应自己先动手排查下，把语句精简到最小复现，这样便于作者诊断问题。毕竟，作者没有义务去解决您框架的问题。

[2020-02-24 09:22] taozhi8833998 commented on #216
ok,  I am also Chinese. I split the SQL into small pieces of codes and founded a keyword that was used in the long SQL, **status**. I have fixed it, you could try to parse the SQL using **1.7.4** version. However, it took about 3 or 4 minutes to get the result since the complexity of the SQL, you need to be more patient, and I am sorry for that. I will take the parser speed for long SQL into consi

[2020-02-24 09:38] taozhi8833998 commented on #216
Yeah, thanks for your kindness to explain what I want,  I hold the same view as you.  Nevertheless, my codes have a silent error that made @HUxiaoAlinNG confuse about the issue. Maybe HUxiaoAlinNG could try to take jingsam's advice into account.

[2020-02-24 10:13] ReginaGimazova commented on #215
Thanks for quick response!

[2020-02-25 14:35] taozhi8833998 commented on #215
I’m gonna close it, it has been fixed.

[2020-02-25 14:35] #215 closed

[2020-02-27 03:54] taozhi8833998 commented on #216
@HUxiaoAlinNG I'm gonna close this issue since the inactive status. If it's still annoying u, you're welcomed to open a new issue. Thanks for ur feedback.

[2020-02-27 03:54] #216 closed

[2020-03-05 18:23] Quinncuatro commented on #57
Should this be closed out?

[2020-03-05 18:23] Quinncuatro commented on #71
Trying to get my version up to speed with the changes you've made over the last few months. I can try to get you something if this is still not working.

[2020-03-06 00:52] taozhi8833998 commented on #57
yup, you can close it if the parser does parse your SQL with alter grammar.

[2020-03-06 01:00] taozhi8833998 commented on #71
is this MariaDB SQL syntax ??

[2020-03-06 01:27] taozhi8833998 commented on #71
Sorry for the delay, I hope that you could help me to understand this issue more clearly, and it will be solved as soon as possible. BTW, nice head portrait.

[2020-03-06 16:03] Quinncuatro commented on #71
It's MariaDB still, yeah! When I have something to share, I'll post it here.

[2020-03-07 14:03] taozhi8833998 commented on #71
ok, I will be notified when u do that, keep waiting

[2020-03-09 08:10] odino opened #227 "Unable to use BIGINT"
On 1.7.4.

[code]

[code]

[2020-03-09 08:23] odino opened #229 "Unable to CREATE a table with default timestamps"
[code]

[code]

[2020-03-09 08:55] odino commented on #229
I should mention this is MySQL (though I assume the same problem happens on Maria)

[2020-03-09 08:56] taozhi8833998 commented on #227
Merge ur pr! I will publish a new version when I fix another issue #229.

[2020-03-09 08:57] taozhi8833998 commented on #229
ok, got it. I am trying to fix it now.

[2020-03-09 08:58] odino commented on #229
Thanks a bunch :)

[2020-03-09 09:09] odino commented on #227
That would be great :) thanks!

On Mon, Mar 9, 2020, 12:56 PM taozhi <notifications@github.com> wrote:

[2020-03-09 10:00] #229 closed

[2020-03-09 10:04] taozhi8833998 commented on #227
I have published a new version of `1.7.5`,  you could give it a shot. If all things go well, close the issue when you're free. BYW, another issue has been closed by GitHub when pr merged! Thanks for your pr again.

[2020-03-09 10:30] #227 closed

[2020-03-09 10:30] odino commented on #227
Works fine!

[2020-03-09 10:31] odino opened #231 "Unable to run ALTERs with ALGORITHM and LOCK"
[code]

[code]

MySQL

[2020-03-09 13:01] taozhi8833998 commented on #231
ok, I will fix it as soon as possible, and publish a new version tomorrow.

[2020-03-10 02:52] #231 closed

[2020-03-10 02:52] taozhi8833998 commented on #231
try `1.7.6` version

[2020-03-10 09:30] odino commented on #231
Thanks a bunch!

On Tue, Mar 10, 2020, 6:52 AM taozhi <notifications@github.com> wrote:

[2020-03-11 08:15] Alaa-Joukhadar opened #233 "Create query syntax error"
```CREATE TABLE `Person` (
  `id_Person` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_person_gender` int(11) NOT NULL,
  `id_person_origin` int(11) NOT NULL,
  `age` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_alive` tinyint(1) DEFAULT NULL,
  `updated_by` varchar(48) DEFAUL

[2020-03-12 02:36] taozhi8833998 commented on #233
supported in version `1.7.7`, give it a shot!

[2020-03-17 13:29] kanishk-J commented on #233
@taozhi8833998 mediumtext, text and such data types also not supported in create query. Getting following error:
SyntaxError: Expected "#", "--", ".", "/*", "BIGINT", "CHAR", "DATE", "DECIMAL", "INT", "INTEGER", "JSON", "NUMERIC", "SMALLINT", "TIME", "TIMESTAMP", "TINYINT", "VARCHAR", or [ \t\n\r] but "t" found.

[2020-03-18 01:17] taozhi8833998 commented on #233
ok, got it. Could you show me the original SQL?

[2020-03-18 17:04] ymhr opened #238 "Support for JSON query syntax in MySQL"
In MySQL there are some shorthand properties to select JSON data, e.g. `SELECT jsonCol->>'$.test.path' from 'items';`

Currently this query will fail to parse throwing this error:

```SyntaxError: Expected "#", "$", "'", "(", "+", "-", "--", "/*", ":", "@", "@@", "AVG", "CASE", "CAST", "COUNT", "CURRENT_DATE", "CURRENT_TIME", "CURRENT_TIMESTAMP", "CURRENT_USER", "DATE", "FALSE", "INTERVAL", "MAX",

[2020-03-19 02:27] liuxingang opened #240 "How do I support a ${value} placeholder like this"
[code]

I thought this would resolve ${customer} directly as a parameter, but the parse reported an error
`error:peg$SyntaxError {message: "Expected [A-Za-z_] but "{" found.", expected: Array(2), found: "{", location: {…}, name: "SyntaxError", …}`

[code]
If I wrap ${customer} in quotation marks as value, it's resolvable, but a bit ugly, how do I directly resolve such `placeholders`
**thanks for h

[2020-03-19 11:39] odino opened #241 "MySQL Decimals not supported"
[code]

Results in:

[code]

If you just use `decimal(10)` it works, though then the decimal field is a bit useless :)

[2020-03-19 13:51] taozhi8833998 commented on #240
[code]

I don't think it's a valid SQL. `${customer}` is your template string, you need to replace it with the variable value, then it would be a valid SQL. The parser could only parse the valid SQL syntax that could be executed by a database engine.

You should parse the SQL without any placeholders that don't supported in the database.

[2020-03-19 13:56] taozhi8833998 commented on #241
ok, I will fix it tomorrow.

[2020-03-19 13:59] taozhi8833998 commented on #238
oh, god! I don't even know that MySQL supports the JSON syntax like pg, sorry for that. I will support this tomorrow.

[2020-03-19 14:02] taozhi8833998 commented on #240
I will label it as `won't fix` at this time. But, if you have more to comment on this, you can always do that.

[2020-03-20 03:44] #241 closed

[2020-03-20 03:45] taozhi8833998 commented on #238
published a new version, `1.7.8`, you can give it a shot.

[2020-03-20 03:46] taozhi8833998 commented on #241
supported in `1.7.8` version, give it a try!

[2020-03-20 10:23] ymhr commented on #238
@taozhi8833998 that's awesome, thanks for getting it out so quickly!

There is still an issue though, `data->>'$.path'` works fine, but `item.data->>'$.path'` still throws an error.

Also there is a different issue, using COLLATE will also cause an error - this is necessary for some interactions with JSON, as it makes it behave more like a normal text column. E.g.
`data->>'$.type' COLLATE utf8mb4_

[2020-03-20 22:48] egbertc opened #249 "support functions in GROUP BY"
[code]

**error:**
`Expected "#", ",", "--", ".", "/*", ";", "HAVING", "LIMIT", "ORDER", "UNION", [ \t\n\r], [A-Za-z0-9_:], [A-Za-z0-9_], or end of input but "(" found.`

Can functions within GROUP BY be supported?

Thanks!

[2020-03-21 01:18] taozhi8833998 commented on #238
gotcha, I will support it today.  The `COLLATE ` issue is related to this one, so it's ok to put them in one issue.

[2020-03-21 02:58] taozhi8833998 commented on #238
test passed, I will publish a new version later.

[2020-03-21 02:59] taozhi8833998 commented on #249
Thank you for your sample codes, it helps a lot. I will support this feature today

[2020-03-21 03:24] taozhi8833998 commented on #249
ok, I have finished the developing, it supported this feature now, you could try new version `1.7.9` later.

[2020-03-21 04:38] taozhi8833998 commented on #249
Travis ci is under maintenance, so the merge request didn't pass the check. I will publish a new version when it merged.

[2020-03-21 04:39] taozhi8833998 commented on #238
Travis ci is under maintenance, so the merge request didn't pass the check. I will publish a new version when it been merged.

[2020-03-21 11:56] ymhr commented on #238
Thanks for the quick update, looking forward to the new release.

[2020-03-22 02:12] taozhi8833998 commented on #249
try `1.7.9`

[2020-03-22 02:12] taozhi8833998 commented on #238
try `1.7.9`

[2020-03-23 01:15] taozhi8833998 commented on #238
if the issue has been solved, please close it at your convenience.

[2020-03-23 09:56] ymhr commented on #238
Works perfectly! Thank you so much for the quick responses.

[2020-03-23 09:56] #238 closed

[2020-03-23 22:01] egbertc commented on #249
Working great. Thanks!

[2020-03-24 01:21] taozhi8833998 commented on #249
ok, I will close the issue, thank you for the help to improve my project.

[2020-03-24 01:21] #249 closed

[2020-03-24 07:10] Nabufaces opened #253 "syntax parse error"
`
select
   a.device_id as did,
from(
      select
         device_id
      from
        db.test_table_1
   ) a
   left join (
      select
         device_id,
         max(user_id) user_id
      from
        db.test_table_2
      where
         and device_id is not null
         and user_id is not null
      group by
         device_id
   ) b on a.device_id = cast(b.device_id AS bigint)
`
such li

[2020-03-24 07:26] #253 closed

[2020-03-25 04:29] kanishk-J commented on #233
@taozhi8833998 Sorry for late reply. Here is the query
CREATE TABLE `manager_access` (
 `id` int(11) NOT NULL AUTO_INCREMENT,
 `manager_id` int(11) NOT NULL,
 `drivers_elements` mediumtext NOT NULL,
 `subordinates` mediumtext,
 `created` int(11) NOT NULL,
 `modified` int(11) NOT NULL,
 `unsubscribe_weekly_report` tinyint(4) NOT NULL DEFAULT '0',
 `unsubscribe_quarterly_report` tinyint(4) NOT NULL

[2020-03-25 08:53] taozhi8833998 commented on #233
it has been supported in `1.7.10` version.

[2020-03-25 10:05] kanishk-J commented on #233
@taozhi8833998 I tried it. Worked like a charm. Thanks a ton. But now I found that FLOAT is not supported.

[2020-03-25 10:07] taozhi8833998 commented on #233
ok, you can open a new issue for that. I will fix it today as well.

[2020-03-25 10:16] kanishk-J commented on #233
Ok sure. Thanks

[2020-03-25 10:18] kanishk-J opened #257 "Create Query Syntax does not support FLOAT data type"
I am getting the following error while astifying a create table query:

Expected "#", "--", "->", "->>", ".", "/*", "BIGINT", "CHAR", "DATE", "DECIMAL", "INT", "INTEGER", "JSON", "LONGTEXT", "MEDIUMTEXT", "NUMERI
C", "SMALLINT", "TEXT", "TIME", "TIMESTAMP", "TINYINT", "TINYTEXT", "VARCHAR", or [ \t\n\r] but "f" found.

I pin pointed out the issue by removing keys that used float in the query.

[2020-03-25 10:21] taozhi8833998 commented on #257
ok, I will fix it in minutes. it could be more clear if you show your original SQL when you open an issue.

[2020-03-25 10:25] kanishk-J commented on #257
@taozhi8833998 Here is the query

CREATE TABLE `action_plans` (
 `id` int(11) NOT NULL AUTO_INCREMENT,
 `title` varchar(200) NOT NULL,
 `manager_id` int(11) NOT NULL,
 `employee_driver_id` int(11) NOT NULL,
 `engagement_element_id` int(11) NOT NULL,
 `initial_score` float NOT NULL,
 `score` float DEFAULT NULL,
 `created` int(11) NOT NULL,
 `modified` int(11) NOT NULL,
 `status` int(11) NOT NULL DE

[2020-03-25 10:56] taozhi8833998 commented on #257
ok, I have published a new version, `1.7.10`, give it a shot

[2020-03-26 00:06] taozhi8833998 commented on #233
it has been supported, and I am gonna close it.

[2020-03-26 00:06] #233 closed

[2020-04-02 09:10] giacomoronconiobda opened #260 "Support PostgresQL cast"
Please can you support postgresql casting like:
[code]
See 4.2.9. Type Casts in [documentation](https://www.postgresql.org/docs/current/sql-expressions.html)

[2020-04-02 09:14] giacomoronconiobda commented on #260
Found an old merge, trying 1.7.10 release.

[2020-04-02 09:20] giacomoronconiobda commented on #260
I still have the problem with this query:

[code]

[2020-04-02 12:10] taozhi8833998 commented on #260
'cv', 'pv' and  'lcv' are column name or just simple string?

[2020-04-02 12:30] taozhi8833998 commented on #260
I have fixed it already. You can try using the new version`1.7.11`.

[2020-04-02 12:30] taozhi8833998 commented on #260
[code]

[2020-04-03 01:18] #260 closed

[2020-04-03 01:18] #257 closed

[2020-04-03 01:18] #240 closed

[2020-04-07 02:43] Nabufaces opened #264 "Support union all syntax"
such like:
`
select
    distinct num
from
    test1
union ALL
select
    distinct num
from
    test2
`

[2020-04-07 11:05] taozhi8833998 commented on #264
supported in new release `1.7.12`

[2020-04-07 11:06] #264 closed

[2020-04-08 15:18] schl3ck opened #270 "Error in Node.js when requiring the package"
**Describe the bug**
When I want to load the package, I get an error:

[code]

**Database Engine**
None

**To Reproduce**
-the SQL that be parsed: None
-the node-sql-parser version: 1.8.1
-the node version: 12.13.0
Windows 10 Enterprise 64-bit

**Expected behavior**
I expected to be able to load the package without problems.

**Screenshots**
Not needed.

**Additional context**
The commit 3355f46f0

[2020-04-09 02:12] taozhi8833998 commented on #270
Sorry for that. I have already fixed it in new release `1.8.2` , try it.

[2020-04-09 02:20] #270 closed

[2020-04-24 12:08] meh opened #275 "Parsing UUID in PostgreSQL"
**Describe the bug**
Got tables with UUID types, and the parser barfs on them, not sure if `UUID` is an extension type or something tho.

**Database Engine**
PostgreSQL

**To Reproduce**
- `CREATE TABLE foo (id UUID)`
- 1.8.2
- 13.13.0

[2020-04-24 13:06] taozhi8833998 commented on #275
I have released a new version `1.8.3`, give it a shot.

[2020-04-24 13:59] meh commented on #275
Everything works, thanks a bunch!

[2020-04-24 14:48] meh commented on #275
Well, now I'm getting a syntax error somewhere else, this is the entire statement:

[code]

Not sure how much of SQL this module is meant to parse, but it's being used by `coc-sql`, so I'm getting linting errors :P

[2020-04-25 01:09] taozhi8833998 commented on #275
ok, I will fix it today

[2020-04-26 03:05] taozhi8833998 commented on #275
@meh released `1.8.4` version to support `create trigger` syntax in PostgreSQL. Try it.

[2020-04-26 19:20] lucasholder commented on #275
Also using this extension through [coc-sql](https://github.com/fannheyward/coc-sql). Can we get `CREATE EXTENSION` too? :)

<img width="670" alt="Screen Shot 2020-04-26 at 3 20 03 PM" src="https://user-images.githubusercontent.com/62086489/80317380-78092000-87d1-11ea-95cc-5e71579ce369.png">

[2020-04-26 19:26] lucasholder commented on #275
Also, might be worth to consider using [pg-query-parser](https://github.com/zhm/pg-query-parser) for parsing PostgreSQL... It's a wrapper for the actual C parser that PosgreSQL uses internally.

[2020-04-26 21:16] lucasholder commented on #275
FWIW, I [sent a PR to coc-sql](https://github.com/fannheyward/coc-sql/pull/88) to instead use `pg-query-parser` with postgresql. @meh

[2020-04-26 23:00] meh commented on #275
@lucasholder neat, thanks!

[2020-04-27 02:26] taozhi8833998 commented on #275
support `create extension` in `1.9.0` version. I will close this issue and take using the`pg-query-parser` module to parse pg in my module into account. Thanks a bunch.

[2020-04-27 02:26] #275 closed

[2020-04-27 10:20] kristijanhusak opened #280 "Postgresql json syntax not recognized"
**Describe the bug**
Postgresql json syntax is not recognized and it throws syntax error for valid query.

**Database Engine**
Postgresql

**To Reproduce**
-sql: `select * from my_table where jsonfield @> '{"mykey": "myvalue"}'`
- node-sql-parser version: latest
-node version: 12.2.0

**Expected behavior**
Expect to be properly parsed and not throw a syntax error

**Additional context**
I'm not su

[2020-04-27 11:38] taozhi8833998 commented on #280
ok, I will support the jsonb syntax as soon as possible.

[2020-04-28 03:51] oblitum opened #283 "Parse error when using "in""
**Describe the bug**

For the following SQL:

[code]

I get this error:

[code]

**Database Engine**

PostgreSQL.

**To Reproduce**
-the SQL that be parsed: `SELECT position(', ' in 'a, b');`
-the node-sql-parser version: `1.9.0`
-the node version: `14.0.0`

**Expected behavior**

No error.

[2020-04-28 06:19] taozhi8833998 commented on #283
I have released `1.9.1` version to fix the issue, try it.

[2020-04-28 06:19] taozhi8833998 commented on #280
I have released `1.9.1` version to fix the issue, try it.

[2020-04-28 07:03] oblitum commented on #283
It's fixed, thanks!

[2020-04-28 07:03] #283 closed

[2020-04-28 09:28] kristijanhusak commented on #280
Looks good, thanks!

[2020-04-28 09:28] #280 closed

[2020-05-04 04:49] ya-saka opened #288 "INSERT SET syntax (MySQL)"
Is there no support for parsing the INSERT SET syntax in MySQL?
https://dev.mysql.com/doc/refman/8.0/en/insert.html

[code]

It's a valid SQL, so even if you just parse...

[2020-05-05 08:07] taozhi8833998 commented on #288
fix that, try the new release `1.9.2` version

[2020-05-05 12:00] ya-saka commented on #288
Thank you very much.
I used PayPal for the first time.

[2020-05-05 12:00] #288 closed

[2020-05-06 04:01] taozhi8833998 commented on #288
Thank u for ur support!!!  Working harder, hhhh

[2020-05-07 13:46] vitorfreitas opened #291 "Is it possible to create an AST from a query with constraints?"
I'm trying to parse this query:
[code]

Currently I'm not able to parse it into an AST, the error is:
[code]

[2020-05-07 17:21] esetnik opened #292 "TSQL comment not supported"
**Describe the bug**
When using a comment with transactsql the parser throws an error

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]

-the node-sql-parser version
1.9.2
-the node version
12.16.3

**Expected behavior**
No error since this is valid tsql

**Screenshots**

**Additional context**
[code]

[2020-05-07 17:22] esetnik commented on #292
Related to #174

[2020-05-07 18:00] esetnik opened #293 "TSQL IDENTITY not supported"
**Describe the bug**
When creating a table with an `IDENTITY` column e.g. `id BIGINT NOT NULL PRIMARY KEY IDENTITY(1, 1)`

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]

-the node-sql-parser version
1.9.2
-the node version
12.16.3

**Expected behavior**
This is valid tsql, no error should be thrown.

**Screenshots**
If applicable, add screenshots to help explain

[2020-05-07 18:06] esetnik commented on #293
TSQL doesn't support AUTOINCREMENT so I think the grammar needs to be modified for IDENTITY. See https://github.com/taozhi8833998/node-sql-parser/blob/fbed1d419a6baf701ec7999b2c0cb700a0084a02/pegjs/transactsql.pegjs#L336

See https://www.w3schools.com/sql/sql_autoincrement.asp

[2020-05-08 01:40] taozhi8833998 commented on #291
I have fixed it already and will release a new version later.

[2020-05-08 02:02] taozhi8833998 commented on #292
comment only???

[2020-05-08 02:49] taozhi8833998 commented on #293
working on it

[2020-05-08 03:29] taozhi8833998 commented on #292
@esetnik `sql` is required in content.

try

[code]

[2020-05-08 04:33] taozhi8833998 commented on #291
try `1.10.0`

[2020-05-08 04:33] taozhi8833998 commented on #293
try `1.10.0`

[2020-05-09 18:37] esetnik commented on #293
Thank you!

[2020-05-10 02:47] mx2323 commented on #183
How is this library with bigquery syntax?

[2020-05-10 04:27] taozhi8833998 commented on #293
please feel free to close this issue, if it has been fixed.

[2020-05-10 04:28] taozhi8833998 commented on #183
I didn't separate it from `MySQL`, but I will do it if required.

[2020-05-10 04:29] taozhi8833998 commented on #183
I didn't separate it from `MySQL`, but I will do it if required.

[2020-05-10 12:04] #293 closed

[2020-05-10 15:29] #291 closed

[2020-05-10 15:30] vitorfreitas commented on #291
Works very well! Thank you

[2020-05-11 01:34] taozhi8833998 commented on #291
You'r welcome.

[2020-05-11 01:37] taozhi8833998 commented on #292
@esetnik I will close the issue since the parsed content don't contain any valid SQL. If you have any more comments on this, you could reopen it, and discuss it.

[2020-05-11 15:00] esetnik commented on #292
@taozhi8833998 thank you for your feedback. In Microsoft SQL Server management studio you can create a "comment-only" SQL statement and execute it without issue. So I believe this issue should be reopened as the error is not consistent with the official tooling built by Microsoft. Thanks again.

![image](https://user-images.githubusercontent.com/664434/81576652-84b37980-9376-11ea-99b1-428fbfb492a1

[2020-05-11 15:38] esetnik opened #296 "TSQL UNIQUEIDENTIFIER not supported"
**Describe the bug**
Failure on `UNIQUEIDENTIFIER` https://docs.microsoft.com/en-us/sql/t-sql/data-types/uniqueidentifier-transact-sql?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]

-the node-sql-parser version
1.10.0
-the node version
12.16.3

**Expected behavior**
No error as this is valid TSQL

Related to #174

[2020-05-11 15:49] esetnik commented on #292
Also I think it's still not working with the following `CREATE TABLE`. This is showing an error for me.

[code]

[2020-05-11 18:55] mx2323 opened #297 "snowflake support"
whats the possibility of supporting snowflake with this library? the syntax appears to be quite different in some ways.

a few things i've noticed

1) snowflake uses ```::TYPE``` in the column descriptions
2) it has weird text like
[code]

here's an example that fails
[code]

thoughts?

[2020-05-12 02:36] mx2323 opened #298 "bigquery parse issue"
**Describe the bug**
[code]
**Database Engine**
BigQuery SQL  (using the default MYSQL)

[code]

[2020-05-12 02:41] mx2323 commented on #298
in general - how hard would it be to support bigquery select statements fully in this library? is that a lot of work?

[2020-05-12 03:13] taozhi8833998 commented on #298
ok, I will separate the BigQuery from MySQL, and support the syntax.

[2020-05-12 03:14] taozhi8833998 commented on #296
I will fix it today

[2020-05-12 03:15] taozhi8833998 commented on #297
why you close the issue?

[2020-05-12 03:17] mx2323 commented on #297
It seemed like a lot of effort and wasn’t in scope of this project.

[2020-05-12 03:18] mx2323 commented on #298
Oh that’s exciting! Keep me posted - I’ll read up on peg.js and see if I can help.

[2020-05-12 03:20] mx2323 commented on #298
Would it help if I paste to this issue any of the queries that I find that are currently failing?

[2020-05-12 05:28] taozhi8833998 commented on #298
yes, It would help me a lot, thanks for that.

[2020-05-12 05:30] taozhi8833998 commented on #292
ok, I will check it again later. Thanks for ur feedback.

[2020-05-12 09:50] taozhi8833998 commented on #296
try `1.10.1`

[2020-05-12 09:50] taozhi8833998 commented on #292
try `1.10.1`

[2020-05-12 09:54] taozhi8833998 commented on #298
working on [standard SQL query syntax](https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax)...

[2020-05-12 13:41] esetnik commented on #292
Working well, thanks!

[2020-05-12 13:41] #292 closed

[2020-05-12 13:41] esetnik commented on #296
Working well, thanks!

[2020-05-12 13:41] #296 closed

[2020-05-12 13:43] esetnik commented on #174
@taozhi8833998 how much work is it to implement

This is used heavily in TSQL and currently not working in v1.10.1.

[code]

[2020-05-12 13:47] esetnik opened #301 "TSQL NVARCHAR not supported"
**Describe the bug**
Error when parsing NVARCHAR. https://docs.microsoft.com/en-us/sql/t-sql/data-types/nchar-and-nvarchar-transact-sql?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]

-the node-sql-parser version
1.10.1
-the node version
12.16.3

**Expected behavior**
No error since it's valid TSQL

Related to #174

[2020-05-12 14:47] mx2323 commented on #298
awesome.

found a few these come from the query syntax example page https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax

1) _STRUCT data type_
[code]

2) _array data type_
[code]

3) _EXCEPT is a keyword_
[code]

4) _REPLACE is a keyword_
[code]

5) _another example of STRUCT, this time as a preceding keyword_
[code]
https://cloud.google.com/bigquery/docs/reference/standard-

[2020-05-12 21:40] esetnik commented on #292
Actually I'm seeing the same issue with comments and insert statements in v10.1.1:

[code]

[2020-05-13 01:23] taozhi8833998 commented on #301
gotcha, it will be supported today

[2020-05-13 01:43] taozhi8833998 commented on #174
[code]
is the same as

[code]

am I right???

The parser should parse both syntaxes successfully.

[2020-05-13 02:11] esetnik commented on #174
Yes, although the brackets `[]` in TSQL are used if your column or table includes a space or uses a reserved keyword https://docs.microsoft.com/en-us/sql/t-sql/language-elements/reserved-keywords-transact-sql?view=sql-server-ver15

Valid:
[code]

Invalid
// space in table name
[code]
// reserved keyword user
[code]

[2020-05-13 02:16] taozhi8833998 commented on #174
ok，can I add `[]` to all the column and table name when sqlify from the ast??

such as

[code]

and after sqlify to

[code]
is it ok?

[2020-05-13 02:19] esetnik commented on #174
Yes I believe that is the standard behavior for consistency. Can you also generate errors if a reserved keyword from the list is used incorrectly without `[]`?

[2020-05-13 02:22] taozhi8833998 commented on #174
yes, if reserved keywords are used as the normal name of column or table, the parsed could throw an error. I will release a new version for `[]` in ten minutes.

[2020-05-13 02:39] taozhi8833998 commented on #301
I have released `1.10.2` version, give it a shot!!

[2020-05-13 02:40] taozhi8833998 commented on #174
@esetnik try `1.10.2` version

[2020-05-13 02:59] esetnik commented on #174
Thank you! I will check it out.

[2020-05-14 01:25] taozhi8833998 commented on #298
@mx2323 I will publish this feature this Sunday, I hope it's not too late for you.

[2020-05-14 01:30] mx2323 commented on #298
awesome. looking forward to reading the diff!

[2020-05-14 01:38] taozhi8833998 commented on #298
maybe I will just release a new version to the npm registry and don't push the codes to Github in order to disappear the diff.

[2020-05-14 01:47] mx2323 commented on #298
why would you want to do that? i dont understand.

[2020-05-14 01:50] taozhi8833998 commented on #298
It's a joke just for fun. I won't do that. Sorry for making you misunderstand.

[2020-05-14 01:51] mx2323 commented on #298
no worries  - sounds good!

[2020-05-14 22:08] esetnik commented on #301
Thanks works perfectly.

[2020-05-14 22:08] #301 closed

[2020-05-14 22:09] esetnik opened #304 "TSQL CHECK not supported"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/relational-databases/tables/create-check-constraints?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
1.10.2
-the node version
12.16.3

**Expected behavior**
No error

[2020-05-14 22:10] esetnik opened #305 "TSQL DATETIME not supported"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/t-sql/data-types/datetime-transact-sql?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
1.10.2
-the node version
12.16.3

**Expected behavior**
No error

[2020-05-14 22:11] esetnik commented on #304
Related to #174

[2020-05-14 22:11] esetnik commented on #305
Related to #174

[2020-05-15 01:25] taozhi8833998 commented on #305
fixed, will be supported in the next version.

[2020-05-15 06:19] taozhi8833998 commented on #304
under developing

[2020-05-16 04:04] taozhi8833998 commented on #305
try `1.11.0`

[2020-05-16 04:06] taozhi8833998 commented on #304
oh god, it took me half a day to support the constraint check type in Transact-SQL and MySQL, but it works finally, you could try the new version `1.11.0` later.

[2020-05-16 04:08] taozhi8833998 commented on #298
@mx2323 bear with the next release, I am working on it again.

[2020-05-16 11:27] wballard opened #307 "SQLite support"
Would be great to have SQLite support as well for two projects I'm doing. Let me know if this is in your plan, otherwise I'll go at it.

[2020-05-16 11:50] esetnik commented on #304
Wow. Thanks for your effort!

[2020-05-16 13:52] taozhi8833998 commented on #307
@wballard SQLite is on the way. I will develop it next week after I finished the BigQuery. Further notice, you could also make a pr to the project to support SQLite.

[2020-05-16 13:54] taozhi8833998 commented on #304
if it works, close the issue when it's convenient for u.

[2020-05-16 13:55] taozhi8833998 commented on #305
I will close it since it has been supported.

[2020-05-16 13:55] #305 closed

[2020-05-16 13:57] #304 closed

[2020-05-16 13:58] taozhi8833998 commented on #298
it has been finished basically, I will add more test cases on it, and continue to solve `sqlify` issue for BigQuery.

[2020-05-16 14:03] esetnik opened #308 "TSQL Trailing comma on CREATE TABLE not supported"
**Describe the bug**
Technically a trailing comma is ignored in CREATE TABLE statements (at least in TSQL). I couldn't find any documentation to confirm this, but it works without issue when you actually run those queries.

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
1.11.0
-the node version
12.16.3

**Expected behavior**
No error i

[2020-05-16 14:06] esetnik opened #309 "TSQL NONCLUSTERED INDEX not supported"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-index-transact-sql?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]

-the node-sql-parser version
1.11.0
-the node version
12.16.3

**Expected behavior**
No error

[2020-05-16 14:09] esetnik opened #310 "TSQL 'AS' computed column not supported"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/relational-databases/tables/specify-computed-columns-in-a-table?view=sql-server-ver15#TsqlProcedure

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
1.11.0
-the node version
12.16.3

**Expected behavior**
No error

[2020-05-18 11:07] taozhi8833998 commented on #298
@mx2323 I have released a new beta version `2.0.0-beta` to support BigQuery syntax, you can give it a try, any feedbacks are welcome.

[2020-05-18 11:25] taozhi8833998 commented on #308
fixed it, will be published in `2.0.1-beta` version

[2020-05-18 11:56] taozhi8833998 commented on #310
it has been supported in `2.0.1-beta` version.

[2020-05-18 12:47] taozhi8833998 commented on #308
published

[2020-05-18 12:48] taozhi8833998 commented on #310
published

[2020-05-18 12:57] wballard commented on #307
Oh fantastic -- I'll keep a look for it -- and give it a thorough test and PR any issues I find. I'll see if I can recycle SQLite's tests itself to see if we can parse everything!

[2020-05-19 01:25] taozhi8833998 commented on #307
ok, any progress I made will be described here.

[2020-05-19 01:32] mx2323 commented on #298
nice. trying it out most things work. however -

[code]
[code]

[code]

[code]

[code]

[code]

[code]

[code]

it appears as though many of the examples on the page dont work :(

https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax

[2020-05-19 02:15] taozhi8833998 commented on #298
got it, this feature is in beta version now, and I will fix it today.

[2020-05-19 03:35] taozhi8833998 commented on #298
the top three SQLs are supported in `2.0.1-beta` version, the left SQLs were supported in `2.0.1-beta` before.

[2020-05-19 03:45] taozhi8833998 commented on #298
@mx2323 The SQLs above are supported in `2.0.2-beta` version now, give it a shot.

[2020-05-20 01:22] taozhi8833998 commented on #310
I will close the issue since it has been supported. if not, you can reopen it or open another issue.

[2020-05-20 01:22] #310 closed

[2020-05-20 01:22] taozhi8833998 commented on #308
I will close the issue since it has been supported. if not, you can reopen it or open another issue.

[2020-05-20 01:22] #308 closed

[2020-05-20 11:37] taozhi8833998 commented on #309
@esetnik I am working on it

[2020-05-21 22:24] arana3 opened #314 "Parser unable to handle valid Postgres single quote"
**Describe the bug**

When using the parser under 'postgresql' mode, an AST fails to form due inability to parse " '' " two single quotes.

**Database Engine**
PostgreSQL.

**To Reproduce**
-the SQL that be parsed :

`insert into my_table(business_unit_name, business_unit_description, client_id) values('My Hotel''s Name','Hotel ABC was founded in 1980. The company''s investors include ABC, XYZ', 9

[2020-05-22 01:41] taozhi8833998 commented on #314
I think the `'` is required to be escaped when it appears in another string, which quoted by the same symbol `'`.

[code]
the parsed result is as below:

[code]
Correct me if I am wrong.

[2020-05-22 01:43] taozhi8833998 commented on #309
@esetnik parsed successfully, and I am adding more test cases on it. I will release a new version today.

[2020-05-22 03:33] taozhi8833998 commented on #309
try `2.0.3-beta` version

[2020-05-22 09:51] pixelspark opened #316 "Add a way to find out the original range of characters for an AST node"
**Describe the bug**
I have a use case where I would like to use `node-sql-parser` for syntax highlighting. For this, I would need to have access to the range of characters in the original string that correspond to parsed AST nodes. It looks like Peg.js makes this information available as a 'location' variable in the parser functions (see https://pegjs.org/documentation).

Adding this should there

[2020-05-22 11:04] taozhi8833998 commented on #316
@pixelspark I will support it this weekend, it's not so hard, but some time is required to add it to all nodes.

[2020-05-22 16:13] esetnik opened #317 "TSQL ALTER COLUMN not supported"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-table-transact-sql?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
v2.0.3-beta
-the node version
v12.16.3

[2020-05-22 16:27] esetnik opened #318 "TSQL DROP PROCEDURE not supported"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/t-sql/statements/drop-procedure-transact-sql?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
v2.0.3-beta
-the node version
v12.16.3

[2020-05-22 23:39] #309 closed

[2020-05-23 03:29] taozhi8833998 commented on #318
supported it. I will release a new version today.

[2020-05-23 03:55] #318 closed

[2020-05-23 03:57] taozhi8833998 commented on #317
supported it, try `2.0.4-beta`

[2020-05-23 04:01] #317 closed

[2020-05-29 16:40] esetnik commented on #318
@taozhi8833998 when will you release v2.0 non-beta version? I am waiting to upgrade `[coc-sql](https://github.com/fannheyward/coc-sql)` until this package is considered stable. I haven't seen any issues in v2.0 which would warrant the beta status.

[2020-06-01 10:35] taozhi8833998 commented on #318
@esetnik `BigQuery` syntax is stable now without more issues, I will publish a stable new version `2.0.5` now.

[2020-06-02 13:58] esetnik opened #331 "TSQL DECLARE not supported"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/t-sql/language-elements/declare-local-variable-transact-sql?view=sql-server-ver15

**Database Engine**
transactsql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
v2.0.5
-the node version
v12.17.0

[2020-06-03 10:34] taozhi8833998 commented on #331
got it

[2020-06-03 14:46] brad55590 opened #332 "DB2 Support"
Firstly I would like to say great job so far.
Secondly, would you be able to create a DB2 parser?

Regards

[2020-06-04 07:46] taozhi8833998 commented on #332
I haven't use db2 for now, but I can do it if you show me the detailed SQL syntax.

[2020-06-04 09:48] taozhi8833998 commented on #331
@esetnik supported in `2.0.6` version.

[2020-06-04 09:48] #331 closed

[2020-06-04 09:48] #314 closed

[2020-06-04 09:48] #298 closed

[2020-06-04 09:56] #96 closed

[2020-06-04 09:56] #57 closed

[2020-06-04 09:56] #71 closed

[2020-06-04 14:20] esetnik commented on #331
Thank you!

[2020-06-04 16:58] brad55590 commented on #332
So far the mysql parser seems to work well. I have found that it does not to lateral joins though.

I will find more details around db2 queries and post them here. Thank you for the rapid response.

[2020-06-05 06:09] taozhi8833998 commented on #332
ok, it's my pleasure.

[2020-06-11 06:25] taozhi8833998 commented on #332
it could be more helpful if you can show me the original SQL.

[2020-06-11 07:00] brad55590 commented on #332
Hi

Below are 3 simple examples of queries that we use. The first example works 100%.

select col1, col2 from library.table where col1 = 'foo' limit 5 - Works
select col1, col2 from library.table where col1 = 'foo' fetch first 5 rows - Does not work due to FETCH FIRST 5 ROWS. Error: Expected "#", ",", "--", "/*", ";", "LIMIT", "UNION", [ \t\n\r], or end of input but "F" found.
select col1, SYSTOOL

[2020-06-11 15:13] taozhi8833998 commented on #332
got it. I will add it as soon as possible.

[2020-06-12 12:41] taozhi8833998 commented on #332
try `2.1.0` the new release

[code]

[2020-06-16 11:13] damilaufer opened #341 "Over partition is not supported in Hive"
**Describe the bug**
I try to parse with the { database: 'Hive' } option the SQL statement below, and it throws an error.

**Database Engine**
Hive

**To Reproduce**
-the SQL that be parsed
SELECT max( ST.ppwc_elig_amt_high )
FROM "PitHive.Horton.edw.dim_cust_extn_odm" as ST
INNER JOIN
(SELECT * FROM "PitHive.Horton.edw.dim_cust" AS JT_1 )
ON ST.cust_id = JT_1.cust_id
LEFT JOIN
(SELECT * FROM "Pit

[2020-06-17 01:57] taozhi8833998 commented on #341
I will fix it later.

[2020-06-17 14:03] damilaufer commented on #341
Thank you.

[2020-06-17 14:41] taozhi8833998 commented on #341
@damilaufer try `2.1.1` version, which I have published

[2020-06-17 14:54] damilaufer commented on #341
That was fast, but the version in npm is still 2.0.6.

[2020-06-17 16:15] anton164 opened #343 "Error with nested select query"
I get an error when parsing a nested Select, but would expect this to work.

**Database Engine:** MySQL
**node-sql-parser version:** 2.0.6
**node version:** 13.8.0

SQL:
[code]

[code]

[2020-06-17 16:16] anton164 opened #344 "Error in UNION query"
Thanks a lot for providing this great parser! It works for most of my queries, but I get an error when parsing a UNION query, but would expect this to work.

**Database Engine:** MySQL
**node-sql-parser version:** 2.0.6
**node version:** 13.8.0

SQL:
[code]

[code]

[2020-06-17 16:28] damilaufer commented on #343
1. Every derived table must have its own alias, like:
    select id from (select * from myTable) **_as m_**
2. You've got a "union all" at the end of your query.

[2020-06-17 21:34] anton164 commented on #343
Hmm, I see, this is a generated query from a tool I use, so apologies! I should have ran this through an SQL validator first

[2020-06-17 21:34] #343 closed

[2020-06-17 22:03] taozhi8833998 commented on #341
Hmm, Sorry for that, republished it successfully. check it again.

[2020-06-17 22:27] taozhi8833998 commented on #344
is it a valid SQL?
[code]
The parentheses before `ORDER BY` made the SQL invalid.

You can remove the parentheses or wrap another `select` outside the parentheses, which depends on your purpose. It will query out different result set.

[code]

[code]
I think the two above SQLs are valid, and this module could parse it successfully.
Correct me if I am wrong!

[2020-06-18 05:07] damilaufer commented on #341
Thank you, it's working.

[2020-06-18 05:07] #341 closed

[2020-06-18 12:06] anton164 commented on #344
I used [this SQL validator](https://www.eversql.com/sql-syntax-check-validator/) to check whether it's valid and it seems to be.

Also, the query executes fine in my environment, so I think it is valid SQL.

IMO, the parentheses around the SELECT are useful to show what you are ordering (the whole union).

[2020-06-18 14:47] taozhi8833998 commented on #344
I used [this SQL validator](https://www.eversql.com/sql-syntax-check-validator/)  that you mentioned to check a SQL

[code]
it showed me valid syntax, but it's not, it couldn't be executed on my database.

Beside, I checked the [mysql union reference](https://dev.mysql.com/doc/refman/8.0/en/union.html), and didn't find the syntax like your SQL. You could give it a double check.

[code]

[code]

[c

[2020-06-19 07:57] brad55590 commented on #332
Good Day,
Thank you very much, the changes are working well.

I am happy to close this ticket and will reopen a new one if any more changes are required.

Great Job.

[2020-06-19 07:57] #332 closed

[2020-06-19 14:10] taozhi8833998 commented on #332
ok, it's my pleasure.

[2020-06-20 08:10] taozhi8833998 commented on #344
@anton164 any more info about this?

[2020-06-23 07:52] anton164 commented on #344
Hey @taozhi8833998, the query runs and is considered valid in my database 🤷

However, I rewrote the query to your suggested syntax and it still works as intended, so feel free to close. Thanks for looking into this!

[2020-06-29 06:18] #344 closed

[2020-06-29 16:51] adminy opened #351 "for update parse error"
**Describe the bug**
Missing syntax, parse error for mysql "FOR UPDATE" at the end of query.

**Database Engine**
MySQL

**To Reproduce**
[code]

[2020-06-29 18:03] adminy opened #352 "Type column parse error"
**Describe the bug**
TYPE cannot be used as a column name

**Database Engine**
MySQL

**To Reproduce**
[code]

[2020-06-30 11:02] thomaspiller opened #354 "EXTRACT() parse error"
First of all, thanks for this great parser!

**Describe the bug**
I get an error when the EXTRACT() function is used in a query.

**Database Engine**
PostgreSQL

**To Reproduce**
Here is an minimal example to reproduce this error:
https://runkit.com/thomaspiller/5efb170e7d79d4001b95b057

[2020-06-30 11:34] taozhi8833998 commented on #351
@adminy please open an issue based on the template for more info.

[2020-06-30 11:34] taozhi8833998 commented on #352
@adminy please open an issue based on the template for more info.

[2020-06-30 11:35] taozhi8833998 commented on #352
`type` is a keyword, I can remove it, but I don't know which DB you are using.

[2020-06-30 11:38] taozhi8833998 commented on #354
I will support `EXTRACT` function in pg as soon as possible.

[2020-06-30 11:42] thomaspiller commented on #354
Thanks!

[2020-06-30 12:25] taozhi8833998 commented on #354
@thomaspiller `2.2.1` version has been released, you can give it a shot.

[2020-06-30 14:56] adminy commented on #352
mysql

[2020-06-30 15:07] thomaspiller commented on #354
The example provided above is functional with version 2.2.1.
Unfortunately, support for the EXTRACT() function is only partial as an error is returned when a CTE is used.
Basic example: https://runkit.com/thomaspiller/5efb5016ebfc13001a9d9644

[2020-06-30 22:02] Samlinxia opened #356 "Cannot parse PostgresDB dot concatenated table names"
**Describe the bug**
In PostgresDB, table names are <db-name>.<schema>.<table-name>.  When using parser.parse('select id from db-name.public.table-name'), throw this error:
[code]
I think it's because the table name doesn't allow more than one dots concatenation.  Do

**Database Engine**
PostgreSQL.

**To Reproduce**
parser.parse('select id from db-name.public.table-name')

[2020-07-01 03:18] taozhi8833998 commented on #354
@thomaspiller ok, I thought it can only extract from a string rather than a column before, I will add it later.

[2020-07-01 03:42] taozhi8833998 commented on #351
@adminy  I will close it if you couldn't update the issue based on the template.

[2020-07-01 03:44] taozhi8833998 commented on #352
@adminy you should open an issue based on the template that I provided next time. I will remove `type` in MySQL as keyword in `2.2.2` version.

[2020-07-01 03:49] taozhi8833998 commented on #354
@thomaspiller sorry for that, you could try the new release `2.2.2` .

[2020-07-01 03:50] taozhi8833998 commented on #356
@Samlinxia It has been supported in `2.2.2`, try it.

[2020-07-01 08:42] #352 closed

[2020-07-01 08:45] adminy commented on #351
Updated

[2020-07-01 09:55] thomaspiller commented on #354
I just tested my code with version 2.2.2 and everything works well.
Many thanks.

[2020-07-01 09:55] #354 closed

[2020-07-01 16:07] shusson opened #363 "cannot parse boolean in Postgresql"
**Describe the bug**
Cannot parse a boolean type in postgres

**Database Engine**
postgres 12.1

**To Reproduce**

[code]

[code]

- node-sql-parser 2.2.2
- node 12.14

**Expected behavior**
Can parse boolean types. The workaround I have now is to replace boolean with tinyint(1).

[2020-07-01 16:10] shusson opened #364 "Cannot parse `time(n)` type in postgres"
**Describe the bug**
Cannot parse time(n) type in postgres

**Database Engine**
postgres 12.1

**To Reproduce**

[code]

[code]

- node-sql-parser 2.2.2
- node 12.14

**Expected behavior**
Can parse time(n) types.

[2020-07-01 16:25] shusson opened #365 "Microsoft SQL server support"
Would be great to have Microsoft SQL server support, any plans to support this?

[2020-07-01 16:51] Samlinxia commented on #356
@taozhi8833998 , it works! 非常感谢！

[2020-07-01 19:36] #356 closed

[2020-07-01 23:39] Samlinxia opened #366 "[FeatureRequest] Support typescript types"
Do you have any plans to support Typescript?  It's trending popular in the companies using NodeJS.  By typing the interface, the program is more robust and developers are more productive.  This library is awesome, but one of my frustrating experiences is that there seems no clue about the structure of the returned `ast` in ` const {ast} = parser.parse()`.  If you don't have a plan to support, can

[2020-07-02 09:56] shusson commented on #365
nvm I see node-sql-parser has support for Transact-SQL, which is what mssql uses.

[2020-07-02 09:56] #365 closed

[2020-07-02 11:45] taozhi8833998 commented on #356
u r welcome, it's my pleasure.

[2020-07-02 11:47] taozhi8833998 commented on #366
@Samlinxia the module has [types](https://github.com/taozhi8833998/node-sql-parser/blob/master/index.d.ts) file, I have deprecated `@types/node-sql-parser`.

[2020-07-02 11:48] taozhi8833998 commented on #364
ok, got it, I will support it asap.

[2020-07-02 11:49] taozhi8833998 commented on #363
got, I will add boolean type asap.

[2020-07-04 04:34] taozhi8833998 commented on #351
try `2.2.3` version

[2020-07-04 04:34] taozhi8833998 commented on #363
try `2.2.3` version

[2020-07-04 04:34] taozhi8833998 commented on #364
try `2.2.3` version

[2020-07-06 08:52] damilaufer opened #368 "Hive false positive parsing sql without spaces"
**Describe the bug**
The parser returns "valid" for an invalid SQL

**Database Engine**
HIVE

**To Reproduce**
-the SQL that be parsed
SELECT * FROM table WHERE col1 =1and col2 = 3
-the node-sql-parser version
2.1.1
-the node version
10.16.3

**Expected behavior**
The parser should indicate an invalid SQL near "=1and"

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2020-07-06 10:42] shusson commented on #363
👍 fixed in 2.2.3

[2020-07-06 10:42] #363 closed

[2020-07-06 10:42] shusson commented on #364
👍 fixed in 2.2.3

[2020-07-06 10:42] #364 closed

[2020-07-06 10:47] shusson opened #369 "cannot parse square brackets [] in transact-sql"
**Describe the bug**
Cannot parse [square brackets []](https://stackoverflow.com/questions/9917196/meaning-of-square-brackets-in-ms-sql-table-designer) in transactsql

**Database Engine**
SQL server 2019

**To Reproduce**

[code]

[code]

- node-sql-parser 2.2.3
- node 12.14

**Expected behavior**
can square brackets []

[2020-07-06 10:50] shusson opened #370 "cannot parse `real` in transact-sql"
**Describe the bug**
Cannot parse [real](https://docs.microsoft.com/en-us/sql/t-sql/data-types/float-and-real-transact-sql?view=sql-server-ver15) in transactsql

**Database Engine**
SQL server 2019

**To Reproduce**

[code]

[code]

- node-sql-parser 2.2.3
- node 12.14

**Expected behavior**
can parse `real`

**workaround**
use float(24)

[2020-07-06 10:53] shusson opened #371 "Cannot parse time(n) type in transactsql"
**Describe the bug**
Cannot parse time(n) type in transactsql

**Database Engine**
microsoft sql server 2019

**To Reproduce**

[code]

[code]

- node-sql-parser 2.2.2
- node 12.14

**Expected behavior**
Can parse time(n) types.

[2020-07-07 18:10] kpeters-cbsi opened #372 "Cannot parse MySQL UPDATE statements with LIMIT clause"
**Describe the bug**
MySQL UPDATE statements with a LIMIT clause fail to parse.

**Database Engine**
MySQL

**To Reproduce**
- SQL: "update table1 set field1 = 7461, status = 'W' where field2 = (select field2 from table2 where field1 = 7461) and field1 is null limit 5;",
- node-sql-parser: 2.2.3
- node: v12.17.0

**Expected behavior**
[code]
Expected parser.astify(sql) to not throw an Error

**Scr

[2020-07-07 23:05] adminy commented on #351
Yes that did it, sorry for the late testing, thank you very much!

[2020-07-07 23:05] #351 closed

[2020-07-09 04:15] Samlinxia commented on #366
Thanks @taozhi8833998. That's very helpful.  There is a typo here where `columnsList` should be `columnList`
https://github.com/taozhi8833998/node-sql-parser/blob/master/index.d.ts#L19

[2020-07-09 04:15] #366 closed

[2020-07-09 21:11] kpeters-cbsi commented on #372
If someone can explain to me how the parser works, I can submit a patch. I just couldn't make heads or tails of the code.

[2020-07-10 03:38] taozhi8833998 commented on #366
ok, I will update it later

[2020-07-10 03:41] taozhi8833998 commented on #372
I will support it this weekend, sorry for my bad code. The parser is based on [pegjs](https://pegjs.org/), maybe you should learn it first. Thanks for ur issue and kindness.

[2020-07-10 05:00] Samlinxia commented on #366
@taozhi8833998 : do you have plan to open the permission of this project to let others commit?  I tried to send out a PR to fix it but hits a permission error.

[2020-07-10 06:46] taozhi8833998 commented on #366
maybe some settings goes wrong?? Others could open PR for this project before, I will check it later. Sorry for that.

[2020-07-10 06:50] taozhi8833998 commented on #366
@Samlinxia  I have invited you as a collaborator for this project, you can agree with it, and try again. I will find the corresponding setting in Github for anyone can open PR for it later.

[2020-07-10 06:54] taozhi8833998 commented on #366
@Samlinxia maybe you need fork this project, and push code to ur fork repository, then open PR for ur commits

[2020-07-10 16:45] kpeters-cbsi commented on #372
I don't think it's that your code is bad. I think that it's my unfamiliarity with pegjs.

[2020-07-10 16:53] kpeters-cbsi commented on #372
Looking at [mysql.pegjs](https://github.com/taozhi8833998/node-sql-parser/blob/master/pegjs/mysql.pegjs), I think all you'd need to do is add an optional `limit_clause` to `update_stmt`. You ought to do that to `delete_stmt` as well, and add `order_by_clause` to both, as both LIMIT and ORDER BY are legal clauses in UPDATE and DELETE statements (see https://dev.mysql.com/doc/refman/5.7/en/update.ht

[2020-07-11 03:55] taozhi8833998 commented on #372
ok, I am working on it now, I will publish a new version to support this feature.

[2020-07-11 05:26] taozhi8833998 commented on #372
@kpeters-cbsi try `2.2.4` version.

[2020-07-11 06:16] taozhi8833998 commented on #371
@shusson try `2.2.5`

[2020-07-11 06:17] taozhi8833998 commented on #370
@shusson try `2.2.5`

[2020-07-11 06:17] taozhi8833998 commented on #369
@shusson  try `2.2.5`

[2020-07-12 04:31] taozhi8833998 commented on #368
it has been fixed in `2.2.6`. Thank you for finding the bug.

[2020-07-12 11:36] damilaufer commented on #368
Thank you, it is working!

[2020-07-12 11:36] #368 closed

[2020-07-13 08:27] shusson commented on #369
👍 tested with 2.2.6

[2020-07-13 08:27] #369 closed

[2020-07-13 08:27] shusson commented on #371
👍 tested with 2.2.6

[2020-07-13 08:27] #371 closed

[2020-07-13 08:28] shusson commented on #370
👍 tested with 2.2.6

[2020-07-13 08:28] #370 closed

[2020-07-13 08:29] taozhi8833998 commented on #370
thx

[2020-07-13 15:23] kpeters-cbsi commented on #372
That worked, thanks!

[2020-07-13 15:23] #372 closed

[2020-07-13 22:16] kpeters-cbsi opened #376 "Parse"
**Describe the bug**
MySQL SELECT statements using the NOT keyword fail to parse

**Database Engine**
MySQL

**To Reproduce**
- SQL: "select id from foo where deleted and not suspended",
- node-sql-parser: 2.2.6
- node: v12.17.0

**Expected behavior**
[code]
Expected parser.astify(sql) to not throw an Error

**Screenshots**
[code]
**Additional Information**
"select id from foo where deleted" parse

[2020-07-14 02:13] taozhi8833998 commented on #376
@kpeters-cbsi got it.

[2020-07-15 03:01] taozhi8833998 commented on #376
@kpeters-cbsi `2.2.7` has been released to fix the issue, give it a shot.

[2020-07-15 14:25] kpeters-cbsi commented on #376
That worked! I'll be sure to let you know the next time my project's SQL
runs up against the boundaries of your parser. :)

On Tue, Jul 14, 2020 at 10:02 PM taozhi <notifications@github.com> wrote:

[2020-07-15 16:29] oguimbal opened #383 ""create index on mytable(mycolumn);" => syntax error."
**Describe the bug**: Create index statements are throwing parse errors.
**Database Engine**:  All ?  (fails on PostgreSQL...)

**To Reproduce**
[code]

**Expected behavior**: This statement is valid SQL... i would expect it to work :)

Thanks for this nice lib :)

[2020-07-16 02:00] taozhi8833998 commented on #376
@kpeters-cbsi ok, keep waiting, thanks. I will close the issue.

[2020-07-16 02:00] #376 closed

[2020-07-16 06:02] taozhi8833998 commented on #383
@oguimbal I will add it today.

[2020-07-16 07:31] oguimbal commented on #383
Wow, thanks :)

[2020-07-17 01:58] taozhi8833998 commented on #383
@oguimbal `2.3.0` version has been published to support it, try it.

[2020-07-18 09:03] oguimbal commented on #383
I have :) Works like a charm. Thank you !

[2020-07-18 09:03] #383 closed

[2020-07-20 00:41] zafaralam commented on #174
I also found that the parser throws an error when adding NOLOCK to the table while doing select statements. Below is an example

[code]

Can someone please help with this?

Thanks :)

[2020-07-20 01:39] deeper-thought opened #389 "Cannot astify pg SQL with columns like "t1"."col1" (column name quoted by "")"
**Describe the bug**
Cannot astify pg SQL with columns like  "t1"."col1" (column name quoted by "")
such as:
SELECT "t1"."uid", "t1"."username" FROM "t1"

such error is thrown:
peg$SyntaxError {message: "Expected "*", "--", "/*", or [ \t\n\r] but "\"" found.", expected: Array(8), found: """, location: {…}, name: "SyntaxError", …}

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be p

[2020-07-20 03:34] taozhi8833998 commented on #174
@zafaralam will support today

[2020-07-20 04:37] zafaralam commented on #174
Thanks :) and I'm happy to help if you need.

[2020-07-20 23:38] taozhi8833998 commented on #389
@deeper-thought It has been supported and will be released in the next version.

[2020-07-22 20:42] lolopinto opened #396 "support for prepared statements"
**Describe the bug**
cannot parse prepared statements

**Database Engine**
mysql or postgres

**To Reproduce**
`const ast = parser.parse("SELECT bar, baz, foo FROM tablename WHERE bar = 1");`
works

`const ast = parser.parse("SELECT bar, baz, foo FROM tablename WHERE bar = ?");  // mysql`
`const ast = parser.parse("SELECT bar, baz, foo FROM tablename WHERE bar = $1");  // postgres`

doesn't

**Exp

[2020-07-23 01:50] taozhi8833998 commented on #396
@lolopinto got it, I will support it asap. Thanks for ur issue.

[2020-07-23 01:51] lolopinto commented on #396
thanks!

[2020-07-23 12:25] taozhi8833998 commented on #389
@deeper-thought try `3.0.1` version.

[2020-07-23 12:25] #389 closed

[2020-07-23 13:22] taozhi8833998 commented on #396
@lolopinto try `3.0.2` version.

[2020-07-23 17:27] lolopinto commented on #396
@taozhi8833998 it seems to work when there's one field but not multiple e.g.

`const ast = parser.parse("SELECT bar, baz, foo FROM tablename WHERE bar = ?");` works

but not

`const ast = parser.parse("SELECT bar, baz, foo FROM tablename WHERE bar = ? AND baz = ?");`

![image](https://user-images.githubusercontent.com/10857143/88318128-22a8b600-cccf-11ea-8ac8-43ad9bbec000.png)

[2020-07-24 02:56] taozhi8833998 commented on #396
@lolopinto sorry for that, my bad. I have fixed it in `3.0.3` version, please give it a shot.

[2020-07-24 04:33] lolopinto commented on #396
awesome, thanks so much!

[2020-07-24 05:17] taozhi8833998 commented on #396
@lolopinto if it has been fixed, close the issue when it's convenient for u.

[2020-07-24 05:27] taozhi8833998 commented on #174
@zafaralam Sorry for keeping u waiting for such a long time, I am developing the parser to support `hints` syntax in SQL. I will notify you when I made any progress.

[2020-07-24 06:18] #396 closed

[2020-07-28 07:50] jingsam opened #402 "double-quoted label should be column or table identifier, not literal string"
**Describe the bug**

Both PostgreSQL and ANSI SQL standard treate double-quoted label as column or table identifier. literal string should be single-quoted.

Althrough double quotes are supported by MySQL for string values as well, but single quotes are more widely accepted by other RDBMS, so it is a good habit to use single quotes instead of double.

**Database Engine**
which database engine doe

[2020-07-28 08:04] taozhi8833998 commented on #402
@jingsam Thanks for pointing it out, I will check it later, and update any progress I made here.

[2020-07-28 08:26] jingsam opened #403 "ident_name should not be limited with letters and digits"
**Describe the bug**
Currently `ident_name` follows such rules:

https://github.com/taozhi8833998/node-sql-parser/blob/1992d7e449ef7896ca4e50cd90f524415a0f0d96/pegjs/postgresql.pegjs#L2245-L2253

There are two kinds of identifiers. Ordinary identifiers are identifiers not surrounded by double quotation marks. Delimited identifiers are identifiers surrounded by double quotation marks.

According to

[2020-07-28 08:37] jingsam commented on #403
PostgreSQL identifier rules:
## Ordinary identifier:
1. begin with a letter (a-z, but also letters with diacritical marks and non-Latin letters) or an underscore (_).
2.Subsequent characters in an identifier can be letters, underscores, digits (0-9), or dollar signs ($).

## Delimited identifier:
can contain any character, except the character with code zero.

link: https://www.postgresql.org/docs

[2020-07-28 08:42] jingsam commented on #403
SQL Server  identifier rules:

## Ordinary identifier:
1. The first character must be one of the following:
- a through z, from A through Z, and also letter characters from other languages.
- The underscore (_), at sign (@), or number sign (#).

2. Subsequent characters can include the following:
- Letters as defined in the Unicode Standard 3.2.
- Decimal numbers from either Basic Latin or other n

[2020-07-28 08:52] jingsam commented on #403
MySQL identifier rules:

## Ordinary identifier:
- ASCII: [0-9,a-z,A-Z$_] (basic Latin letters, digits 0-9, dollar, underscore)
- Extended: U+0080 .. U+FFFF

## Delimited identifier:
- ASCII: U+0001 .. U+007F
- Extended: U+0080 .. U+FFFF

link: https://dev.mysql.com/doc/refman/8.0/en/identifiers.html

[2020-07-28 10:59] thomaspiller opened #404 "Support date/time operations with INTERVAL"
**Describe the bug**
When INTERVAL is used for a date operation, the following sequence generates an invalid SQL statement:
1. create an AST from SQL
2. convert the AST back to SQL
SQL input: `SELECT NOW() - INTERVAL '7 DAY'`
SQL output: ``SELECT NOW() - "INTERVAL" AS  `7 DAY` ``

**Database Engine**
PostgreSQL

**To Reproduce**
See example: https://runkit.com/thomaspiller/interval-node-sql-parser

[2020-07-29 00:54] taozhi8833998 commented on #403
@jingsam Thanks for getting my knowledge up, I will check it in detail later.

[2020-07-29 01:00] taozhi8833998 commented on #404
@thomaspiller `3.0.4` version has fixed that. See [example](https://runkit.com/taozhi8833998/5df6fe8f21d6b8001be36cb7)

[2020-07-29 13:12] thomaspiller commented on #404
It is working fine now. Thank you very much!

[2020-07-29 13:12] #404 closed

[2020-07-29 14:04] thomaspiller opened #406 "WHERE clause: numeric values must be quoted to be parsed to AST"
**Describe the bug**
In the WHERE clause, if a condition is specified on a column of numeric type (tested with integer, smallint, bigint, double precision) and the value is **NOT** single or double quoted, the creation of AST returns this error: `ReferenceError: BigInt is not defined`

**Database Engine**
PostgreSQL

**To Reproduce**
- SQL statement: SELECT AVG(population) FROM < table > WHERE pop

[2020-07-29 23:35] taozhi8833998 commented on #406
@thomaspiller I can't reproduce it, can you give me a runkit link to reproduce it.

[2020-07-30 08:15] thomaspiller commented on #406
After some tests, I noticed that this bug is reproducible with version 8 of Node.js, which is no longer maintained: https://runkit.com/thomaspiller/where-clause-numeric-condition

Everything works as expected from Node.js v10.
So the problem is on our side, we need to update Node.js in our project. Sorry for that.

[2020-07-30 08:15] #406 closed

[2020-07-30 09:58] vvlookman opened #407 "sqlify() does not format column names correctly"
**Describe the bug**
sqlify(select * from t where a=1) => select * from t where "a"=1
sqlify(select * from t where "a"=1) => select * from t where 'a'=1

**Database Engine**
PostgreSQL

**To Reproduce**
-node-sql-parser version: 3.0.1
-node version: 10.21.0

const parser = new Parser();
const ast = parser.astify(`SELECT * FROM T WHERE "a"=1`, {database: 'PostgreSQL'});
const sql = parser.sqlify(as

[2020-08-02 09:35] estar opened #415 "Astify does not recognize escaped single quotes in single-quoted string"
**Describe the bug**
Restating #314. Standard SQL allows embedding of single quotes in a string like this:
[code]
Demo: http://sqlfiddle.com/#!9/9eecb/159907/0

astify() throws a SyntaxError.

**Database Engine**
I’m interested particularly in PostgreSQL, which supports the syntax given above. Per https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-CONSTANTS:

**To Reproduce

[2020-08-02 09:48] estar opened #416 "astify() does not recognize multi-line string literals"
**Describe the bug**
SQL allows single-quoted strings to be split across lines, like this:
[code]
Demo: http://sqlfiddle.com/#!17/9eecb/55252/0
astify() throws a SyntaxError.

**Database Engine**
It’s standard syntax, supported e. g. by PostgreSQL. [Documentation](https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-CONSTANTS):

**To Reproduce**
On commit ab0ee68c53f3a5d77f1f

[2020-08-03 16:58] oguimbal opened #417 "Another (simpler - less featureful) postgres parser, if you're interested"
Hi,

Just to let you know - I started to build on node-sql-parser, but several things with this lib was a bit misaligned with the usage that I had in mind.

I just released the first version of [pg-mem](https://github.com/oguimbal/pg-mem) (a small in-memory version of postgres) which [implements its own parser](https://github.com/oguimbal/pg-mem/tree/master/src/parser/syntax).

I'm posting an issu

[2020-08-04 12:46] wshart commented on #407
Also having this problem with an accompanying error:
`Unhandled Rejection (Error): undefined statements not supported at the moment`

[2020-08-04 12:58] wshart commented on #407
Typo? Column names should _not_ be wrapped in ""

[2020-08-04 13:56] oguimbal commented on #407
@wshart Yes they should...  if you want to be able to use protected names. For instance

[code]
is **NOT** a valid statement, while

[code]
is valid. Same for column names.

[2020-08-04 20:10] wshart commented on #407
@oguimbal You are absolutely right - not sure how I didn't know that!

[2020-08-04 22:28] oguimbal commented on #407
I cant blame you, I didnt notice it either before I had to write a parser :)

[2020-08-05 14:22] wshart commented on #407
Possibly related, if I astify a query that selects columns with double-quotes, the returned object's columns are given type 'string', rather than 'column_ref'

To reproduce:
`const ast = parser.astify('SELECT "a" FROM "b"', options);
console.log(ast.columns)`

Output:
`[ { type: 'expr', expr: { type: 'string', value: 'a' }, as: null } ]`

[2020-08-05 20:51] goliatone opened #420 "SyntaxError: PostgreSQL query with LEFT function"
**Describe the bug**
Parser throws a SyntaxError error when parsing an otherwise valid query

**Database Engine**
PostgreSQL

**To Reproduce**
-the node-sql-parser: @3.0.4
-the node version: v10.14.2

[code]

**Expected behavior**
Query should be parsed correctly as it is a valid SQL statement.

[2020-08-11 09:15] MeCode4Food opened #423 "Big Query parser not working on ARRAY("
**Describe the bug**
Parser for bigquery breaks on function ARRAY()

**Database Engine**
BigQuery

**To Reproduce**
-the SQL that be parsed
[code]

-the node-sql-parser version
2.3.0

-the node version
12.18.0

**Expected behavior**
Parser works without throwing errors

**Screenshots**
![image](https://user-images.githubusercontent.com/25502412/89879678-df6aa480-dbf5-11ea-997f-59dd69ff1205.png)

H

[2020-08-11 20:35] wshart opened #424 "No support for PostgreSQL ILIKE operators"
**Describe the bug**
Astify does not support the ILIKE operator (the case-insensitive version of LIKE)

**Database Engine**
PostgreSQL.

**To Reproduce**
SELECT * FROM table WHERE 'a' ILIKE 'A'
-the node-sql-parser version: 3.0.4
-the node version: v10.17.0

**Expected behavior**
The above should parse.

**Additional context**
Instead the parser throws a SyntaxError.

[2020-08-19 13:39] Josnic opened #428 "Get prepared columns only"
Hi.
First, I want to say this library is excellent. This is not a problem with the library, but its mine. I need get only the prepared columns (?) in a list. Is possible this new functionality?
Thanks.

[2020-08-24 22:39] goliatone commented on #423
This issue seems to be similar to [#420](https://github.com/taozhi8833998/node-sql-parser/issues/420).

[2020-08-27 23:29] Samlinxia opened #432 "PosgresSQL DISTINCT inside Aggregation function parse failure"
**Describe the bug**
As title. `ARRAY_AGG(DISTINCT columnName)` yields parsing error

**Database Engine**
PostgreSQL.

**To Reproduce**
The SQL
[code]
Error stacktrace:
[code]

**Expected behavior**
Should be a valid SQL

**Additional context**
Thanks for the help!

[2020-09-02 11:08] taozhi8833998 commented on #432
@Samlinxia fixed in the next version.

[2020-09-02 11:57] #432 closed

[2020-09-02 11:58] taozhi8833998 commented on #424
@wshart supported in next version.

[2020-09-02 11:58] #424 closed

[2020-09-02 12:01] taozhi8833998 commented on #428
@Josnic I can't get u clearly. sorry about that. You could show examples of what you want.

[2020-09-02 13:30] #423 closed

[2020-09-03 09:26] thegnuu opened #444 "Error while parsing multiple LIKE operators in postgres"
**Describe the bug**
When using multiple `LIKE` operators the following error occurs:

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
node-sql-parser: 3.0.4
nodejs: 12.13.0

[code]

**Expected behavior**
The provided SQL is correct and can be executed by Postgres, therefore this error should not be thrown :)

![Screenshot 2020-09-03 at 11 22 28](https://user-images.githubusercontent.com/

[2020-09-04 07:27] taozhi8833998 commented on #444
@thegnuu It has been fixed, will be supported in next version.

[2020-09-04 08:06] #420 closed

[2020-09-04 08:06] #444 closed

[2020-09-04 08:27] thegnuu commented on #444
Thanks a lot @taozhi8833998

[2020-09-04 13:55] Josnic commented on #428
Hi @taozhi8833998

My case is next. I have a prepared query:

`SELECT * FROM tabla WHERE id = ? AND name LIKE '%jos%' AND city_id = ?`

I want only extract columns with ? (as PDO) in frontend. It is not up to the library to fix it, but to the developer. I want to share my solution:

`getPrepared(obj, result = []) {
        let value;
        Object.keys(obj).forEach(key => {

          value = obj

[2020-09-10 19:01] esetnik opened #449 "[TSQL] DROP INDEX Support"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/t-sql/statements/drop-index-transact-sql?view=sql-server-ver15

**Database Engine**
mssql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
v3.0.1
-the node version
v12.18.3

**Expected behavior**
No error as this is valid syntax

[2020-09-10 21:49] goliatone opened #450 "[Postgres] JSON -> and ->> not supported"
**Describe the bug**
Postgres JSON does not support `->` and `->>` operators.

**Database Engine**
PostgreSQL

**To Reproduce**

[code]
* node-sql-parser@3.1.0
* node v10.14.2

**Expected behavior**
Should not throw error, Invalid query: SyntaxError.

[2020-09-10 22:23] goliatone opened #451 "[Postgres] Support for <> operator"
**Describe the bug**
Postgres JSON does not support `<>` operator.

**Database Engine**
PostgreSQL.

**To Reproduce**
[code]
* node-sql-parser@3.1.0
* node v10.14.2

**Expected behavior**
Should not throw error:

[2020-09-11 00:44] nkhlmn opened #452 "TSQL - IF..ELSE statement not supported"
**Describe the bug**
IF..ELSE statements are not being parsed correctly for T-SQL.
https://docs.microsoft.com/en-us/sql/t-sql/language-elements/if-else-transact-sql?view=sql-server-ver15

**To Reproduce**
[code]
Throws following error:

**Additional context**
I'm using this with the coc-sql plugin for neovim. Version bundled is 3.01

[2020-09-11 01:25] fannheyward opened #453 "CREATE DATABASE SyntaxError"
**Describe the bug**
[code]

error:

[code]

**Database Engine**
MySQL

**Expected behavior**
`CREATE DATABASE` is an valid SQL.

[2020-09-23 17:43] Samlinxia opened #457 "PostgresSQL and FlinkSQL does not support conditional functions inside aggregation function"
**Describe the bug**
Below SQL get a parsing error for PostgreSQL and FlinkSQL:
  SELECT SUM(CASE WHEN status = 'ACTIVE' THEN 1 ELSE 0 END) FROM tablename

I tried to debug, but the code should already support this syntax. The `additive_expr` should contain `primary`, which contains `case_expr`. Probably I'm not totally understand the code yet.
https://github.com/taozhi8833998/node-sql-parser/blob

[2020-09-23 18:33] Samlinxia opened #458 "PostgreSQL parsing error on Value Construction function"
**Describe the bug**
Parsing error on Value construction function. Seems it's not supported yet. e.g.
  SELECT ARRAY[col1, col2, 1, 'str_literal'] from table
  SELECT ROW(col1, col2, 'literal', 1) from table

Reference here:
https://www.postgresql.org/docs/9.0/sql-expressions.html#SQL-SYNTAX-ARRAY-CONSTRUCTORS
https://ci.apache.org/projects/flink/flink-docs-release-1.11/dev/table/functions/systemF

[2020-09-24 15:19] potatozerg opened #459 "How to whitelist AS?"
Hi, how can I whitelist AS?
["select::(.*)::(.*)"], this only allows select without AS.
If I want to use a SQL like SELECT xyz AS aaa FROM xxxx.
How to fix the whitelist rule?
多谢！

[2020-09-24 19:12] potatozerg commented on #459
This works: SELECT  xyz, * AS aaa FROM xxxx
This doesn't work: SELECT *, xyz AS aaa FROM xxxx

[2020-09-29 19:14] pgarrison opened #463 "TSQL - support COUNT() without OVER"
**Describe the bug**
In T-SQL, the `COUNT(...)` function can be used without `OVER`
[https://docs.microsoft.com/en-us/sql/t-sql/functions/count-transact-sql?view=sql-server-ver15](https://docs.microsoft.com/en-us/sql/t-sql/functions/count-transact-sql?view=sql-server-ver15)

**Database Engine**
Transact SQL

**To Reproduce**
[code]
Each of these throws an error but should be valid, e.g. `Expected

[2020-10-01 16:17] hodapp512 opened #464 "Oracle & PL/SQL Support"
Really simple, it would be nice to have support for Oracle SQL, especially for PL/SQL.

[2020-10-01 17:39] kpeters-cbsi opened #465 "Parse failure"
The query "select id, foo, id AS message_id, author_id, subject, author_name, unix_timestamp(created) AS created, deleted, is_private, unix_timestamp(modified) AS modified, parent_id, data, body, type, views, (select group_concat(id) from content cr where cr.foo=c.foo and cr.parent_id=c.id) AS replies, cp.content_id as pinned from content c LEFT JOIN content_pinned cp ON c.foo = cp.bar AND c.id =

[2020-10-11 00:40] lolopinto opened #470 "RETURNING * not supported"
**Describe the bug**
cannot parse `RETURNING *` after an `INSERT` statement or `UPDATE` statement

**Database Engine**
Postgres

**To Reproduce**
on latest version 3.1.0
[code]

**Expected behavior**
sql statement should be parsed and returning should reflect the `*` column

**Screenshots**
![image](https://user-images.githubusercontent.com/10857143/95667784-92387f80-0b1f-11eb-93e3-a803dca55965.pn

[2020-10-12 10:00] niklashhh opened #473 "PostgreSQL CREATE SEQUENCE SyntaxError"
**Describe the bug**
[code]
fails with
[code]

**Database Engine**
PostgreSQL

**To Reproduce**
the SQL that be parsed:
[code]
the node-sql-parser version
[code]
the node version
[code]

**Expected behavior**
Should be able to parse a valid postgreSQL query `CREATE SEQUENCE`

[2020-10-14 09:36] wangyik1989 opened #474 "一条sql,有多个子查询并且子查询中表的别名相同时，解析出来的columnlist会出现 列对应不上表的情况"
SQL='SELECT
   A.A_NAME,
   B.B_NAME,
   C.C_NAME
FROM
(SELECT M.A_ID,M.A_NAME,M.A_DESC FROM TABLE_A M) A
LEFT JOIN
(SELECT M.B_ID,M.B_NAME,M.B_DESC FROM TABLE_B M) B ON(A.A_ID=B.B_ID)
LEFT JOIN
(SELECT M.C_ID,M.C_NAME,M.C_DESC FROM TABLE_C M) C ON(A.A_ID=C.C_ID)'

解析后，columnlist

0: "select::A::A_NAME"
1: "select::B::B_NAME"
2: "select::C::C_NAME"
3: "select::TABLE_C::A_ID"
4: "select::TABLE_C::A

[2020-10-19 07:41] osdiab opened #483 "Subquery in from statement typed improperly"
**Describe the bug**
For a number of things the typescript types seem to be incomplete - for instance, when i actually run the parser, subqueries in FROM statements tend to have `expr` members which dont appear in the (From | Dual)[] typing

**Database Engine**
PostgreSQL, but that's irrelevant for this issue

**To Reproduce**
[code]

note that `ast` has the `expr` key

**Expected behavior**
Types

[2020-10-22 01:38] tbantle22 opened #487 "MySQL where clause with multiple conditions failing to astify with updated version"
**Describe the bug**
I submitted a PR [here](https://github.com/taozhi8833998/node-sql-parser/pull/486) adding tests for some queries that used to parse, which are now failing for the new version.

**Database Engine**
MySQL

**To Reproduce**
See tests in PR above

**Expected behavior**
Query successfully parse

**Screenshots**
See tests in PR above

**Additional context**
These queries successfull

[2020-10-22 15:33] alexeyfadeev opened #488 "PostgreSQL: syntax error on query with nested parentheses"
A query with nested nested parentheses which works fine in Postgres couldn't be parsed and raises syntax error.

**Database Engine**
PostgreSQL.

**To Reproduce**
-the SQL that be parsed:
`SELECT COALESCE(array_agg(DISTINCT(a1."Name")), ARRAY[]::text[]) AS "distinctName" FROM public."Users" a1`

-the node-sql-parser version: 3.1
-the node version: 12.19

    const { Parser } = require('node-sql-pa

[2020-10-25 00:26] MayamaTakeshi opened #490 "Mysql: no support for VALUES(COLUMN_NAME) in ON DUPLICATE KEY UPDATE"
Hi,
this query cannot by astified:
`
        INSERT INTO user (id, name, age)
        VALUES (1, 'user1', 50)
        ON DUPLICATE KEY
        UPDATE
                name = VALUES(name),
                age = VALUES(age)
`

[2020-10-28 12:42] hranum opened #494 "MySQL: Combining grouped expressions with un-grouped within the where_clause fails"
**Describe the bug**
The following queries yields the same results, but the latter one is resulting in a parsing error.

[code]

Works:
[code]

Does not work:
[code]

Additionally, having multiple grouped expressions, like the following query, will not work either:

[code]

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
Described above
-the node-sql-parser version
3.1.0
-the n

[2020-11-09 11:35] labs20 opened #496 "Emit events while parsing"
Hi.

It would be very helpful if events were emitted while the parser is working, like "onColumn(col, sqlObj)", "onSubSelect(subSql, parentNode)", etc...

One could then implement validation and transform routines on the fly, while the targets are founding by the parser, instead of having to traverse the parser result afterwards.

Thanks!

[2020-11-09 11:58] oguimbal commented on #496
IMO this is equivalent to an AST visitor, which is more flexible and simpler to implement (if you dont know it already, check out "visitor pattern" on google).

Example base class implementation [here](https://github.com/oguimbal/pg-mem/blob/master/src/ast-visitor.ts), and an example on how to use it [here](https://github.com/oguimbal/pg-mem/blob/4f3ba817363e0b4286dcfb1d718a88d37fc8f713/src/transf

[2020-11-09 15:26] labs20 opened #497 "sqlParser.sqlify(sqlObj, {pretty_print: true}"
It would be nice if sqlify could return a well formatted and easy to read sql string.

Thanks!

[2020-11-09 21:01] labs20 opened #498 "Methods for modifying an AST object"
Hi.

Methods for modifying an type="select" node of an AST object would be awesome.

For example:
[code]

Thanks!

[2020-11-11 15:02] mlapenna7 opened #500 "TRANSLATE function with an expression argument"
**Describe the bug**
I supplied a SQL stmt to the parser and I received an error from the parser.astify(sq).
It seems that supplying an expression inside a TRANSLATE causes an error.
For example
select ....
cast(TRANSLATE(substr(a.report_timestamp as string),0,10), ' |-|:','') as decimal(8,0) as report_date,
...
.
If I remove this line, the astify call works.
If replace the substr function with a

[2020-11-11 16:32] haoliangyu opened #501 "npm package size is too big?"
![image](https://user-images.githubusercontent.com/1726265/98829984-d8774c00-2407-11eb-9959-5015d9436dc0.png)

As the screenshot shows, the unpacked size is 31.2MB. This is an unusual size for a node package and is there a reason for it?

[2020-11-11 16:45] oguimbal commented on #501
Yes, there are multiple builds inside:
- One per language x module system (which is about (10 x 2 x 100kB per language)
- One global build which supports all languages (~800kB)

Add the sourcemaps, and you get to 30MB.

All those builds are here precisely because including a single build is quite overkill (~800kB) when you only use one language. This allows you to choose the right build for you.

[2020-11-11 16:54] haoliangyu commented on #501
Makes sense. Thank you for the explaination.

[2020-11-11 16:54] #501 closed

[2020-11-16 15:03] szerintem opened #502 "SyntaxError on WHERE (A or B) AND C"
`SyntaxError: Expected "#", "%", "*", "+", "-", "--", "/", "/*", or [ \t\n\r] but "a" found.`

**Database Engine**
MySQL

**To Reproduce**
`select 'result' as result from dual where (1=1 or 2=2) and 3=3`
Node v10.16.3
latest node-sql-parser

**Expected behavior**
It should handle this query.

[2020-11-25 07:47] Joe192168 opened #509 "Why not support oracle"
The SQL statement of Oracle can be parsed

[2020-11-27 19:42] labs20 commented on #502
Same situation here, but with a very strange twist.

If I run parser.astify right on my test module, it parses without error, but if I call my this.db.quey(sql) method, the parser.astify inside it raise the error, and Im testing with the exactly same string variable containing the sql, and no transformation whatsoever is made to the sql string inside the method. I know, I know, looks like newbie t

[2020-11-27 19:57] labs20 commented on #502
Another example:

[code]

Here the new_query_test that lives on another module:
[code]

[2020-11-27 20:01] labs20 commented on #502
If I change `WHERE pes_nome LIKE '%@pes_nome1'` to `WHERE pes_nome = '%@pes_nome1'` on the previous example, no more error is thrown.

Hope it helps to figure it out.

Thanks

[2020-11-29 12:21] cofad commented on #497
One option would be to incorporate this into Prettier as a plug-in. That's something that I'm currently looking into.

[2020-11-30 15:16] labs20 opened #510 "Syntax error on: SELECT a, b, c FROM tb WHERE a like 'test1' OR b = 'test2'"
**Describe the bug**
Getting a syntax error from this simple query:
`SELECT a, b, c FROM tb WHERE a like 'test1' OR b = 'test2'`

[code]
**Database Engine**
TransactSQL

SQL being executed like this:
[code]

and this:
[code]
On a clean js file with no other code beyond this test.

**To Reproduce**
[code]
node-sql-parser version: 3.1.0
node version: 14.9.0

**Expected behavior**
This SQL should not

[2020-11-30 17:16] esetnik opened #511 "TSQL Support Composite Index"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-index-transact-sql?view=sql-server-ver15

**Database Engine**
mssql

**To Reproduce**
-the SQL that be parsed
[code]

-the node-sql-parser version
v3.1.0

-the node version
v12.20.0

**Expected behavior**
[sql] [E] Expected "#", ")", "--", "/*", or [ \t\n\r] but "," found.

**Screenshots**
![image](https://user-image

[2020-12-15 02:35] SongLu-aaron opened #521 "Doesn’t support string keyword for hive database"
**Describe the bug**
Doesn’t support string keyword for hive database

**Database Engine**
Hive

**To Reproduce**
-the SQL that be parsed: select column from table where  cast(column as string) = “123”
-the node-sql-parser version: 3.1.0
-the node version: 10.19.0

**Expected behavior**
Shouldn’t throw syntax error, can be parsed normally.

**Screenshots**
If applicable, add screenshots to help ex

[2020-12-22 15:25] labs20 opened #525 "Please include SQL comments in ast object"
As it is now, some proprietary SQL features are not supported, like FOR XML PATH() on SQL Server for example.

As long as it would be nice to eventually have such language support, if the ast object was at least keeping the original SQL comments, it would be possible to us to pre-parse the sql text, transform unknown tags for the parser into comments, and later when rebuilding the sql, either reve

[2020-12-25 02:31] SongLu-aaron opened #526 "Doesn't support complex condtions"
**Describe the bug**
Got a syntax error when there are complex where-conditions.

**Database Engine**
all

**To Reproduce**
select * from tableName where (a = 1 or b =2) and c =3;

**Expected behavior**
The SQL should work normally.

[2020-12-25 02:36] SongLu-aaron commented on #502
I met this error too. "where (a or b) and c" doesn't work, but "where c and (a or b)" works well.

[2020-12-29 18:43] sheremet commented on #526
@SongLu-aaron You should use correct SQL request. In your case you should use:
`select * from tableName AS tn where tn.c =3 AND (tn.a = 1 OR tn.b =2)`
In result you will have:
[code]

[2021-01-23 22:05] gustavomick commented on #502
any update on this?

[2021-01-23 22:05] gustavomick commented on #502
aslo relates to this https://github.com/taozhi8833998/node-sql-parser/pull/486

[2021-01-25 22:23] TommyHubbard opened #532 "Does this Package Work with Angular 5?"
Does this package work with Angular?   I don't see a reason why it shouldn't, but it breaks my application when I import it into a component.   I've searched the web and couldn't find any content related to this.   There also isn't a lot of documentation to help with getting started.

When I import the parser into a component, it gives me the following error:

./node_modules/node-sql-parser/build/

[2021-01-25 23:40] TommyHubbard commented on #532
UPDATE:  It looks like the issue might be the typescript file in the build directory.   If I specify **transactsql.d** in the import statement, I get the following error:

Failed to compile.

./node_modules/node-sql-parser/build/transactsql.d.ts
Module build failed: Error: C:\Users\...\node_modules\node-sql-parser\build\transactsql.d.ts is missing from the TypeScript compilation. Please make sure

[2021-01-26 11:29] labs20 opened #533 "Is this still active and supported?"
Hi.

I'm aware about the hard work involved in keep a lib like that up and running, but as I'm using it as a core lib on my project and some very concerning issues had no response for a quite amount of time now, I'd like to gently ask if this lib is still going to see updates and fixes.

I thank you for your hard and nice work so far and for sharing it. It would be really nice to get some light ab

[2021-01-27 01:59] wo997 commented on #510
Today I have spotted the same issue, is this one in progress?

[2021-01-27 03:27] Cycade commented on #510
Same issue. Is there any plan to fix it?

[2021-01-27 03:28] Val-istar-Guo commented on #510
Same issue...

[2021-01-27 03:55] wo997 commented on #510
Not sure if anyone wanted more details, but from my observations the parser knows what the "like" keyword means (I checked the parsed AST) but it fails whenever something is after, like "OR b = 'test2'" mentioned above.

[2021-03-26 06:46] NewCoder798 commented on #502
any update on this?
Hope it helps to figure it out. I'm on a tight spot now, my lib is very dependent on the parser right now, and don't know how to move.

[2021-04-16 13:49] JounQin commented on #525
Is there any plain for it? I need location info of AST at the same time.

[2021-04-18 08:44] damilaufer opened #574 "Columns starting with numbers throw error in GROUP BY"
**Describe the bug**
Columns starting with numbers are valid in GROUP BY Hive.
If I write it with backticks it's ok.
When I write the SQL below, I get this error: Syntax error in SQL
Expected [A-Za-z0-9_:] or [A-Za-z0-9_] but " " found. in line 3, around char #13

**Database Engine**
HIVE

**To Reproduce**
-the SQL that be parsed:
SELECT min(salary)
FROM "MyTable" as ST
WHERE (`ST.3_year_base_empl

[2021-04-26 08:29] fcsonline commented on #307
Is there any plan to have this? Can we help?

[2021-04-28 08:25] taozhi8833998 commented on #307
@fcsonline @wballard Sorry for the slow progress that caused by myself, I will post it late.

[2021-04-28 08:28] taozhi8833998 commented on #533
@labs20 Thanks for ur concerns, I have been sick for a long time, and now I am better. I will solve the issue one by one.

[2021-04-28 08:29] taozhi8833998 commented on #532
@TommyHubbard got it, I will check it lately

[2021-04-28 08:40] taozhi8833998 commented on #510
@labs20 @wo997 @Val-istar-Guo @Cycade  I am fixing it now.

[2021-04-28 09:01] taozhi8833998 commented on #510
@labs20 it has been fixed. I will publish a new version this week.

[2021-04-28 09:01] #510 closed

[2021-04-28 17:53] labs20 commented on #533
Thank you very much. Its a great lib you have here and your work is much appreciated.

Hope you've sorted all of your personal things in a good way.

Thanks!

[2021-04-29 01:52] taozhi8833998 commented on #533
@labs20 Got it. Start solving issues now.

[2021-04-29 01:52] #533 closed

[2021-04-29 01:53] taozhi8833998 commented on #574
@damilaufer I will solve it today, I am working on it now.

[2021-04-29 06:18] taozhi8833998 commented on #574
@damilaufer it has been fixed.

[2021-04-29 06:18] #574 closed

[2021-04-29 06:27] damilaufer commented on #574
Thank you.
I'll check it later today.
You rock.

On Thu, 29 Apr 2021, 09:18 taozhi, ***@***.***> wrote:

[2021-04-29 07:48] taozhi8833998 commented on #532
@TommyHubbard It has been fixed.

[2021-04-29 07:48] #532 closed

[2021-04-29 07:52] taozhi8833998 commented on #526
@SongLu-aaron en, I think it's a valid SQL statement, I am fixing it now.

[2021-04-29 07:53] taozhi8833998 commented on #526
BYW, @sheremet thanks for ur comments.

[2021-04-29 14:31] skorolev-tjc opened #581 "Does not support ALTER TABLE ... ADD CONSTRAINT ... FOREIGN KEY"
Hello!
**Describe the bug**
Tried to parse the following SQL Query:
[code]
Recieved error:
**_Expected "#", "--", "/*", "CHECK", or [ \\t\\n\\r] but "F" found._**

**Database Engine**
MySQL

**To Reproduce**
[code]
"node-sql-parser": "^3.1.0"
node --version v12.20.1

**Expected behavior**
Ast expected

**Screenshots**
No

**Additional context**
No

Thank you.

[2021-04-30 09:55] taozhi8833998 commented on #581
@skorolev-tjc got it.

[2021-04-30 10:28] taozhi8833998 commented on #526
@SongLu-aaron It has been fixed.

[2021-04-30 15:55] stevendesu opened #586 "Does not properly parse this simple(-ish) WHERE clause"
I have the following query:

[code]

The goal is to find all messages between September 2012 and April 2021:
 * If the year is between 2012 and 2021 (e.g. "2015") then every month is a valid month
 * If the year is equal to 2012 then only September (9), October (10), November (11), and December (12) are valid months
 * If the year is equal to 2021 then only January (1), February (2), March (3), an

[2021-04-30 15:57] potatozerg opened #587 "BigQuery Support"
1. `SELECT (aaa + bbb / ccc) FROM xxx;` works. But `SELECT ((aaa + bbb) / ccc) FROM xxx;`  doesn't work.
2. Some functions for Bigquery are not working. Here are some queries that can't be parsed:
    1. `SELECT CURRENT_DATE('America/New_York')FROM table1;`
    2. `SELECT EXTRACT(DAY FROM DATE '2013-12-25') as the_day FROM table1;`
    3. `SELECT REGEXP_EXTRACT(CAST(date AS String), r"^[0-9]+") AS

[2021-04-30 17:06] stevendesu commented on #586
Related (as it seems like the issue stems from a lack of understanding parentheses):

I created an AST by hand and there were no parentheses in the output, causing the order of operations to be worng:

[code]

[code]

In SQL the `AND` operator has precedence over the `OR` operator so this will compute:

[code]

However the AST clearly shows that what was intended was:

[code]

Proper support for p

[2021-04-30 18:05] stevendesu commented on #586
After further experimenting I've figured out two things:

1. WHERE clauses are properly parsed so long as they don't _**start**_ with a parenthesis
2. In my AST I can add `parentheses: true` to fix the grouping

Although I'd like to see a fix to the starting parentheses bug, I can at least work with this

[2021-05-01 11:28] electric-al commented on #586
Just hit the same issue. This query fails to pass (Mysql dialect):

[code]

Error:
[code]

Whereas this query works:
[code]
Despite being the same logically. Its a problem as the source of the SQL I am parsing inserts brackets around all predicates.

[2021-05-01 12:11] taozhi8833998 commented on #587
@potatozerg got it, I will try to support that later.

[2021-05-01 12:21] taozhi8833998 commented on #586
@electric-al @stevendesu it has been fixed, I will publish a new version later.

[2021-05-01 12:29] #526 closed

[2021-05-01 12:29] #586 closed

[2021-05-01 12:29] electric-al commented on #586
Many thanks!

[2021-05-01 14:10] #581 closed

[2021-05-02 12:27] OTooleMichael opened #589 "Postgres Doesn't support Window functions"
**Describe the bug**
Postgres Parsing doesn't support window functions

**Database Engine**
PostgreSQL.

**To Reproduce**
- node-sql-parse version 3.2.0
- Node v14.15.5
-the SQL that be parsed
[code]

**Expected behaviour**
Happily parses Window functions etc

**Additional context**
I actually got this working and was going to make a PR but can't:

- Tests - Passing (+)
- Coverage - 100% (+)
- SQL

[2021-05-02 12:45] taozhi8833998 commented on #589
@OTooleMichael You could fork this project, and push the commit to your repository, and create PR.

[2021-05-02 23:53] potatozerg commented on #587
@taozhi8833998
Here is a part of BigQuery functions in case you need it.
`[
    "CONCAT",
    "CURRENT_DATE",
    "CURRENT_DATETIME",
    "CURRENT_TIMESTAMP",
    "CURRENT_TIME",
    "DATE",
    "DATETIME",
    "TIMESTAMP",
    "TIME",
    "EXTRACT",
    "DATE_ADD",
    "DATE_SUB",
    "DATETIME_ADD",
    "DATETIME_SUB",
    "TIMESTAMP_ADD",
    "TIMESTAMP_SUB",
    "TIME_ADD",
    "TIME_SUB",

[2021-05-03 00:12] taozhi8833998 commented on #587
@potatozerg Thanks for the function list.

[2021-05-03 13:18] labs20 opened #592 "CAST on parse.sqlify is returning in Postgres style "::""
**Describe the bug**
I'm using parse.sqlify(sql, {database: 'TransactSQL'} to generate SQL for SQL Server and the original CAST is changing from:
```cast(cast(DATEDIFF(second, p.procs_inicio, p.procs_termino) as DECIMAL(12,2)) / 60 as DECIMAL(12,2)) 'Tempo (min.)'```
to:
   ```DATEDIFF(second,` p.procs_inicio, p.procs_termino) :: DECIMAL(12, 2) / 60 :: DECIMAL(12, 2) AS 'Tempo `(min.)'```

**Datab

[2021-05-03 22:36] potatozerg commented on #587
Added 4 more common functions:
REGEXP_SUBSTR(value, regexp, [position], [occurrence])
LPAD(original_value, return_length, [pattern])
RPAD(original_value, return_length, [pattern])
FORMAT(format_string, value)

[2021-05-03 22:40] potatozerg commented on #587
And do you think these two can be supported? With partition:
LAG(column1, [n_lags]) OVER(PARTITION BY column1 ORDER BY column2)
ROW_NUMBER() OVER(PARTITION BY  column1 ORDER BY column2)

[2021-05-06 17:27] tbantle22 opened #594 "MySQL parser not recognizing BIT type"
**Describe the bug**

This query `ALTER TABLE newtable ADD newcol BIT(1)` returns this error (same for a CREATE TABLE statement that includes `BIT(1)`):

[code]

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed "ALTER TABLE newtable ADD newcol BIT(1)"
-the node-sql-parser version 3.1.0
-the node version v12.19.0

**Expected behavior**
A query that include BIT(1) should successfu

[2021-05-07 08:45] taozhi8833998 commented on #594
@tbantle22 it has been supported, I will publish new version this week.

[2021-05-07 08:53] #594 closed

[2021-05-07 09:55] damilaufer opened #598 "HIVE: shows failure on valid SQL"
**Describe the bug**
Parsing a valid HIVE sql parsed shows an error

**Database Engine**
Hive

**To Reproduce**
-the SQL that be parsed
SELECT max('Y')
FROM "TABLE_1" as ST
INNER JOIN
(SELECT * FROM "TABLE_2" AS JT_1
WHERE `JT_1.dcc_user_y_n`='N' and `JT_1.wax_user_y_n`='N'
)
ON `ST.senderId`=`JT_1.customerId`
 WHERE (`ST.is_pmt_off_y_n`='Y' and `ST.rcvr_id` IN ('19','12'))
 AND (`ST.pmt_dt`>=`JT_

[2021-05-07 10:37] taozhi8833998 commented on #592
@labs20 I can't reproduce it, could you show me more codes that you are using to generate this issue. BTW, `parse.sqlify(ast, {database: 'TransactSQL'})`, the first parameter should be valid AST, not SQL when in `sqlify` function.

[2021-05-07 10:45] taozhi8833998 commented on #592
[code]

[2021-05-07 12:49] taozhi8833998 commented on #598
@damilaufer could you show me more codes? It didn't throw an error when running on my pc.

[code]

[2021-05-07 16:50] tbantle22 commented on #594
Appreciate that, thank you!

[2021-05-07 17:00] damilaufer commented on #598
I tried to simplify the SQL... I'm sending you the actual one (it has lots of backticks for the columns names)
const sql =
  "SELECT max('Y') FROM \"PitHive.Horton.edw.fact_pmt\" as ST INNER JOIN (SELECT * FROM \"PitHive.Horton.edw.dim_cust\" AS JT_1 WHERE `JT_1.guest_dcc_user_y_n`='N' and `JT_1.guest_wax_user_y_n`='N' ) ON `ST.sndr_id`=`JT_1.cust_id` WHERE (`ST.is_pmt_official_y_n`='Y' and `ST.rc

[2021-05-07 17:00] damilaufer commented on #598
That one returns this error (copying only first lines)
/Users/dalaufer/Documents/Projects/auradevnodeweb/client/node_modules/node-sql-parser/index.js:1
!function(r,t){for(var e in t)r[e]=t[e]}(exports,function(r){var t={};function e(n){if(t[n])return t[n].exports;var u=t[n]={i:n,l:!1,exports:{}};return r[n].call(u.exports,u,u.exports,e),u.l=!0,u.exports}return e.m=r,e.c=t,e.d=function(r,t,n){e.o(r

[2021-05-08 13:47] taozhi8833998 commented on #598
@damilaufer it has been fixed.

[2021-05-08 13:48] taozhi8833998 commented on #592
@labs20 any more info about this issue?

[2021-05-08 13:51] #598 closed

[2021-05-08 18:30] damilaufer commented on #598
Cool, thank you.
I am your best HIVE QA :)
When are you going to publish it?

On Sat, 8 May 2021 at 16:51, taozhi ***@***.***> wrote:

[2021-05-08 20:17] labs20 commented on #592
Hi. Sorry couldn't answer yet. By monday I'll provide you more code, but your example looks like its working. I will try my code again and post here ok?

[2021-05-09 00:24] taozhi8833998 commented on #598
hhh, I'm going to publish the new version 3.3.0 today.

[2021-05-09 00:26] taozhi8833998 commented on #592
ok, I switch to solving another issue.

[2021-05-09 00:27] taozhi8833998 commented on #589
@OTooleMichael I will review your pull request, and then publish it today.

[2021-05-10 02:30] #589 closed

[2021-05-10 08:19] damilaufer commented on #598
Hi Taozhi,
    I can't see the new version. Is it up?

thank you

On Sun, 9 May 2021 at 03:24, taozhi ***@***.***> wrote:

[2021-05-10 13:24] taozhi8833998 commented on #598
@damilaufer check it later, I just published it. Thanks for waiting.

[2021-05-13 02:21] Badestrand opened #608 "MySQL SyntaxError for "SHOW GRANTS""
First, thank you for this great project, I love it!

**Describe the bug**
Parser throws a syntax error for the MySQL query `SHOW GRANTS`.

**Database Engine**
MySQL

**To Reproduce**
SQL: `SHOW GRANTS` or `SHOW GRANTS FOR user@host`

node-sql-parser version 3.3.0

node version 14.15.0

**Expected behavior**
Parse query.

[2021-05-13 03:23] Badestrand opened #609 "MySQL SyntaxError for modifying column"
**Describe the bug**
Parser throws a syntax error for the MySQL query `ALTER TABLE t1 MODIFY COLUMN name VARCHAR(200) NULL`

**Database Engine**
MySQL

**To Reproduce**
SQL: `ALTER TABLE t1 MODIFY COLUMN name VARCHAR(200) NULL`

node-sql-parser version 3.3.0

node version 14.15.0

**Expected behavior**
Parse query.

I think the MODIFY COLUMN is simply missing in the grammar? :) https://github.com/

[2021-05-13 05:50] Badestrand commented on #502
@NewCoder798 Can you check your queries again and give an update? I just tested a few and there seem to have been some updates/fixes.

[2021-05-13 14:59] Badestrand commented on #608
Oh sorry, I didn't see in the description that only some commands are supported

[2021-05-13 14:59] #608 closed

[2021-05-13 14:59] Badestrand commented on #609
Oh sorry, I didn't see in the description that only some commands are supported

[2021-05-13 14:59] #609 closed

[2021-05-14 10:25] taozhi8833998 commented on #502
@szerintem @labs20 @SongLu-aaron @gustavomick @Badestrand I think it has been supported in the latest version 3.3.0, give it a shot. If it still throws an error, please let me know, thanks.

[2021-05-14 10:25] #502 closed

[2021-05-14 10:26] taozhi8833998 commented on #608
@Badestrand I can add it if it's necessary for u.

[2021-05-14 10:26] #592 closed

[2021-05-14 14:49] #521 closed

[2021-05-14 15:23] taozhi8833998 commented on #465
@kpeters-cbsi The parser could parse it successfully, you can try to upgrade it to the latest version 3.3.0 currently.

[2021-05-14 15:23] #465 closed

[2021-05-14 15:23] #470 closed

[2021-05-14 19:38] hle-skillz opened #612 "Postgres fails to parse column using parentheses and cast shorthand"
**Describe the bug**
Combining a parentheses and cast shorthand fails to parse, but individually parse fine.

**Database Engine**
Postgres

**To Reproduce**
[node-sql-parser 3.3.0 from UMD](https://unpkg.com/browse/node-sql-parser@3.3.0/umd/)

SQL
* Pass, standalone parens:
[code]
* Pass, standalone cast shorthand
[code]
* Pass, parens with expr
[code]
* Pass, cast longhand:
[code]
* Fail, parens

[2021-05-14 19:56] hle-skillz opened #613 "Postgres fails on literals in where clauses"
**Describe the bug**
Using a standalone constant placeholder in a WHERE expression does not parse.  Similar to leading commas, this pattern is used frequently during debugging to allow disabling groups without commenting.

**Database Engine**
Postgres

**To Reproduce**
[node-sql-parser 3.3.0 from UMD](https://unpkg.com/browse/node-sql-parser@3.3.0/umd/)

SQL
* Pass, AND:
[code]
* Pass, constant-on

[2021-05-16 09:44] taozhi8833998 commented on #612
@hle-skillz it has been supported.

[2021-05-16 09:44] taozhi8833998 commented on #613
@hle-skillz it has been fixed

[2021-05-16 09:44] #612 closed

[2021-05-16 09:44] #613 closed

[2021-05-16 13:09] taozhi8833998 commented on #494
@hranum it has been fixed in the latest version 3.3.0, try it.

[2021-05-16 13:09] #494 closed

[2021-05-16 14:04] #490 closed

[2021-05-16 14:05] #487 closed

[2021-05-16 14:07] #459 closed

[2021-05-16 15:02] #474 closed

[2021-05-16 15:15] #483 closed

[2021-05-17 02:44] Badestrand commented on #608
@taozhi8833998 yes, that would be great, thank you!

[2021-05-17 03:16] taozhi8833998 commented on #500
@mlapenna7 string is not a valid data type in PostgreSQL, according to [data type](https://www.postgresql.org/docs/9.2/datatype.html). Correct me if I am wrong.

[2021-05-17 03:16] #500 closed

[2021-05-17 08:24] taozhi8833998 commented on #407
@vvlookman fixed, try the latest version.

[2021-05-17 08:24] #407 closed

[2021-05-18 12:06] #488 closed

[2021-05-18 12:06] #511 closed

[2021-05-19 11:48] #463 closed

[2021-05-19 11:48] #473 closed

[2021-05-20 16:04] #453 closed

[2021-05-20 16:04] #458 closed

[2021-05-20 16:04] #428 closed

[2021-05-20 16:04] #449 closed

[2021-05-20 16:04] #450 closed

[2021-05-20 16:14] pixelspark opened #634 "Support "a REGEXP b", "a REGEXP BINARY b" (MariaDB) syntax"
**Describe the bug**

Parsing `SELECT ('a' REGEXP 'A') AS x` fails with ` SyntaxError: Expected "!=", "#", "%", "&&", ")", "*", "+", ",", "-", "--", "/", "/*", "<", "<=", "<>", "=", ">", ">=", "BETWEEN", "IN", "IS", "LIKE", "NOT", "||", or [ \t\n\r] but "R" found.` on 3.4.0.

**Database Engine**
MariaDB (MySQL has the same syntax iirc)

**To Reproduce**
See above. NodeJS=v12

**Expected behavior**

[2021-05-21 14:15] labs20 opened #635 "COUNT(*) parser error (in some cases)"
**Describe the bug**
Using COUNT(*) deep inside complex queries sometimes broke the parser.

**Database Engine**
SQL Server

**To Reproduce**
This SQL causes parser error:
[code]

While this runs ok:
[code]

Thanks!

[2021-05-21 16:58] kt65 opened #636 "Parsing a valid query returns error"
**Describe the bug**
Query "SELECT * FROM `product` WHERE (name LIKE "dummy" AND sku = "dummy") LIMIT 0, 1000000000"

**Database Engine**
MySQL

**To Reproduce**
-Parse this query 'SELECT * FROM `product` WHERE (name LIKE "dummy" AND sku = "dummy") LIMIT 0, 1000000000'
[code]

**Expected result**
Return the array of tokens

**Actual result**
That code returns an SyntaxError
"SyntaxError: Expected

[2021-05-22 00:31] taozhi8833998 commented on #635
@labs20 It has been fixed before, I will publish a new version today.

[2021-05-22 00:31] #635 closed

[2021-05-22 11:11] #636 closed

[2021-05-22 11:12] taozhi8833998 commented on #634
supported in the `3.5.0` version, try it.

[2021-05-22 11:12] #634 closed

[2021-05-22 11:12] taozhi8833998 commented on #636
@kt65 try `3.5.0` version.

[2021-05-22 11:13] taozhi8833998 commented on #635
@labs20 try the `3.5.0` version

[2021-05-23 06:53] #457 closed

[2021-05-23 07:02] #451 closed

[2021-05-24 11:32] labs20 commented on #635
Thank you very much. I'll try it.

[2021-05-24 23:33] idangozlan opened #644 "Hex values are not supported"
**Describe the bug**
When trying to parse insert query with hexed values, the module is crashing.

**Database Engine**
MySQL

**To Reproduce**
[code]

**Expected behavior**
to parse it as a buffer

[2021-05-25 09:10] taozhi8833998 commented on #644
@idangozlan it has been supported, I will publish a new version this week.

[2021-05-25 09:10] #644 closed

[2021-05-25 19:41] idangozlan commented on #644
Nice, thanks!

[2021-05-26 04:00] #416 closed

[2021-05-27 06:58] chriswijaya opened #650 "FROM clause | Misinterpreted non-aliased table"
Given query input below:
[code]

AST object product of `astify` function interprets `left` part of the `left join` term as the alias name, the output generated is:
`... person AS LEFT INNER JOIN person ...`

My code:
[code]

[2021-05-27 15:20] pixelspark commented on #634
Awesome, thanks a lot!

[2021-05-28 02:31] #650 closed

[2021-05-28 02:31] taozhi8833998 commented on #650
@chriswijaya fixed, I will publish a new version this week.

[2021-05-29 10:48] taozhi8833998 commented on #509
@Joe192168 It's the same as #464.

[2021-05-29 10:48] #509 closed

[2021-05-30 05:10] taozhi8833998 commented on #587
@potatozerg try the `3.6.0` version.

[2021-05-30 05:10] #587 closed

[2021-05-31 04:50] thfai2000 opened #658 "Slow astify() for postgresSql"
Hi

I've a project which is something like ORM. It has to support `sqlite`,` mysql`, `postgres`.
Thank `node-sql-parser`. It is great! I used it for parsing the SQL statement to detect some column names and reconstructing a new sql statement before execution.
But it come to me a big issue that is the speed performance (it is important to an ORM).
I found that the Parser for `postgresql` is very sl

[2021-05-31 09:50] taozhi8833998 commented on #658
@thfai2000 I will check it out asap.

[2021-06-01 05:47] thfai2000 commented on #658
Thanks @taozhi8833998
Just let you know this issue is not urgent to me. I can use another approach to tackle this. 😄

[2021-06-03 13:49] taozhi8833998 commented on #658
@thfai2000 ok, It may take some time to solve it.

[2021-06-06 10:51] myyrakle opened #663 "mysql create table query parsing error"
**Describe the bug**
If "auto_increment" and "key clause" exist in mysql's create table query, it is not read properly and an error is thrown.

[code]

**Database Engine**
MySQL

**To Reproduce**
The query below will cause an error while parsing.
[code]

However, if I remove the auto_increment and key clauses in question from that code, it works normally.
[code]
In the case of auto_increment, movi

[2021-06-08 03:07] taozhi8833998 commented on #663
@myyrakle The [create table syntax](https://dev.mysql.com/doc/refman/8.0/en/create-table.html) shows `NOT NULL` keyword should put before the `AUTO_INCREMENT` keyword, the SQL below is valid:

[code]

[2021-06-18 06:38] #663 closed

[2021-07-02 06:56] HenonoaH commented on #612
@taozhi8833998 Still I'm getting this issue any idea? I'm using version 3.6.0 I'm having this line in a query `round((event_attendees_count::numeric / event_registrants_count::numeric) * 100::numeric,1) as "attendance_rate"` and getting error `Expected "!=", "#", "%", ")", "*", "+", ",", "-", "--", ".", "/", "/*", "<", "<=", "<>", "=", ">", ">=", "BETWEEN", "IN", "IS", "LIKE", "NOT", "REGEXP", "RL

[2021-07-03 05:30] taozhi8833998 commented on #612
@HenonoaH  If the SQL is PostgreSQL syntax, please use the `database` option to specify it, MySQL is the default database.

[code]

[2021-07-03 11:59] HenonoaH commented on #612
@taozhi8833998 Thanks. Got it working.

[2021-07-15 01:45] JounQin opened #681 "No changelog available?"
As title

[2021-07-17 13:18] myyrakle opened #682 "MySQL Parser cannot read datatype enum"
**Describe the bug**
It seems that the current MySQL parser does not support enum types. Is it possible to add a function for this?

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version: 3.6.0
-the node version: v14.17.0

**Expected behavior**
Since the enum type is a valid mysql type, I think it should be parsed normally.

**Screenshots**
If appl

[2021-07-19 09:54] fuzi1996 opened #683 "UNSUPORT MYSQL DATETIME(6),TIME(6),TIMESTAMP(6)"
### Reproduction link
[![Edit on CodeSandbox](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/ecstatic-framework-k7pll?file=/index.html)

MySql Doc:[11.7 Data Type Storage Requirements](https://dev.mysql.com/doc/refman/8.0/en/storage-requirements.html)

**Database Engine**
MySQL

**To Reproduce**
[code]

**Expected behavior**
no error,astify success

[2021-07-21 10:30] taozhi8833998 commented on #683
@fuzi1996 it has been fixed!

[2021-07-21 11:52] #683 closed

[2021-07-21 13:18] taozhi8833998 commented on #682
@myyrakle try the `3.6.1` version

[2021-07-21 13:18] #682 closed

[2021-07-21 13:18] taozhi8833998 commented on #683
@fuzi1996 try the `3.6.0` version

[2021-08-01 05:21] taozhi8833998 commented on #307
- remove righe and full join
- support analyze

[2021-08-03 06:54] Ligengxin96 opened #693 "[Question] How to rebuild sql by the ast?"
Does we can rebuild sql by the ast? If we can,  How to handle the sql with `( )`
E.g.: `select  * from t1 where id = 2 and (name = 'a' or id = 1)`

[2021-08-03 13:16] taozhi8833998 commented on #693
[code]

[2021-08-03 13:18] taozhi8833998 commented on #693
[code]

[2021-08-03 13:18] #693 closed

[2021-08-04 20:52] tbantle22 commented on #415
I have also run into this issue with escaped single quotes with MySQL

[2021-08-05 00:04] tbantle22 opened #696 "MySQL: Cannot parse CREATE TABLE statement with BOOLEAN type"
**Describe the bug**
A clear and concise description of what the bug is.

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
3.6.0
-the node version
v12.19.0

**Expected behavior**
Expect no error `SyntaxError: Expected "#", "--", "->", "->>", ".", "/*", "BIGINT", "BIT", "CHAR", "DATE", "DATETIME", "DECIMAL", "DOUBLE", "FLOAT", "INT", "INTEGER",

[2021-08-05 08:17] yangge24926 commented on #650
I have upgraded to the latest version 3.6.1, but this problem still occurs. Have you thought about solving this problem in the near future?

`

let kSql = `
SELECT "Join1"."user_nickname",
       "Join1"."anonymous_flag1",
       "ccc"."reply_count" AS "reply_count2"
FROM   (SELECT "aaa"."user_nickname",
               "bbb"."anonymous_flag" AS "anonymous_flag1"
        FROM   "aaa"

[2021-08-05 08:21] yangge24926 opened #697 "PostgresQL parsing error"
let kSql = `
SELECT "Join1"."user_nickname",
       "Join1"."anonymous_flag1",
       "ccc"."reply_count" AS "reply_count2"
FROM   (SELECT "aaa"."user_nickname",
               "bbb"."anonymous_flag" AS "anonymous_flag1"
        FROM   "aaa"
               LEFT JOIN "bbb"
                      ON "aaa"."product_id" = "bbb"."product_id") AS "Join1"
       LEFT JOIN "ccc"
              ON "Join1"."u

[2021-08-05 08:33] yangge24926 commented on #697
因为我现在做的是一个树和sql互转的功能，所以我对转换后的AST结构进行了覆盖修复，不过仍是期待你能修复这个问题，毕竟这种覆盖的代码不好看。

[2021-08-06 06:37] taozhi8833998 commented on #696
@tbantle22 it has been supported, I will publish a new version tomorrow.

[2021-08-06 06:57] taozhi8833998 commented on #697
@yangge24926 `node-sql-parser` works well with the SQL you provided as show in [link](https://runkit.com/taozhi8833998/5df6fe8f21d6b8001be36cb7)

[2021-08-06 06:57] #697 closed

[2021-08-06 06:58] yangge24926 commented on #697
What's the version of your app? @taozhi8833998

[2021-08-06 07:00] taozhi8833998 commented on #697
it shows in the above link, the `node-sql-parser` module with version 3.6.1

![image](https://user-images.githubusercontent.com/7252180/128469802-2420d978-c307-481d-8d85-272a57e88200.png)

[2021-08-06 07:05] yangge24926 commented on #697
![image](https://user-images.githubusercontent.com/40169135/128470111-5c869b18-c865-4d94-9930-e7ad453f5523.png)

![image](https://user-images.githubusercontent.com/40169135/128470143-c0158dac-0ddd-47f9-83aa-bcf316c16748.png)

I tried to reinstall it, very strange problem, probably problem is in my environment, thank you for your patience

[2021-08-06 07:06] taozhi8833998 commented on #697
remove the node_modules folder, and reinstall

[2021-08-06 07:07] yangge24926 commented on #697
In progress, thank you

[2021-08-06 07:15] yangge24926 commented on #697
He is very good. This is my environmental problem. Thank you for your help. @taozhi8833998

[2021-08-06 20:23] tbantle22 commented on #696
Thank you!

[2021-08-10 05:44] #696 closed

[2021-08-10 06:27] abhinav5481 opened #702 "Does not support Boolean datatype."
**Describe the bug**
Getting an error for column fields of boolean datatype.

**Database Engine**
MySQL.

[2021-08-10 06:56] #702 closed

[2021-08-10 08:49] abhinav5481 opened #703 "UNIQUE constraint when written alongside column definition in create query is giving an error upon parsing."
**Describe the bug**
UNIQUE constraint when written alongside column definition is giving an error.

**Database Engine**
MySQL

**Expected behaviour**
The query with UNIQUE keyword (defined alongside column definition) should have been parsed successfully & the "unique_or_primary" field of the respective column should have "unique" instead of "null" in the AST.

**Screenshots**
<img width="940" al

[2021-08-10 08:56] abhinav5481 opened #704 "CHECK constraint when written alongside column definition is showing error upon parsing."
**Describe the bug**
CHECK constraint when written alongside column definition is showing error upon parsing.

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed

CREATE TABLE parts (
    part_no VARCHAR(18) PRIMARY KEY,
    description VARCHAR(40),
    cost DECIMAL(10,2 ) NOT NULL CHECK (cost >= 0),
    price DECIMAL(10,2) NOT NULL CHECK (price >= 0)
);

-the node-sql-parser vers

[2021-08-10 09:10] taozhi8833998 commented on #702
@abhinav5481 try the version `3.6.2`

[2021-08-10 09:11] taozhi8833998 commented on #703
@abhinav5481 please show the SQL in text, while not in a screenshot.

[2021-08-11 05:32] abhinav5481 commented on #703
create table CourseTable( tutorial_id INT UNIQUE, tutorial_title VARCHAR(100) NOT NULL, tutorial_author VARCHAR(40) NOT NULL, submission_date DATE);

[2021-08-12 02:04] #703 closed

[2021-08-12 02:04] #704 closed

[2021-08-12 02:05] taozhi8833998 commented on #704
@abhinav5481 new version `3.6.3`  has been published, give it a shot, thank you.

[2021-08-12 02:05] taozhi8833998 commented on #703
@abhinav5481 try `3.6.3` version

[2021-08-17 05:01] fannheyward opened #709 "`PRIMARY KEY NOT NULL AUTO_INCREMENT` parsed error"
**Describe the bug**
`Expected "#", ")", ",", "--", "/*", "CHECK", "COLLATE", "COLUMN_FORMAT", "COMMENT", "CONSTRAINT", "REFERENCES", "STORAGE", or [ \t\n\r] but "N" found. [sql]`

**Database Engine**
mysql

**To Reproduce**

[code]

error on `NOT`

-the node-sql-parser version 3.6.3
-the node version 16.6.2

[2021-08-17 10:54] taozhi8833998 commented on #709
@fannheyward  I will fix it tomorrow.

[2021-08-19 00:06] #709 closed

[2021-08-19 00:10] taozhi8833998 commented on #709
@fannheyward I have published the `3.6.4` version to fix the issue, try it.

[2021-08-26 16:06] franciscojuane opened #713 "MySQL: Distinct inside group_concat raises a syntax error"
**Describe the bug**
MySQL query can't be parsed.

**Database Engine**
MySQL (for some reason it works ok with PostgreSQL)

**To Reproduce**
-the SQL that be parsed:

1. select group_concat(distinct(asd)) as 'abc'
2. select group_concat(distinct asd) as 'abc'

-the node-sql-parser version:
3.6.4
-the node version
14.17.3

The first query fails with "SyntaxError: Expected [A-Za-z0-9_:] or [A-Za-z0-

[2021-08-27 23:07] taozhi8833998 commented on #713
@franciscojuane try `3.6.5`

[2021-09-01 13:08] joffreyvillard opened #716 "BigQuery: "order by" / "limit" in CTEs not supported"
**Describe the bug**
While the query below is a perfectly valid BigQuery SQL query (executes well in BigQuery SQL Workspace), `node-sql-parser` raises the error below.

If I remove the `order by`, it works as expected.

If I use a `limit`, I get the same issue.

Query:

[code]

Error:

[code]

**Database Engine**
BigQuery

**To Reproduce**
-the SQL that be parsed: see aboce
-the node-sql-parser ve

[2021-09-01 14:46] franciscojuane commented on #713
@taozhi8833998 Thanks! 😄 I tried 3.6.5 and it works, but now I'm getting another error when trying to parse GROUP_CONCAT(DISTINCT(IF(...)))
"SyntaxError: Expected "#", ")", "--", "->", "->>", ".", "/*", [ \t\n\r], [A-Za-z0-9_:], or [A-Za-z0-9_] but "(" found.""

[2021-09-02 09:12] taozhi8833998 commented on #713
@franciscojuane ok, reopen this issue.

[2021-09-03 02:12] goliatone opened #718 "SQLite: json functions support"
**Describe the bug**
SQLite parser does not support json functions

**Database Engine**
SQLite

**To Reproduce**
[code]
- the node-sql-parser version: 3.6.5
- the node version: v16.5.0

**Expected behavior**
Being able to parse the query

**Additional context**
Stack trace

[code]

[2021-09-03 02:21] goliatone opened #719 "SQLite: `||` operator support"
**Describe the bug**
SQLite parser does not support `||` operator

**Database Engine**
SQLite.

**To Reproduce**
[code]
- the node-sql-parser version: 3.6.5
- the node version: v16.5.0

**Expected behavior**
Being able to parse the query

**Additional context**
Stack trace

[code]

[2021-09-06 14:13] #713 closed

[2021-09-06 14:18] taozhi8833998 commented on #716
@joffreyvillard It has been supported in the version `3.6.6` , try it.

[2021-09-06 14:18] #716 closed

[2021-09-06 14:19] taozhi8833998 commented on #713
@franciscojuane try the new version `3.6.6`

[2021-09-06 15:22] nkusibojoski opened #726 "Link to install from browser not working"
**Describe the bug**
A clear and concise description of what the bug is.
I can't load the library in the browser. I am using this link: https://unpkg.com/node-sql-parser/umd/index.umd.js
It was running few hours ago and I am using it this way for about 1 year.

[2021-09-06 15:37] nkusibojoski commented on #726
It seems that is working with this url https://unpkg.com/node-sql-parser@3.6.0/umd/index.umd.js.

[2021-09-07 03:18] taozhi8833998 commented on #726
@nkusibojoski Sorry for that, it's working now, refresh it.

[2021-09-07 03:18] #726 closed

[2021-09-08 07:41] joffreyvillard commented on #716
Confirmed, thanks a lot!

[2021-09-08 07:59] joffreyvillard opened #727 "BigQuery: parser breaks on "accessing array elements""
**Describe the bug**

In BigQuery, accessing array elements is performed via `OFFSET()` and `ORDINAL()` functions (see https://cloud.google.com/bigquery/docs/reference/standard-sql/arrays#accessing_array_elements).

The query below (directly coming from the doc linked above) is a perfectly valid BigQuery SQL query (executes well in BigQuery SQL Workspace), but node-sql-parser raises the error belo

[2021-09-09 07:06] taozhi8833998 commented on #681
@JounQin Sorry for that, I will add it in the future.

[2021-09-09 07:06] #681 closed

[2021-09-09 07:07] #727 closed

[2021-09-09 07:11] taozhi8833998 commented on #727
@joffreyvillard try the new version `3.6.8`

[2021-09-09 07:18] joffreyvillard commented on #727
Wow excellent, thanks a lot :rocket: :star_struck:

[2021-09-09 07:58] #718 closed

[2021-09-09 07:58] #719 closed

[2021-09-09 08:02] taozhi8833998 commented on #719
@goliatone it has been supported in the new version `3.6.9`, try it.

[2021-09-09 08:02] taozhi8833998 commented on #718
@goliatone try the new version `3.6.9`

[2021-09-10 23:08] goliatone commented on #297
@taozhi8833998 Snowflake support would actually be great, any chances it would be added to the roadmap?

[2021-09-10 23:27] goliatone opened #734 "SQLite: `)` and `OR` order should not matter in nested `SELECT`"
**Describe the bug**
SQLite parser does not support other clauses after `)`

**Database Engine**
SQLite.

**To Reproduce**

The following query generates an error:

[code]

But if we reverse the order in the `WHERE` clause it works:

[code]

This query should also work:

[code]

- the node-sql-parser version: 3.6.9
- the node version: v16.5.0

**Expected behavior**
Being able to parse the query

*

[2021-09-11 05:18] #734 closed

[2021-09-11 05:20] taozhi8833998 commented on #297
@goliatone  I will reopen the issue, and it will take some time to support the snowflake SQL parser.

[2021-09-11 05:20] taozhi8833998 commented on #734
@goliatone fixed in the new version `3.6.10`, try it.

[2021-09-13 20:34] tbantle22 opened #736 "MYSQL: Not able to parse some statements"
**Describe the bug**
I've been testing some common MySQL queries and have found a few that are returning syntax errors

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed

The failing queries and their errors:
- [x] query: `alter table places drop primary key`
   error: SyntaxError: Expected "#", ",", "--", "->", "->>", ".", "/*", ";", or [ \t\n\r] but "k" found.
- [x] query: `cre

[2021-09-14 13:42] taozhi8833998 commented on #736
@tbantle22 fixed the first, the third, the fourth one.

[2021-09-14 16:15] tbantle22 commented on #736
Thank you!

[2021-09-15 01:45] fannheyward opened #738 "SERIAL keyword error"
**Describe the bug**

![](https://user-images.githubusercontent.com/24723950/132957245-29f2699d-cef2-4eb6-ace8-ee62a760c75c.png)

https://github.com/fannheyward/coc-sql/issues/436

[2021-09-15 14:32] joffreyvillard opened #739 "BigQuery: omitting "inner" in a join throws an error"
**Describe the bug**

In BigQuery (as in many other SQL flavors), `inner` is optional for inner joins (https://cloud.google.com/bigquery/docs/reference/standard-sql/query-syntax#inner_join).

The query below is hence a perfectly valid BigQuery SQL query (executes well in BigQuery SQL Workspace), but  `node-sql-parser` raises the error below (works well if we specify `inner join` instead of `join`)

[2021-09-15 15:09] joffreyvillard opened #740 "BigQuery: identifier not escaped on sqlify"
**Describe the bug**

When using `sqlify` on a well parsed query that uses a keyword as an identifier (quoted), the output is incorrect for BigQuery (that identifier is not quoted):

The initial query:

[code]

The AST:

[code]

The SQLified:

[code]

**Database Engine**
BigQuery

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.6.10
-the node version: 14.15.5

[

[2021-09-15 15:51] joffreyvillard opened #741 "BigQuery: parser breaks on "accessing array elements" in a function return value"
**Describe the bug**

Accessing array elements in BigQuery has been fixed in #727 but the query below still fails (while being a perfectly valid BigQuery SQL query):

[code]

Error:

[code]

**Database Engine**
BigQuery

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.6.10
-the node version: 14.15.5

**Expected behavior**
No error, and the appropriate properties

[2021-09-16 21:00] goliatone opened #742 "SQLite: JSON cast function `json`"
**Describe the bug**
SQLite parser does not support json boolean cast function: e.g. `json('true')`

**Database Engine**
SQLite

**To Reproduce**
[code]
- the node-sql-parser version: 3.6.10
- the node version: v16.5.0

**Expected behavior**
Being able to parse the query

**Additional context**
Stack trace

[code]

[2021-09-20 13:26] joffreyvillard opened #744 "PostgreSQL: cast operator `::` for intervals"
**Describe the bug**

The query below  (using the cast operator `::` with `interval`) fails while being valid:

[code]

Error:

[code]

_Note: works with dates, e.g. `select '2021-09-20'::date`_

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.6.10
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate pr

[2021-09-20 13:37] joffreyvillard opened #745 "PostgreSQL: parser breaks on "accessing array elements""
**Describe the bug**
The queries below (using the square brackets notation to access an array element) fail with  a `SyntaxError` while being valid:

[code]

[code]

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.6.10
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled

[2021-09-20 13:59] joffreyvillard opened #746 "PostgreSQL: quoted CTE name"
**Describe the bug**

The query below (using a quoted CTE name) fails while being valid:

[code]

Error:

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.6.10
-the node version: 14.15.5

**Expected behavior**
No error, and the appropriate properties being filled up in the AST.

[2021-09-20 14:04] joffreyvillard opened #747 "PostgreSQL: quoted column name in `is distinct from` clause"
**Describe the bug**

The query below (using quoted identifier `"b"` in the `is distinct from` clause) fails while being valid:

[code]

_Note: works if I remove the double quotes around `b`_

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.6.10
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate prope

[2021-09-20 14:57] joffreyvillard opened #748 "PostgreSQL: `percentile_cont` not recognized"
**Describe the bug**
The query below (using the `percentile_cont` function) fails while being valid:

[code]

Error

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.6.10
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled up in the AST.

[2021-09-21 00:26] #738 closed

[2021-09-21 00:29] taozhi8833998 commented on #736
@tbantle22 try the new `3.7.0` version.

[2021-09-21 00:29] #736 closed

[2021-09-21 00:29] taozhi8833998 commented on #738
@fannheyward fixed in the `3.7.0` version.

[2021-09-22 19:02] tbantle22 commented on #736
Works, thanks!

[2021-09-25 00:31] #739 closed

[2021-09-25 00:31] #740 closed

[2021-09-25 00:31] #741 closed

[2021-09-25 00:36] taozhi8833998 commented on #739
@joffreyvillard fixed in the `3.7.1` version.

[2021-09-26 02:15] #742 closed

[2021-09-27 11:36] joffreyvillard commented on #739
Thanks!

[2021-09-27 20:54] franciscojuane commented on #713
@taozhi8833998 thanks! it works! but now I found another bug! using order by inside group concat gives another error

"group_concat(distinct(organization.name) order by organization.name) as column1"

"Expected "!=", "#-", "#>", "#>>", "%", "&&", ")", … "LIKE", "NOT", "||", or [ \t\n\r] but "o" found."

[2021-09-28 02:14] taozhi8833998 commented on #713
fixed in the next version

[2021-09-29 11:00] #744 closed

[2021-09-29 11:00] #745 closed

[2021-09-29 11:00] #746 closed

[2021-09-29 11:00] #747 closed

[2021-09-29 11:00] #748 closed

[2021-09-29 11:01] taozhi8833998 commented on #748
@joffreyvillard try the `3.8.0` version, it fixes the other issues related to pg, which was created by you.

[2021-09-30 08:13] joffreyvillard commented on #748
It's all good, thanks again!

[2021-09-30 10:22] melin opened #754 "Support for sql autocomplete?"
Support for sql autocomplete？

[2021-09-30 17:51] tbantle22 opened #755 "MySQL: Parsing `AS OF` queries returns error"
**Describe the bug**
A clear and concise description of what the bug is.

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
-the node-sql-parser version
-the node version

**Expected behavior**
A clear and concise description of what you expected to happen.

Getting error parsing any select statement with `AS OF`

[code]

[code]

[code]

[2021-10-04 14:01] taozhi8833998 commented on #755
@tbantle22 Can you show me the related link about the usage of `AS OF` in MySQL? I didn't find it, sorry for that.

[2021-10-04 17:43] tbantle22 commented on #755
Ah my bad, just double checked and MySQL has not adopted `AS OF` yet. Closing issue

[2021-10-04 17:43] #755 closed

[2021-10-07 08:13] baraa1234 opened #759 "CREATE comand type"
I see that in file types.d.ts the type (create) is missing:
`export type AST = Use | Select | Insert_Replace | Update | Delete | Alter;
`

in TypeScript this causes the following issue:
[code]
this prevents me from using great feature of typescript, and my project will always fail to compile (not a great idea).

please correct me if I missed something or if I am using the library in a wrong way.
T

[2021-10-07 23:21] tbantle22 opened #760 "[MySQL]: Parsing select query with `DIV` errors"
**Describe the bug**
A clear and concise description of what the bug is.

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
-the node-sql-parser version
-the node version

**Expected behavior**
Expect query to parse without error
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem her

[2021-10-08 11:35] taozhi8833998 commented on #754
@melin em, the module is a parser, and I think this feature is out of the parser. If you have any idea about how to achieve this feature, please let me know.

[2021-10-09 01:51] #759 closed

[2021-10-09 01:52] taozhi8833998 commented on #760
@tbantle22 fixed in the `3.8.1` version.

[2021-10-11 08:15] senguttuvang opened #762 ""error", "Expected [A-Za-z0-9_:] or [A-Za-z0-9_] but \&quot;(\&quot; found.""
**Describe the bug**
We are trying to extract the sub-query that has _export suffix. The query is a valid PgSQL query and gets executed successfully in the PgSQL client. The parser fails with an error.

**Database Engine**
PostgreSQL.

**To Reproduce**
[code]

-the node-sql-parser version - 3.6.0
-Node 14.x

JSFiddle:
https://jsfiddle.net/aheno/gmwkt2j0/4

**Expected behavior**
The query should ge

[2021-10-12 05:40] HenonoaH commented on #762
@taozhi8833998 Also, tried with the latest version 3.8.1 no luck!

[2021-10-13 02:42] zhanxu33 opened #765 "parse error"
报错信息：

版本：3.8.1

重现代码：
[code]

[2021-10-13 02:48] zhanxu33 commented on #765
去掉 `CHARACTER SET = utf8 COLLATE = utf8_general_ci` 和 `ROW_FORMAT = Dynamic` 就好了。可以支持下吗

[2021-10-13 11:56] taozhi8833998 commented on #765
@zhanxu33  I will publish a new version tomorrow to fix it.

[2021-10-14 14:16] taozhi8833998 commented on #762
@senguttuvang try `3.8.2` version

[2021-10-14 21:39] tbantle22 opened #770 "[MySQL]: Error parsing rename column query"
**Describe the bug**
A clear and concise description of what the bug is.

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
-the node-sql-parser version ^3.8.2
-the node version

[code]

[2021-10-15 00:53] taozhi8833998 commented on #770
@tbantle22 fixed, I will publish a new version `3.8.3` later

[2021-10-15 00:58] taozhi8833998 commented on #770
@tbantle22 please upgrade to `3.8.3` to solve it,  thx.

[2021-10-15 05:33] HenonoaH commented on #762
@taozhi8833998 Thanks for the prompt update on this. Upgrade to the latest version and got it working as expected.

[2021-10-15 07:27] zhanxu33 opened #772 "[mysql] parse error"
报错信息：
SyntaxError: Expected "!=", "#", "%", "&&", ")", "*", "+", ",", "-", "--", "/", "/*", "<", "<=", "<>", "=", ">", ">=", "AUTO_INCREMENT", "BETWEEN", "CHARACTER", "CHECK", "COLLATE", "COLUMN_FORMAT", "COMMENT", "CONSTRAINT", "DEFAULT", "IN", "IS", "KEY", "LIKE", "NOT NULL", "NOT", "NULL", "OVER", "PRIMARY", "REFERENCES", "REGEXP", "RLIKE", "STORAGE", "UNIQUE", "div", "||", or [ \t\n\r] but "O"

[2021-10-15 07:29] zhanxu33 commented on #765
thanks! it works! @taozhi8833998

[2021-10-16 23:56] #772 closed, assigned to taozhi8833998

[2021-10-18 09:27] joffreyvillard opened #774 "PostgreSQL: parser breaks on "similar to""
**Describe the bug**
The query below (using the `similar to` operator) fails with a `SyntaxError` while being valid:

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.8.0
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled up in the AST.

[2021-10-20 06:48] #774 closed

[2021-10-20 18:55] tbantle22 opened #778 "[MySQL]: Parsing `SHOW TABLES` query results in error"
**Describe the bug**
A clear and concise description of what the bug is.
Should handle all `SHOW TABLES` variations [here](https://dev.mysql.com/doc/refman/8.0/en/show-tables.html)

**Database Engine**
which database engine does your SQL running on? such as MySQL, PostgreSQL.
MySQL

**To Reproduce**
-the SQL that be parsed
-the node-sql-parser version ^3.8.4
-the node version

[code]

[2021-10-21 08:20] joffreyvillard opened #779 "PostgreSQL: parser breaks on single-quote character within a string constant"
**Describe the bug**
Both queries below (which use 2 different ways of including a single-quote character within a string constant - see  https://www.postgresql.org/docs/13/sql-syntax-lexical.html#SQL-SYNTAX-CONSTANTS) fail with a SyntaxError while being valid:

[code]

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.8.4
-

[2021-10-22 12:26] 18742467616 opened #781 "[MySQL]: Parsing query results in error with keywords "LEFT" and "CONVERT""
**Describe the bug**
fail to parser query contains keywords like ` LEFT`,`CONVERT` and so on

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
`select * from test where LEFT(column,2)="ts";`
**`ERROR:   Expected [A-Za-z0-9_:] or [A-Za-z0-9_] but "(" found.`**
`select * from test where CONVERT(column USING utf8)="test";`
**`ERROR:   Expected "!=", "#", "%", "&&", "(", ")", "*", "

[2021-10-23 02:27] #781 closed, assigned to taozhi8833998

[2021-10-23 21:40] planetbeing opened #785 "The word "session" is not supported as a column, table, or database name."
**Describe the bug**
The word "session" is not supported as a column, table, or database name.

**Database Engine**
MySQL

**To Reproduce**
Using `node-sql-parser` version 3.8.4.

[code]

**Expected behavior**
This should output the AST for `SELECT * FROM session`.

**Output**
[code]

**Additional context**
In `pegjs/mysql.pegjs` on line 93 (https://github.com/taozhi8833998/node-sql-parser/blob/7b

[2021-10-23 23:55] planetbeing opened #786 "Parenthesis are not supported inside expressions in CASE WHEN statements"
**Describe the bug**
Parenthesis are not supported in CASE WHEN statements.

**Database Engine**
MySQL

**To Reproduce**
Using `node-sql-parser` version 3.8.4.
[code]

**Expected behavior**
This should output the AST for `SELECT CASE WHEN (a - b) = 1 THEN 1 ELSE 0 END FROM t`

**Output**
[code]

**Additional context**
In `pegjs/mysql.pegjs`, the following is the line for processing `CASE WHEN` sta

[2021-10-24 00:04] planetbeing opened #787 "Support BINARY and VARBINARY types"
**Describe the bug**
Support BINARY and VARBINARY types

**Database Engine**
MySQL

**To Reproduce**
Using `node-sql-parser` version 3.8.4.
[code]

**Expected behavior**
This should output the AST for `SELECT CAST(a AS BINARY) END FROM t`

**Output**
[code]

[2021-10-24 00:07] planetbeing commented on #787
Sorry for filing all these issues. I can try to put together some pull requests for these issues. I am having a little bit of an issue building the library and running the tests since it appears that some of the dependencies specified in `package.json` that Dependabot made are too new.

[2021-10-24 00:18] planetbeing commented on #786
Actually, this bug seems to have been introduced in https://github.com/taozhi8833998/node-sql-parser/commit/cef51717ece376ce48258ce33bd1b1b5d5ffd14a

It might simply be better to change https://github.com/taozhi8833998/node-sql-parser/blob/7b0935630ca8bba53a736c54941a9fbc709c5eb7/pegjs/mysql.pegjs#L1773

to

[code]

And remove `parentheses_or_expr`, which seems redundant as if the whole expression

[2021-10-24 04:07] 18742467616 opened #788 "不支持replace into语句"
**Describe the bug**
解析replace into语句异常

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
`REPLACE INTO test (test_column1, test_column2) VALUES ('testvalue1', 'testvalue2')`
`ERROR: replace statements not supported at the moment`
-the node-sql-parser version
v3.8.4
-the node version
v12.22.6
**Expected behavior**
希望能解析成功

[2021-10-24 11:05] #779 closed, assigned to taozhi8833998

[2021-10-24 13:51] #785 closed, assigned to taozhi8833998

[2021-10-25 07:38] jnnkky opened #792 "PostgreSQL: Unable to parse double quotes (") in nested column identifier ("Schema"."Table"."Column")"
**Describe the bug**
The parser fails for valid PostgreSQL where columns in select are defined as `"Schema"."Table"."Column"`. Actually it can't handle any double quotes anywhere it seems. From the example query, neither the SELECT nor the FROM and ORDER BY parse without failure.

**Database Engine**
PostgreSQL. The queries are generated using [Prisma](https://prisma.io).

**To Reproduce**
- sql:

[2021-10-25 13:27] #788 closed, assigned to taozhi8833998

[2021-10-25 13:27] #792 closed, assigned to taozhi8833998

[2021-10-25 15:46] aajcx opened #794 "when hive sql includes multiple "and" and "or", parse failed"
**Describe the bug**
when hive sql includes multiple "and" and "or", parse failed

**Database Engine**
hive

**To Reproduce**
-the SQL that be parsed：

with upstream as (
       SELECT id,
              serial_no,
              poi_id,
              poi_name,
    partner_id,
              partner_name,
              sync_status,
              settle_type,
              amount_unit,
              C

[2021-10-26 03:48] 18742467616 opened #795 "对mysql的CONVERT函数支持不充分"
**Describe the bug**
不支持SELECT CONVERT('test', CHAR CHARACTER SET utf8mb4);
不支持SELECT CONVERT('test' USING utf8mb4) COLLATE utf8mb4_bin;

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
v3.9.1
-the node version
v12.22.6

[2021-10-26 06:46] joffreyvillard opened #796 "PostgreSQL: parser breaks with a function in "from""
**Describe the bug**
The query below fails with a SyntaxError while being valid:

[code]

Note that the following one is well parsed:

[code]

The same happens with the `unnest` function, so I guess it's not specific to a particular function.

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.1
-the node version: 14.15.5

**Expect

[2021-10-26 13:51] #794 closed, assigned to taozhi8833998

[2021-10-28 06:07] #795 closed, assigned to taozhi8833998

[2021-10-29 13:54] #796 closed, assigned to taozhi8833998

[2021-11-02 04:02] 18742467616 opened #805 "对mysql中的IF函数的sql解析在某些情况下会报错"
**Describe the bug**
对mysql中的IF函数在条件首个为负数时，解析会报错

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
select a from test where b like IF(-1 = -1, 'a', 'b');
-the node-sql-parser version
3.9.3
-the node version
12.22.6

[2021-11-03 02:37] #805 closed

[2021-11-03 02:42] taozhi8833998 commented on #805
@18742467616 please upgrade to the `3.9.4` version.

[2021-11-04 09:44] joffreyvillard commented on #796
Confirmed, thanks.

[2021-11-04 09:49] joffreyvillard opened #808 "PostgreSQL: cast operator `::` for arrays"
**Describe the bug**

The query below (using the cast operator `::` with array) fails while being valid:

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled up in the AST.

[2021-11-04 10:11] 18742467616 opened #809 "sql在astify和sqlify之后，失去了对特殊字符的转义，可造成sql注入"
**Describe the bug**
sql在astify和sqlify之后，失去了对特殊字符的转义，可造成sql注入

**Database Engine**
MySQL

**To Reproduce**
-the SQL that be parsed
select * from test where a='te\'st';
-the node-sql-parser version
3.9.4
-the node version
12.22.6

**Expected behavior**
var mysql = require("mysql");
const { Parser } = require('node-sql-parser/build/mysql');
const parser = new Parser();
var sql = mysql.format("select

[2021-11-04 10:26] joffreyvillard opened #810 "PostgreSQL: newline before cast operator in a function call"
**Describe the bug**
The query below (using the cast operator `::` on a new line within a function call) fails while being valid:

[code]

Note that the following queries are well parsed:

newline before cast operator
[code]

newline in a function call

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version:

[2021-11-04 10:46] joffreyvillard opened #811 "PostgreSQL: accessing array element in function call"
**Describe the bug**
The parser fails on the query below (accessing an array element within a function call) while it is valid.

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled up in the AST.

[2021-11-04 10:48] joffreyvillard opened #812 "PostgreSQL: accessing array element in an `on` clause"
**Describe the bug**
The parser fails on the query below (accessing an array element in an `on` clause) while it is valid

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled up in the AST.

[2021-11-04 10:50] joffreyvillard opened #813 "PostgreSQL: fails when there isn't any space before "and""
**Describe the bug**
The parser fails on the query below (without space before `and`) while it is valid.

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled up in the AST.

[2021-11-04 12:08] joffreyvillard opened #814 "PostgreSQL: `distinct on` wrongly detected as a function with an alias"
**Describe the bug**
The parser wrongly identifies a "distinct on" clause as a "distinct" with an "on(...)" function call associated with an alias.

Example:

Original SQL

[code]

`stringify(astify(SQL))`:

[code]

The full AST (see the `"as": "a"` in the "first column"):

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9

[2021-11-04 12:11] joffreyvillard opened #815 "PostgreSQL: `current_date`"
**Describe the bug**
The parser fails on the query below (using `current_date`) while it is valid.

[code]

NB: works well with `current_timestamp`

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version: 14.15.5

**Expected behavior**
 No error, and the appropriate properties being filled up in the AST.

[2021-11-05 00:00] goliatone opened #816 "[PostgreSQL] `WINDOW` support"
**Describe the bug**
Parser does not support `WINDOW` queries

**Database Engine**
- PostgreSQL.

**To Reproduce**

- SQL that be parsed:
[code]
- node-sql-parser version: 3.9.4
- node version: v16.5.0

**Expected behavior**

Parser should be able to handle sql query with `WINDOW`

**Additional context**

Error output:

[code]

[2021-11-05 14:25] esetnik opened #817 "[TSQL] GO syntax"
**Describe the bug**
Support GO syntax

**Database Engine**
mssql

**To Reproduce**
-the SQL that be parsed
[code]
-the node-sql-parser version
v3.9.4

-the node version
v14.18.1

**Expected behavior**
No error as this is valid syntax

**Screenshots**
![image](https://user-images.githubusercontent.com/664434/140525923-38b0293d-95b8-4bc6-ae92-fbb4427655eb.png)

**Additional context**
https://docs.m

[2021-11-06 03:12] #809 closed

[2021-11-07 00:47] pietermees opened #819 "[BigQuery] WITH clause in FROM statement fails"
**Describe the bug**
Parsing a SQL statement that has a `WITH` clause in the `FROM` expression fails with the following error:
[code]

**Database Engine**
BigQuery

**To Reproduce**
[code]
node-sql-parser 3.9.4
Node v16.11.1

**Expected behavior**
Expect valid SQL statements to successfully parse.

[2021-11-09 13:58] #808 closed

[2021-11-10 00:23] #810 closed

[2021-11-10 09:56] joffreyvillard opened #824 "BigQuery: parser breaks with unnest in a "from" clause that also involves regular tables"
**Describe the bug**

The parser raises a syntax error on the query below while it is valid.

[code]

A simple select on `unnest` does not raise an error, but creates a `from` element with type `unnest`. Is this expected?

[code]

**Database Engine**
BigQuery

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version: 14.15.5

**Expected behavior**

[2021-11-11 14:55] #811 closed

[2021-11-11 14:55] #812 closed

[2021-11-11 15:01] taozhi8833998 commented on #813
Sorry, I won't fix that, even though the SQL is valid.

[2021-11-12 08:10] joffreyvillard commented on #813
Hi, is there a specific reason (particular technical difficulty) for not fixing this one specifically?

[2021-11-12 12:44] #814 closed

[2021-11-14 00:26] #815 closed

[2021-11-16 11:35] joshstevens19 opened #831 "Does not support Postgres syntax of $<field>"
Thanks for the great lib! just seeing an issue with Postgres support

Does not support Postgres syntax of `$<field>`; aka

does not work:
[code]

works:
[code]

**Database Engine**

PostgreSQL.

[code]

Error:

C:\Users\taozhi\learning\node-sql-parser\pegjs\postgresql.pegjs:3437
    return new peg$SyntaxError(
           ^
u [SyntaxError]: Expected "+", "-", [0-9], or [A-Za-z_] but "<" found.

**E

[2021-11-16 15:35] kalidas3 opened #832 "Anyway to Ignore few queries / keywords"
I'm trying to use this parser to parse spark SQL.
The below given query is valid only but throws an error.
`select last(col) FROM VALUES(10),(5),(20) AS tab(col)`

Database Engine
MySQL

To Reproduce
-the node-sql-parser version: 4.0.1
-the node version: 16.13.0

If there's a way to ignore those queries or validation success, then it would work.
Thanks in advance

[2021-11-17 03:55] FangZiyong opened #833 "mysql8.0 window function grammar support"
**Describe the bug**
sql script with mysql 8.0 window function doesn't work

**Database Engine**
MySQL

**To Reproduce**

[code]

-the node-sql-parser version
3.9.4
-the node version
14.12.0

**Expected behavior**
return right ast

**Screenshots**
![image](https://user-images.githubusercontent.com/49521726/142131634-3fa03c5a-3416-4ac2-8b40-93c94d76fd20.png)

**Additional context**
[msyql 8.0 windo

[2021-11-17 14:30] joffreyvillard opened #834 "PostgreSQL: generated SQL contains unsupported `RESPECT NULLS` clause"
**Describe the bug**

The query below when parsed-then-stringified leads to some invalid SQL: `RESPECT NULLS` is added while it's not supported in postgres (see https://www.postgresql.org/docs/14/functions-window.html)

Original query

[code]

Generated SQL (astify + stringify):

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser versio

[2021-11-17 14:44] joffreyvillard opened #835 "PostgreSQL: cast operator after closing parenthesis"
**Describe the bug**
 The parser fails on the query below (cast operator `::` right after a closing parenthesis and before `/`) while it is valid.

[code]
Queries below are well parsed FYI:

[code]

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 3.9.4
-the node version: 14.15.5

**Expected behavior**
 No error, and the appr

[2021-11-20 09:22] taozhi8833998 commented on #817
@esetnik fixed, I will publish a new version later.

[2021-11-20 09:22] #817 closed

[2021-11-21 09:29] #819 closed

[2021-11-21 09:29] #824 closed

[2021-11-22 02:00] #816 closed

[2021-11-22 12:06] #831 closed

[2021-11-23 01:04] #833 closed

[2021-11-23 01:05] taozhi8833998 commented on #833
@FangZiyong try the `4.0.0` version

[2021-11-23 01:05] taozhi8833998 commented on #831
@joshstevens19 fixed in the `4.0.0` version.

[2021-11-23 01:06] taozhi8833998 commented on #824
@joffreyvillard try the `4.0.0` version

[2021-11-23 01:06] taozhi8833998 commented on #819
@pietermees Sorry for the late reply, it has been fixed in the `4.0.0` version.

[2021-11-23 01:08] taozhi8833998 commented on #817
@esetnik try the `4.0.0` version

[2021-11-23 01:08] taozhi8833998 commented on #816
@goliatone try the `4.0.0` version

[2021-11-23 01:09] taozhi8833998 commented on #809
@18742467616 try the `4.0.0` version

[2021-11-25 00:35] #834 closed

[2021-11-25 07:08] ghostoy opened #846 "Syntax error on certain query"
**Describe the bug**
Some SQL throws syntax error

**Database Engine**
MySQL

**To Reproduce**
- SQL
[code]
- the node-sql-parser version
`4.0.0`
- the node version
`14`

**Expected behavior**
Should be valid without error

This statement can get passed if wrapped the `if` statement with a parentheses like:
[code]

**Screenshots**
No

**Additional context**
No

[2021-11-25 13:35] joffreyvillard commented on #824
Confirmed for this issue and the previously reported ones, thanks!

[2021-11-26 00:09] #835 closed

[2021-11-26 10:53] joffreyvillard opened #847 "PostgreSQL: parse fails when the `on` clause includes 2 conditions with an `and`"
**Describe the bug**

The parser fails on the query below (the `on` clause includes 2 conditions with an `and`):

[code]

Note that both queries below are well parsed:

Only 1 condition in the `on`
[code]

Parentheses surrounding the condition
[code]

**Database Engine**
PostgreSQL.

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 4.0.0
-the node version: 14.15.5

[2021-11-26 14:48] FangZiyong opened #848 "mysql8.0 window function bug"
**Describe the bug**
there is bug when using window function

**Database Engine**
mysql

**To Reproduce**

[code]

-the node-sql-parser version
4.0.0
-the node version
16.13.0

**Expected behavior**
analyse mysql sql correctly

**Screenshots**
![image](https://user-images.githubusercontent.com/49521726/143598045-4afaa569-3af9-45f8-a798-c29c528b4ad5.png)

[2021-11-27 12:02] #846 closed

[2021-11-28 00:42] #848 closed

[2021-11-28 00:50] #847 closed

[2021-11-28 00:51] taozhi8833998 commented on #848
@FangZiyong fixed in `4.0.1`

[2021-11-28 00:51] taozhi8833998 commented on #847
@joffreyvillard fixed in `4.0.1`

[2021-11-28 00:52] taozhi8833998 commented on #846
@ghostoy fixed in `4.0.1`

[2021-11-29 11:20] joffreyvillard commented on #847
Excellent, thanks!

[2021-11-30 09:35] joffreyvillard opened #852 "PostgreSQL: parse fails with cast operator and some combination of parens"
**Describe the bug**
The parser fails on the query below (similar cases can happen with complex calculations), while being valid:

[code]

Note that both queries below are well parsed:

Parens in numerator only:

[code]

Parens in denominator only:

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 4.0.1
-the node version: 14.

[2021-11-30 09:42] joffreyvillard opened #853 "PostgreSQL: tablesample"
**Describe the bug**
The parser fails on the query below (using the `tablesample` clause) while being valid.
More on this functionality in the doc: https://www.postgresql.org/docs/14/sql-select.html

[code]

**Database Engine**
PostgreSQL

**To Reproduce**
-the SQL that be parsed: see above
-the node-sql-parser version: 4.0.1
-the node version: 14.15.5

**Expected behavior**
 No error, and the app